

.bg-verde{
    background-color: #F4F4F4;

}

.mis-colores-nav{
    color: #414141;
}

.customSerch{
    max-width: 200px;
}

.btn-custom {
    background-color: #6B9365; /* Cambia este color a tu preferencia personalizada */
    color: #ffffff; /* Cambia este color al texto del botón según tu preferencia */
    border-color: #6B9365; /* Cambia este color al borde del botón según tu preferencia */
    transition: background-color 0.3s ease, color 0.3s ease, border-width 0.3s ease;
    border-width: 2px; /* Transición suave */
    width: 160px;
    height: 82px;
    font-size: 12px; /* Ajusta este valor según tu preferencia de tamaño de texto */
    padding: 8px 12px;
   

  }
  .btn-custom:hover{
    background-color: #ffffff; /* Cambia este color a tu preferencia personalizada */
    color: #6B9365; /* Cambia este color al texto del botón según tu preferencia */
    border-color: #6B9365;
    
  }

  .section {
    height: 100px; /* Ajusta la altura según tus necesidades */
    background-color: #3498db; /* Color de fondo */
  }


  .carousel-container {
    max-width: 700px; /* Establece el ancho máximo según tus necesidades */
    margin: 0 auto; /* Centra el contenedor en la página */
  }
  
  .padigCustomIzquierda{
    padding-right: 50px;
  }

  .accordion-header {
    text-align: center !important;
  }


  .dropdown-menu-wide {
    width: 100%;
    padding: 1rem;
  }

  .dropdown-menu1.center {
    right: auto !important;
    left: auto !important;
    transform: translateX(-25%) !important;
  }

  .vertical-bar {
    border-right: 1px solid #ccc;
    height: 100%;
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translate3d(0, 10%, 0);
    }
    to {
      opacity: 1;
      transform: none;
    }




  }

/* Cambiar el color de fondo y el color del texto al hacer clic en una opción del menú desplegable en Bootstrap */
.navbar-nav .nav-item .nav-link.dropdown-toggle.active,
.navbar-nav .nav-item .nav-link.dropdown-toggle:focus {
  background-color: #ffffff; /* Cambia a tu color de fondo deseado */
  color: #6B9365; /* Cambia a tu color de texto deseado */
}

/* Cambiar el color de fondo y el color del texto al hacer clic en una opción del menú desplegable en Bootstrap - Versión desplegada */
.navbar-nav .nav-item .nav-link.dropdown-toggle.active+.dropdown-menu,
.navbar-nav .nav-item .nav-link.dropdown-toggle:focus+.dropdown-menu {
  background-color: #ffffff; /* Cambia a tu color de fondo deseado */
  color: #6B9365; /* Cambia a tu color de texto deseado */
}

/* Cambiar el color de fondo y el color del texto al hacer clic en una opción del menú desplegable en Bootstrap - Opción del menú */
.navbar-nav .nav-item .nav-link.dropdown-item.active,
.navbar-nav .nav-item .nav-link.dropdown-item:focus {
  background-color: #ffffff; /* Cambia a tu color de fondo deseado */
  color: #6B9365; /* Cambia a tu color de texto deseado */
}






  .btn-custom-nave:hover{
    background-color: #ffffff; /* Cambia este color a tu preferencia personalizada */
    color: #6B9365; /* Cambia este color al texto del botón según tu preferencia */
    border-color: #6B9365;}

  .letraNav1{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }

  .letraNav2{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
  }
  .textoNav{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #668861;
  }

  .letraBotonNav{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
  }

  .letra2{
    font-family: 'Montserrat', sans-serif;
  }

  .titulo1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: #5D606A;
  }
 
  .subTitulo1{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #282E42;
  }

  .subtitulo2{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #282E42;
  }

  .botonesVerdes{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #ffffff;
  }

  .cardsTitulo{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #282E42;
  }

  .colorBotonesA{
    
    background-color: #6497E4;
     /* Cambia este color a tu preferencia personalizada */
    color: #ffffff; /* Cambia este color al texto del botón según tu preferencia */
    border-color: #6497E4; /* Cambia este color al borde del botón según tu preferencia */

    
  }


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 30
}


  .disclaimerTitulo{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #282E42;
    font-size: 10px;
  }

  .disclaimerTexto{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #282E42;
    font-size: 8px;
  }

  .btnMedioCustom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }


  .enferTitulo{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #282E42;
  }

  .enferTexto{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #282E42;
    font-size: 18px;
    
  }


  ul {
 
    list-style-position:inside;
     /* Esto centra el texto en la lista si es necesario */
  }
  


  .accordion-body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #282E42;
   
   margin-left: 5%;
   margin-right: 5%;
   text-align: justify;
   font-size:medium;
    
  }

  .accordion-body2{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #282E42;
   
   margin-left: 5%;
   margin-right: 5%;
   
   font-size:medium;
    
  }

  footer {
    width: 100%;
    position: bottom;
    bottom: 0;
    
  }



/*Acordion*/

.accordionheaderStilo{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #282E42;
  background-color: #D0D4BB; /* Cambia #00FF00 por el color de fondo que desees */
  font-size: large;

  text-align: center; /* Alinea el texto al centro */
  justify-content: center;
  align-items: center;
  

}

.centrar{
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #282E42;

}




    /* Estilo para el botón del acordeón cuando está activo */
    .accordion-item.show .accordion-button {
      background-color: #FFA500 !important; /* Cambia por el color de fondo que desees */
      color: #000000 !important; /* Cambia por el color del texto que desees */
    }

  

 
    .iframe-container {
      position: relative;
      overflow: hidden;
      padding-top: 125%; /* Proporción del aspecto 3:2 para el contenedor del iframe */
      margin-bottom: 5%;
    }

    .iframe-container iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .custom-margin {
      margin-top: 2%; /* Ajusta el margen superior según tus necesidades */
      
    }

    .tituloayuda{
      color: #ffffff;
    }


    .phone-numbers {
      margin-top: -20px; /* Ajusta el valor según tus necesidades para subir los números de teléfono */
    }

    .full-width-line {
      width: 100%;
      border-top: 1px solid #ccc;
    }


    .container-fluid {
      padding: 0; /* Elimina el relleno del contenedor */
  }



  .carousel-inner {
    width: 100%;
}

.carousel-item img {

    width: 100%;
    max-height: 400px; /* Ajusta la altura máxima según sea necesario */
}      

.carro{
  align-items: center;
  justify-content: center;
  align-items: center;
}

@media (max-width: 576px) {
  .achiqueacomode .col-sm-4 {
      width: 100% !important;
      margin: auto !important;
  }
}

hr{
  margin: 5%;
}

.mover {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #ffffff; /* Puedes ajustar el color de fondo según tu diseño */
  /* Asegura que el menú esté por encima del contenido */
  height: 100vh; /* Ajusta la altura según tus necesidades */
  overflow-y: auto; /* Permite el desplazamiento si el contenido es más largo */
}

/* Añade algún margen para separar el menú del contenido */
.scrollspy-example {
  margin-top: 20px;
}


.infocesar{
  font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #282E42;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    text-align: justify;

}

.slogan{
  font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #282E42;
    
}