<!doctype html>
<html lang="es">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Medicina-Natural</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="styles" href="/js/popper.min.js">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
   </head>




   
  <body>

    R01
    Zanahoria, 2 cdas Finamente ralladas
    Lechuga, 2 cdas Finamente picadas
    Tomate, ½ (mediano) Dividido en trozos pequeños
    Apio, 2 cdas Finamente picado
    Pasas, 2 cdas Preferible sin semillas
    Col morada (colza) 2 cdas Finamente picada
    Banana, ½ (mediana) En cuadritos
    Rábanos, 5 pequeños Finas rodajas
    Manzana, 1 (grande) Cortada en tiras
    Aguacate, ½ (mediano) Pelado y en rodajas long
    
    Para aderezar: nuez picada, salsa de cereza y berro
    
    Colóquelas cada una en capas, comenzando desde las zanahorias una sobre otra incluyendo la banana. Los rábanos colóquelos alrededor del plato, la manzana rallada en el centro, las rodajas de aguacate en los bordes del plato, esparza la nuez sobre una capa de salsa de cereza. Aderece alrededor con berro.


    R02
Apio, 2 cdas Finamente picado
Zanahoria, 2 cdas Finamente rallada
Lechuga, 2 cdas
Cebolla, 1 cda
Tomate, ½ (mediano)
Banana, 1 en tirillas
Miel, 2 cdas
Nueces, 2 cdas Picadas
Aguacate, ½ (mediano) Pele y corte en rodajas largas.
Rábanos, 5 pequeños Cortados en 4 partes
Aceitunas
Perejil

Coloque algunas capas comenzando con el apio, la zanahoria, la mezcla de lechuga, tomate y cebolla. En el centro la banana picada con la banana. El aguacate en rodajas con los rábanos alrededor del plato, las aceitunas en el centro y aderece con perejil.



R07
Lechuga, ½ cabeza Finamente picada
Zanahorias, 1 o 2 grandes Finamente rallada
Pasas sin semilla, ½ tz.
Queso tierno, 3 onz.
Miel

Coloque la lechuga picada en un plato, cubra con zanahoria rallada y la mitad de las pasas mezclando. Luego esparza 1 o 2 cdas de miel con queso tierno y aderece con el resto de las pasas.


R17
Lechuga, ¼ de cabeza Finamente picada
Vainitas, 3 o 4 Finamente picada
Pepino, ½ (grande con piel) Rallado
Berro, 3 o 4 ramas Finamente desmenuzado
Pimiento verde, 1 cda Finamente rallado
Tomate, 1 (grande maduro) Pelado en rodajas
Aguacate, ½ (mediano) Pelado y cortado en rodajas longitudinales
Queso tierno, 2 onz.

Mezcle todos los vegetales picados y rallados, arr130glelos en una porción de lechuga. Cubra con rodajas e tomate y coloque rodajas de aguacate alrededor. Cubra con queso.



R18
Tomate, 1 (muy grande, suave y rojo)
Apio, 3 o 4 tallos Finamente picado
Cebolla verde 3 o 4 Finamente picado
Pepino, ½ (mediano con piel) Rallado
Queso tierno, 2 onz.
Aceitunas, 4 grandes
Pimiento verde, dulce

Después de cortar el tomate en picos, dando la forma de pétalos de flor, sacando el centro. Rellene el tomate, con apio, cebolla verde, pepino y el tomate picado que sacó del centro; cubra con queso y aderece con tiras muy delgadas de pimiento verde y aceitunas.




R19
Manzana, 1 (muy grande o 2 pequeñas) Pélelas y córtelas en forma de aros y sumérjalas en sumo de limón.
Perejil, 1 cda. Finamente picado
Apio, 3 o 4 tallos Finamente picado
Aguacate, ½ (grande maduro) Pélelo y córtelo en rodajas longitudinales.

Coloque el apio picado en cama de hojas de lechuga. El aguacate pélelo y córtelo en aros sin semilla, colóquelos sobre cada aro de manzana; arregle decorativamente sobre la cama de apio picado y esparza perejil.




R20
Col, 1 tz. Finamente picada
Apio, 2 o 3 tallos Finamente picado
Aceitunas Cortadas en 4 partes
Rábanos, 4 o 5 (pequeños) Cortados en 4 partes
Crema agria

Mezcle todo, guarde un poco de rábano para aderezar. Mezcle con suficiente crema agria al paladar. Si usted gusta añada un poquito de sal. Sirva en cama de lechuga romana, cubra con los rábanos.



R21
Lechuga, ¼ de cabeza Finamente picada
Apio, 3 o 4 tallos Finamente picados
Col, 1 tz. Finamente picada
Tomate, 1 grande Cortado en rodajas
Zanahoria, ¼ de tz Finamente rallada

En un tazón mezcle la lechuga, col y zanahoria; cubra con el aguacate y esparza el apio. Aderece con aceitunas.



R22
Lechuga, ½ pequeña Finamente picada
Apio, 3 tallos Finamente picado
Ciruelas pasas Córtelas sin semillas
Manzanas, 1 (grande) Finamente rallada
Nueces
Miel
Yogurt

Mezcle todo junto, el apio, lechuga, ciruela pasa y manzana; añada suficiente miel. Sirva en una cama de lechuga, agregue yogurt sin sabor y un chorrito de miel para aderezar.
Las ciruelas pasas póngalas a remojar en la noche, no las cocine.





R24
Piña, ¼ tz (sin dulce)
Pera, ½ (mediano) Rallada
Manzana, 1 pequeña Rallada
Col, ½ tz. Finamente picada
Nuez
Yogurt, ½ tz.

Mezcle la piña, pera, manzana y col con 2 tenedores y añada la mitad del yogurt. Coloque en una cama de lechuga y aderece con el resto del yogurt y la nuez.


R25
Col, ½ tz. Finamente picado
Perejil, 1 cda Finamente desmenuzado
Apio, 2 tallos Finamente picado
Zanahoria, 1 grande Finamente rallada
Miel, 1 cda
Queso tierno, 2 onz.
Manzana, 1 pequeña o mediana Rallada
Aguacate, ½ mediano Pelado y cortado en rodajas longitudinales.

Mezcle todo con un poquito de mayonesa vegetal. Sírvalo sobre hojas de lechuga romana, aderece con aguacate.


R26
Nabo, 1 mediano Rallado
Col morada, ½ tz. Finamente picada
Apio, 1 o 2 tallos Finamente picados
Perejil, 1 cda Finamente desmenuzada
Lechuga romana, ½ cabeza Finamente picada
Aguacate, ½ mediano Pelado y cortado en rodajas longitudinales.

Mezcle todo con un poquito de mayonesa vegetal. Sírvalo sobre hojas de lechuga romana. Aderece con aguacate.


R32
Espinaca, ½ grande Finamente picada
Aguacate, ½ grande maduro Pelado y majado
Apio, 2 o 3 tallos Finamente picado
Cebolla perla, ½ mediana Finamente picada
Tomate, 2 medianos Sacado el centro

Aceitunas y pimiento verde para aderezar

Mezcle la espinaca, aguacate, apio y cebolla para rellenar los tomates; colóquelos en un plato sobre una cama de lechuga y aderece con una capa de tirillas de pimiento verde y coloque aceitunas en el centro de cada tomate. Esto puede ser servido con apio, aceitunas y tirillas de queso tierno.

R35
Zanahoria, 1 mediana Finamente rallada
Espinaca, ½ ramo Finamente picado
Lechuga, ¼ de cabeza Finamente picado
Perejil, 1 cda Finamente picado
Manzana, 1 grande Rallada
Aguacate, ¼ mediano Pelado y cortado long.
Miel, 1 cda.

Mezcle todo en un tazón, la zanahoria, espinaca, lechuga y perejil; añada una cda de queso tierno. Ponga esta mezcla sobre una cama de lechuga, esparza miel; añada la manzana rallada y ponga encima el resto del queso.




RM43
TORTA DE ESPINACA

Ingredientes:

700 gramos de espinaca Aceite de oliva
350 gramos de arroz de dieta Levadura dietética
2 cebollas

Preparación: se cocina el arroz. Aparte se dobla cada hoja de espinaca en dos a lo largo del nervio central y se quita el tallo; se lavan y escurren; se colocan en una olla para que ablanden, a fuego lento, con una cuchara sopera de aceite. Se pelan y pican finamente las cebollas, se sofríen y cuando estén transparentes se les agrega el arroz, se mezcla, se agrega la levadura y se retira del fuego. Cuando las espinacas estén cocidas, se pican grueso y se les agrega sal. En un molde refractario previamente aceitado, se coloca una porción de arroz y luego una de espinaca, así sucesivamente, terminando con el arroz; se coloca al horno precalentado, durante 50 minutos (temperatura media) Se sirve fría.




      <!-- Logo en la esquina izquierda -->
    <div class="language-container bg-verde p-4">
      <div class="float-end bg-verde">
        <a href="#" class="language-link">Cambiar Idioma</a>
      </div>
    </div>
   
    <nav class="navbar navbar-expand-lg bg-white">
      <div class="container-md p-0">
        <!-- Logo en la esquina izquierda -->
        <a class="navbar-brand mis-colores-nav p-2" href="/index.html">
          <img src="/img/logo-final.png" alt="logo" class="img-fluid" style="max-width: 200px;">
        </a>
    





        
        <!-- Botón para toggle de navegación en pantallas pequeñas -->
        <button class="navbar-toggler order-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <!-- Enlaces centrados -->
        <div class="collapse navbar-collapse order-1 justify-content-end p-2" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="letraNav1 nav-link mis-colores-nav" href="/centroDeAyuda.html">Centro de ayuda</a>
            <a class="letraNav1 nav-link mis-colores-nav" href="/contacto.html">Contacto</a>
            <a class="letraNav1 nav-link mis-colores-nav" href="/cesarArmoza.html">Cesar Armoza</a>
            <li class="nav-item dropdown">
              <a class=" letraNav1 mis-colores-nav nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Enlaces de Interes
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/enfermedades/alergias.html">Emfermedades</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
          </ul>
          </div>
        </div>
    

    
       <!-- Botón en la esquina derecha -->
       <a href="" class="colorBotonesA mx-3 btn btn-primary btn-lg order-4 letraBotonNav "><img src="/img/calendar.png" alt=""> Reservar</a>
       
    </div>
  </nav>
    
    


<!-- Segunda barra de navegación -->

<nav class="navbar navbar-expand-lg navbar-light bg-light d-none d-sm-block">
  <div class="container">
    <!-- Centra los enlaces en el medio de la pantalla -->
    <ul class="navbar-nav mx-auto">
      <li class="nav-item dropdown">
        <a class="letraNav2 nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Nuestros Servicios
        </a>
        <div class="dropdown-menu  center fade ">
          <div class="d-flex ">
            <div class="col vertical-bar">
              <a class="dropdown-item text-center letraNav2" href="/nuestrosServicios/acupuntura.html">Acupuntura</a>
              <a class="dropdown-item text-center letraNav2" href="/nuestrosServicios/masajes.html">Masajes</a>
              <a class="dropdown-item text-center letraNav2" href="/nuestrosServicios/parches.html">Parches</a>
              <a class="dropdown-item text-center letraNav2" href="/nuestrosServicios/medicinaTradicionalNatural.html">Medicina Tradicional<br>Natural</a>
              <a class="dropdown-item text-center letraNav2" href="/nuestrosServicios/cupping.html">Cupping</a>
              <a class="dropdown-item text-center letraNav2" href="/nuestrosServicios/ventosas.html">Ventosas</a>
        

          
          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle letraNav2" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bs-popper="center-start" >
              Enfermedades
            </a>
            <div class="dropdown-menu dropdown-menu1 center fade ">
              <div class="d-flex ">
                <div class="col vertical-bar">
                  <h5 class="dropdown-header text-center  textoNav ">A</h5>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/alergias.html">Alergias</a>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/anemia.html">Anemia</a>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/ansiedad.html">Ansiedad</a>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/arritmia.html">Arritmia</a>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/artritis.html">Artritis</a>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/asma.html">Asma</a>
                  <h5 class="dropdown-header text-center  textoNav">B</h5>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/broquitis.html">Bronquitis</a>
                  <h5 class="dropdown-header text-center  textoNav">C</h5>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/cancer.html">Cancer</a>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/colesterolAlto.html">Colesterol alto<br>(Hipercolesterolemia)</a>

                </div>
                <div class="col vertical-bar">
                  <h5 class="dropdown-header text-center textoNav">D</h5>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/desordenesGastricos.html">Desordenes Gastricos</a>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/dedsordenesProstaticos.html">Desordenes Prostaticos</a>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/diabetesMellitus.html">Diabetes Millitus</a>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/diarrea.html">Diarrea</a>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/dolorDeGarganta.html">Dolor de Garganta</a>
                  <h5 class="dropdown-header text-center textoNav">E</h5>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/enfermedadDeCrohn.html">Emfermedad de Crohn</a>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/enfermedadPeriodontal.html">Enfermedad Periodontal</a>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/ets.html">Enfermedad de<br>Transmicion Sexual</a>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/epilepsia.html">Epilepsia</a>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/constipacion.html">Constipacion</a>
                </div>

                <div class="col vertical-bar">
                  <h5 class="dropdown-header text-center textoNav">H</h5>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/halitosis.html">Halitosis (Mal Aliento)</a>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/hemorroides.html">Hemorroides</a>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/hepatitis.html">Hepatitis</a>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/herpeszoster.html">Herpes Zoster</a>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/hipertiroidismo.html">Hipertiroidismo</a>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/hipotiroidismo.html">Hipotiroidismo</a>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/sida.html">HIV Infeccion (SIDA)</a>
                  <h5 class="dropdown-header text-center textoNav">I</h5>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/impotenciaSexual.html">Impotencia Sexual</a>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/incontinencia.html">Incontinencia</a>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/infeccionVUrinarias.html">Infeccion de las vias Urinarias</a>/

                </div>
                <div class="col vertical-bar">
                  <h5 class="dropdown-header text-center textoNav">L</h5>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/lupusEritematoso.html">Lupus Eritematoso</a>
                  <h5 class="dropdown-header text-center letraNav2 textoNav">M</h5>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/menopausia.html">Menopausia</a>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/migranias.html">Migraña</a>
                  <h5 class="dropdown-header text-center textoNav">P</h5>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/perdidaDeCabello.html">Perdida de Cabello</a>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/hipertension.html">Presion Arterial Alta<br>Hipertension</a>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/psoriasis.html">Psoriasis</a>
                </div>
                <div class="col">
                  <h5 class="dropdown-header text-center textoNav">S</h5>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/sinusitis.html">Sinusitis</a>
                  <h5 class="dropdown-header text-center textoNav">T</h5>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/trastornoDeLaVesicula.html">Trastorno de la Vesicula </a>
                  <h5 class="dropdown-header text-center textoNav">V</h5>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/vitiligo.html">Vitiligo</a>

                </div>
    
              </div>

          <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle letraNav2" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true"   aria-expanded="false">
           Ejercicios para su salud
         </a>


         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle letraNav2" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Recetas caseras
          </a>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle letraNav2" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Preguntas frecuentes
            </a>

          
          
        </div>
      </li>

    </ul>
  </div>
</nav>


<!--ESTE ES EL CONTENIDO DE LA PAG-->

<div class="container-fluid text-center">
  <div class="row">
    <div class="col-md-6">
      <h1 class="m-5 enferTitulo">
        Anemia
      </h1>
      <p class="enferTexto m-5">
        Es la disminución en la cantidad de glóbulos rojos de la sangre o por la disminución de la cantidad de hemoglobina en sangre. Estas células rojas o hematíes contienen hemoglobina, una proteína encargada del transporte de oxígeno. Por lo tanto al disminuir la cantidad de hematíes habrá menos aporte de oxígeno a las células y tejidos en general. Como resultado de esto habrá menos energía para realizar las funciones normales del cuerpo; procesos importantes tales como la actividad muscular, construcción y reparación celular.
      </p>
    </div>


    <div class="p-4 col-md-6">
      <img class="img-fluid" src="/enfermedades/img/Rectangle 26anemia.png" alt="">
    </div>

  </div>


 <!--Acordeon-->
  <div class="container-flex">
    <div class="accordion" id="accordionExample">
      <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button accordionheaderStilo align-items-center " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <div class="centrar">
              Signos y sintomas
            </div>
          
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Los sintomas clasicos incluyen:
            <br>

          <ul class="list-unstyled ">
          <li> Fatiga, Palidez</li>
          <li>Dificultad respiratoria durante un ejercicio fisico</li>
          <li>Palpitaciones, Mareos, Insomnio</li>
          <li>Dolor de cabeza</li>
          <li> Molestias Gatrointestinales</li>
          <li>Perdida de la Agudeza Mental</li>
          <li> Latidos Cardiacos Irregulares y Hasta Soplo Caridiaco</li>

          </ul>

          </div>
        </div>
      </div>
    
      <!-- Repite la estructura para los siguientes elementos -->
      
      <div class="accordion-item m-2">
        <h2 class="accordion-header ">
          <button class="accordion-button collapsed accordionheaderStilo" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <div class="centrar">
              Causas
            </div>
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>
              <strong>La anemia puede ser causada por:</strong> <br>
              <ul>
                <li>
                  Excesivo sangrado (cirugías, sangrado menstrual, accidentes, rupturas de vasos sanguíneos, sangrados gastrointestinales por úlceras o gastritis erosiva, hemorroides, etc.) <br>
                </li>
                <li>*Deficiencia en la producción de células rojas tales como: carencias nutricionales por pobre o mala alimentación y las enfermedades crónicas (artritis, reumatismo, enfermedades renales, daño hepático, enfermedades tiroideas, cáncer, trastornos gineco-obstétricos, etc.) <br> </li>
               <li> Incremento en la destrucción de glóbulos rojos. Normalmente las células rojas viven aprox. 120 días, pero hay factores que pueden acelerar este proceso, tales como: agrandamiento del bazo, anormalidades en la forma de los glóbulos rojos, reacciones auto-inmunes, anormalidades de la hemoglobina, etc.</li>
             </ul>
            </p>
          </div>
        </div>
      </div>
    
      <!-- Repite la estructura para más elementos según sea necesario -->
      <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <div class="centrar">
              Recomendaciones Generales 
            </div>
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
          
          </div>
        </div>
      </div>
      
      <!-- Repite la estructura para más elementos según sea necesario -->
      <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            <div class="centrar">
              Recomendaciones Ambientales
            </div>
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
           <p> <strong>NO fume. </strong>  Evite permanecer mucho tiempo en lugares con mucho humo.
            Minimice la exposición a metales tóxicos como: aluminio, cadmio, plomo y mercurio. <br>
            Por lo tanto cuando ingiera agua tome muy en cuenta su composición química, para purificarla use filtros especiales.</p>
          </div>
        </div>
      </div>


       <!-- Repite la estructura para más elementos según sea necesario -->
       <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            <div class="centrar">
              Cocina Saludable
            </div>
          </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
           <p> Para una alimentación más equilibrada se recomiendan las recetas de los siguientes numerales: R05, R37, R44, R48y R59</p>
          </div>
        </div>
      </div>     
      
       <!-- Repite la estructura para más elementos según sea necesario -->
       <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo " type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            <div class="centrar">
              Consideraciones Geneticas
            </div>
          </button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
           <p> Dentro de las genéticas tenemos: Anemia talasemia; 2 millones de americanos están afectados, más común en personas del mediterráneo, Indios de Asia y Chinos. <br>

            Enfermedad heredada por ambos padres quienes portan esta enfermedad y la transmiten a los hijos. Generalmente fatal y para sobrevivir necesitan transfusiones. <br>
            
            <strong> Recuerde que la anemia en si no es una enfermedad </strong>  sino un signo de un padecimiento crónico, por lo tanto si la anemia persiste pese a mejorar su nutrición debe tratarse la causa subyacente.</p>
          </div>
        </div>
      </div>
      
      
       <!-- Repite la estructura para más elementos según sea necesario -->
       <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo " type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
            <div class="centrar">
              Recomendaciones de Suplementos Nutricionales 
            </div>
          </button>
        </h2>
        <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
           <p> Pura Vida, Hepato Formula, Jiguado, Natural Folic Acid, Estaminax, Aquamarina, Easy Digestion, Dagold, Super Potente, Complete, Té Detox Anemia.</p> 
          </div>
        </div>
      </div>
      
       <!-- Repite la estructura para más elementos según sea necesario -->
       <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo " type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
            <div class="centrar">
              Posible Diagnosticos en Medicina Tradicional China 
            </div>
          </button>
        </h2>
        <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p> Deficiencia de funcionamiento del bazo y/o hígado, Debilidad de sangre por deficiencia hígado /bazo o por otras razones físicas que lo llevan al paciente a debilidad de sangre. (hemorragias, mala alimentación, depresión crónica, etc.) <br>
              Si es anemia metabólica igual hay que ver por las deficiencias antes
              mencionadas. En algunos casos complementariamente se debe trabajar en
              deficiencia de pulmón y corazón.</p>
              <p> <strong>  	Según los síntomas que describa el paciente en consulta, como se vea la lengua, estudios del medico primario, y los pulsos que se toman en ambas muñecas se definirá el diagnóstico. Dependiendo el diagnóstico se definirá el tratamiento con acupuntura, hierbas chinas, dieta oriental y ejercicios recomendados. La clave es un buen diagnóstico. Medico oriental que ataca los síntomas para calmar se llama medico menor. El que ataca el origen de los síntomas para curar que presenta el paciente se llama Medico Mayor o Master en Medicina Tradicional China.</strong></p>
          </div>
        </div>
      </div> 
      
      
    
            
   
      
      
    
      
      

            
                  
                        
            
            
    
    </div>
  </div>
 
  
  

    






    <footer>

      <div class="container-flex text-center bg-verde">
        <div class="container-fluid text-center">
          <div class="row">
            <div class="p-4 col-md-4">
              <img class="mx-4" src="/img/logo3 1Logofooter.png" width="" alt="Logo">
            </div>
            <div class="p-4 col-md-4 offset-md-4">
              <img class="mx-2 img-fluid" src="/img/Component 1redes.png" width="30" alt="Instagram">
            <img class="mx-2 img-fluid" src="/img/Vectorredes-1.png" width="30" alt="Facebook">
            <img class="mx-2 img-fluid" src="/img/Vectorredes-2.png" width="30" alt="TikTok">
            <img class="mx-2 img-fluid" src="/img/Vectorredes.png" width="30" alt="YouTube">
            </div>
            <div>
              <h6 class="disclaimerTitulo">
                Disclaimer
              </h6>
              <p class="disclaimerTexto">Productos vitaminicos, minerales y naturales y las instrucciones
                generales sugeridas, no intentan substituir los servicios
                de un facultativo.<br>
                Si sufre de alguna enfermedad consulte con su medico.
                No pare de tomar ni cambie ningun medicamento o tratamiento
                prescripto por su medico primario o el hospital.
                Consulte con su medico primario antes de tomar vitaminas,
                productos naturales, hacer ejercicios, o cualquier otra
                sugerencia de esta pagina web.</p>
            </div>
          </div>





      

      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  </body>
</html>