<!doctype html>
<html lang="en">


<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Medicina-Natural</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="/src/css/videocall.css">
  <link rel="stylesheet" href="/src/css/main.css">
  <link rel="stylesheet" href="/src/css/idioma.css">
  <link rel="stylesheet" href="/src/js/idioma.js">
  <link rel="styles" href="/src/js/popper.min.js">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-1KHPNP784F">
</script>

  <!-- Puedes agregar tamaños adicionales para compatibilidad con navegadores modernos -->
  <link rel="icon" href="/src/img/imagenes/favico.png" sizes="32x32" type="image/png">
  <link rel="icon" href="/src/img/imagenes/favico16.png" sizes="16x16" type="image/png">






</head>

<body>
  


  




 


  <nav class="navbar navbar-expand-lg bg-white">
    <div class="container-md p-0">
      <!-- Logo en la esquina izquierda -->
      <a class="navbar-brand mis-colores-nav p-2" href="/eng/index.html">
        <img src="/src/img/imagenes/logo-final.png" alt="logo" class="img-fluid" style="max-width: 200px;">
      </a>

      <!-- Botón para toggle de navegación en pantallas pequeñas -->
      <button class="navbar-toggler order-2" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Enlaces centrados -->
      <div class="collapse navbar-collapse order-1 justify-content-end p-2" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="letraNav1 nav-link mis-colores-nav" href="">Help Center</a>
          <li class="nav-item dropdown">
            <a a class=" letraNav1 mis-colores-nav nav-link dropdown-toggle" href="#" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">Contact</a>
            <ul class="dropdown-menu">
              <div class="container-flex m-2 me-4 text-center">
                <div class="row">
                  <div class="col-lg-2 "><img src="/src/img/imagenes/Group 6Telefono contacto.png" alt="">

                  </div>
                  <div class="text-center col-lg-2">

                    <h5>Call</h5>
                    <p class=" phone-numbers text-nowrap me-4 "><br>1-800-522-7099 <br> +1 (516) 815-6674 <br> +1-718-651-6677 </p>
                    <hr class="my-4 w-100">
                  </div>

                  <div class="container-flex  me-4 text-center">
                    <div class="row">
                      <div class="col-lg-2 "><img src="/src/img/imagenes/Group 7mailcontacto.png" alt="">

                      </div>
                      <div class="text-center col-lg-2">

                        <h5>Email</h5>
                        <p class=" text-center phone-numbers text-nowrap me-4 textoNav "><br><a href="mailto:contacto@nuestramedicina.com">contacto@nuestramedicina.com</a> <br> <a href="mailto:info@nuestramedicina.com">info@nuestramedicina.com</a>
                        </p>
                        <!--<hr class="my-4 w-100">-->
                      </div>


                    </div>




            </ul>
          </li>


          <a class="letraNav1 nav-link mis-colores-nav" href="/eng/components/nav/cesarArmoza.html">Cesar Armoza</a>
          <li class="nav-item dropdown">
            <a class=" letraNav1 mis-colores-nav nav-link dropdown-toggle" href="#" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Links of interest
            </a>
            <ul class="dropdown-menu">
              <li class="dropdown-item" href="/eng/components/nav/virtualConsultation.html">Virtual Consultation</li>
              <li><a class="dropdown-item" href="/eng/components/nav/clinic.html">Our clinic</a></li>
              <li><a class="dropdown-item" href="/eng/components/enfermedades/diseaseMenu.html">Diseases</a></li>
              <li><a class="dropdown-item" href="/eng/components/nav/homeRecipes.html">Homemade recipes</a></li>
              <li><a class="dropdown-item" href="/eng/components/nav/faq.html">Frequent questions</a></li>
              
            </ul>
          </li>
          </ul>
        </div>
      </div>



      <!-- Botón en la esquina derecha -->
      <a href="/eng/components/nav/virtualConsultation.html" class="colorBotonesA boton-llamativo mx-3 btn btn-primary btn-lg order-4 letraBotonNav "><img width="40" src="/src/img/icons/llamada-blanco.png"
          alt=""> Consult now</a>


    

    </div>
  </nav>




  <!-- Segunda barra de navegación -->

  <nav class="desaparecer navbar navbar-expand-lg navbar-light bg-light d-none d-lg-block">
    <div class="container-fluid">
      <!-- Centra los enlaces en el medio de la pantalla -->
      <ul class="navbar-nav mx-auto">
        <li class="nav-item dropdown">
          <a class="letraNav2 nav-link " href="/eng/components/nav/virtualConsultation.html">
            Virtual Consultation
          </a>
          <div class="dropdown-menu center fade ">
            <div class="d-flex ">
              <div class="col vertical-bar">
                <a class="dropdown-item text-center letraNav2" href="/eng/components/ejerc">Acupuncture</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/servicios/masajes.html">Massages</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/servicios/parches.html">Patches</a>
                <a class="dropdown-item text-center letraNav2"
                  href="/eng/components/servicios/traditionalMedicine.html">Medicina Tradicional<br>Natural</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/servicios/cupping.html">cupping</a>
                



        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle letraNav2" href="#" role="button" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" data-bs-popper="center-start">
            Diseases
          </a>
          <div class="dropdown-menu dropdown-menu1 center fade ">
            <div class="d-flex ">
              <div class="col vertical-bar">
                <h5 class="dropdown-header text-center  textoNav ">A</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/allergies.html">Allergies</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/anemia.html">Anemia</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/anxiety.html">Anxiety</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/arrhythmia.html">Arrhythmia</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/arthritis.html">Arthritis</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/asthma.html">Asthma</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/highBPressureHypertension.html">Arterial pressure
                  Alta <br> hypertension</a>
                <h5 class="dropdown-header text-center  textoNav">B</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/bronchitis.html">Bronchitis</a>
                <h5 class="dropdown-header text-center  textoNav">C</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/cancer.html">Cancer</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/chronsDisease.html">Crohn's disease</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/constipation.html">Constipation</a>
                

              </div>

              <div class="col vertical-bar">
                <h5 class="dropdown-header text-center textoNav">D</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/gastricDisorders.html">Disorders
                  Gastric</a>
                
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/diabetesMellitus.html">Diabetes
                  Millitus</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/diarrhea.html">Diarrhea</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/sti.html">Disease
                  of <br> sexual transmission</a>
                
                <h5 class="dropdown-header text-center textoNav">E</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/epilepsy.html">Epilepsy</a>

                <h5 class="dropdown-header text-center textoNav">G</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/gallbladderDisorder.html">Gallbladder Disorder</a>
              </div>

              <div class="col vertical-bar">
                <h5 class="dropdown-header text-center textoNav">H</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/halitosis.html">Halitosis (bad
                  Breath)</a>
                  <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/highCholesterol.html"> High cholesterol <br> (hypercholesterolemia)</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/hemorroids.html">Hemorrhoids</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/hepatitis.html">Hepatitis</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/herpeszoster.html">herpesZoster</a>
                <a class="dropdown-item text-center letraNav2"
                  href="/eng/components/enfermedades/hyperthyroidism.html">Hyperthyroidism</a>
                <a class="dropdown-item text-center letraNav2"
                  href="/eng/components/enfermedades/hipothyroidism.html">Hypothyroidism</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/aids.html">HIV INFECTION (AIDS)</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/hairLose.html">Hair lose</a>
                <h5 class="dropdown-header text-center textoNav">I</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/sexuaImpotence.html">Impotence
                  Sexual</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/incontinence.html">Incontinence</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/urinaryTInfection.html">Infection
                  of the urinary tract</a>

              </div>
              <div class="col vertical-bar">
                <h5 class="dropdown-header text-center textoNav">L</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/lupusErythematosus.html">Lupus Eritematoso</a>
                <h5 class="dropdown-header text-center letraNav2 textoNav">M</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/menopause.html">Menopause</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/migraine.html">Migraine</a>
                <h5 class="dropdown-header text-center textoNav">P</h5>
                <a class="dropdown-item text-center letraNav2"
                  href="/eng/components/enfermedades/periodontalDisease.html">Periodontal disease</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/psoriasis.html">psoriasis</a>
                <a class="dropdown-item text-center letraNav2"
                  href="/eng/components/enfermedades/prostaticDisorder.html">Prostatic disorders</a>
              </div>
              <div class="col">
                <h5 class="dropdown-header text-center textoNav">S</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/sinusitis.html">Sinusitis</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/soreThroat.html">Sore throat</a>
                <h5 class="dropdown-header text-center textoNav">T</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/gallbladderDisorder.html">Gallbladder Disorder</a>
                <h5 class="dropdown-header text-center textoNav">V</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/vitiligo.html">Vitiligo</a>

              </div>

            </div>
          </div>
        </li>
         
          <a class="nav-link letraNav2" href="/eng/components/nav/clinic.html">Our clinic</a>
        
          
          <a class="nav-link letraNav2" href="/eng/components/ejercicios/ejerciciosParaSuSalud.html">Exercises for your health</a>
        



        <a class="nav-link  letraNav2" href="/eng/components/nav/homeRecipes.html">
          Homemade recepies
        </a>

        
          <a class="nav-link  letraNav2" href="/eng/components/nav/faq.html" >
            Frequent questions
          </a>

          



    </div>
    </li>

    </ul>
    </div>
  </nav>






    
    <h1 class="d-flex mt-5 m-5 justify-content-center titulo1">
        Preguntas Frecuentes
    </h1>

    <div class="container">
        <div class="row">
            <div class="col-4 mb-3 mover scrollspy-example p-1">
              <div id="list-example" class="list-group ">
                <a class="list-group-item list-group-item-action" href="#list-item-1">Why experience a bitter taste or copper in your mouth when you wake up in the morning?</a>
                <a class="list-group-item list-group-item-action" href="#list-item-2">Why does my stomach produce so much noise? </a>
                <a class="list-group-item list-group-item-action" href="#list-item-3">Why does the rectum rise a lot? </a>
                <a class="list-group-item list-group-item-action" href="#list-item-4">Why do my eyes burn? </a>
                <a class="list-group-item list-group-item-action" href="#list-item-5">Why am I bloated? </a>
                <a class="list-group-item list-group-item-action" href="#list-item-6">Why do I feel fatigued? </a>
                <a class="list-group-item list-group-item-action" href="#list-item-7">Why do you urinate a lot? </a>
                <a class="list-group-item list-group-item-action" href="#list-item-8">Why do I have a vaginal infection frequently? </a>
                <a class="list-group-item list-group-item-action" href="#list-item-9">Why do my hair fall? </a>
                <a class="list-group-item list-group-item-action" href="#list-item-10"> Why do I forget things so easily? </a>
                
                <a class="list-group-item list-group-item-action" href="#list-item-12"> Why do I listen to noises in my ears? </a>
                <a class="list-group-item list-group-item-action" href="#list-item-13"> Why do I produce excess saliva? </a>
                <a class="list-group-item list-group-item-action" href="#list-item-14"> Why do I have the white tongue? </a>
                <a class="list-group-item list-group-item-action" href="#list-item-15"> Why do I have cold feet and hands? </a>
                <a class="list-group-item list-group-item-action" href="#list-item-16"> Why do I have dark spots on my face? </a>
                <a class="list-group-item list-group-item-action" href="#list-item-17"> Why experiment circulation problems? </a>
                <a class="list-group-item list-group-item-action" href="#list-item-18"> Why do I have so much phlegm in my throat? </a>
                <a class="list-group-item list-group-item-action" href="#list-item-19"> Why do my breasts have liquid leaving if I am not pregnant?</a>
                <a class="list-group-item list-group-item-action" href="#list-item-20">Tengo sangrado nasal y me han tratado sin éxito.</a>
                
                

                

              </div>
            </div>
            <div class="col-8">
              <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
                <h4 id="list-item-1" class="subtitulo2">Why experience a bitter taste or copper in your mouth when you wake up in the morning?</h4>
                <p class="enferTexto">
                A liver malfunction can cause bitterness in the mouth in the patient.If the tongue has a white layer, it also indicates that the liver is affecting the spleen, which can result in the production of phlegm, either in the morning or throughout the day.
                <br>
                It is crucial for the patient to follow a diet that does not harm liver functioning.In addition, these symptoms can be accompanied by cramps, high cholesterol levels, minor tremors, irritability, menstrual clots, low sexual desire, red eyes, nail fungi, heat on the floor of the feet or head, cutaneous allergies withHeat sensation, among others.
                <br>
                It is recommended to avoid the consumption of alcohol, fried foods, spicy, coffee, situations that generate anger, sauces and pork.
                </p>

                <hr>

                <h4 id="list-item-2" class="subtitulo2">Why does my stomach produce so much noise?</h4>
                <p class="enferTexto">
                  In general, it is a combination with the small intestine.The excess of phlegm and/or mucus due to a poor or weak spleen can result in the production of large amounts of liquid in the thin intestine, sometimes described by patients as "as if it were water running through a pipe."This phenomenon is usually manifested with ascending scholars or gases, a sensation of oppression on the left side, diarrhea immediately after eating or during food, constipation, presence of phlegm in fecal matter, phlegm in the throat, intense carraspera with or without phlegm,Dry mouth, frequent urination, formation of eyes in the eyes, sensation of heaviness, pronounced fatigue, excessive desire to consume sweets and/or carbohydrates, and presence of overweight in the abdomen or lack of appetite.
                  <br>
                  The patient should control glucose levels, especially if there is a family history of diabetes, and if so, reduce carbohydrate intake.It is recommended to completely eliminate carbohydrate foods such as flour, bread, pasta, rice, tortillas, pupusas, arepas, bananas, ripe, cassava, cookies, sugar, sweets, sodas, among others.
                </p>

                <hr>


                <h4 id="list-item-3" class="subtitulo2">Why does the rectum burn me a lot?</h4>
                <p class="enferTexto">
                  If you have hemorrhoids, the process is similar.It is crucial to identify the underlying cause of the problem, which could be constipation, diarrhea, gas accumulation, or a feeling of phlegm or mucus with an acidic sensation.
                  <br>
                  If you also experience itchy nose, you could suggest the presence of parasites.
                  <br>
                  More severe digestive problems can lead to the anus, resulting in an intense sensation of burning or burning.
                </p>

                <hr>

                <h4 id="list-item-4" class="subtitulo2">Why do my eyes burn?</h4>
                <p class="enferTexto">
                  First, it is advisable to consult an eye doctor.If the ophthalmologist confirms that everything is fine, then the possibility of allergic allergy or rhinitis could be considered, especially if the nose is also involved.
                  <br>
                  In addition, you might think about the possibility of excess heat in the liver, which could affect the eyes and inject them into blood into some patients.
                </p>

                <hr>

                <h4 id="list-item-5" class="subtitulo2">Why am I bloated?</h4>
                <p class="enferTexto">
                  If the gases manifest up, leaving as scholarship or if they do not come out and generate pressure in the chest, it can indicate a weakening of the spleen.Generally, this condition is presented with white tongue, presence of phlegm and carrasperas.
                  <br>
                  On the other hand, if the gases are directed down, leaving the anus or being retained in the lower part of the abdomen, it is necessary to consider the state of the liver, the gallbladder and the possibility of an intoxicated colon.To relieve gases down, it is recommended to have a not very concentrated mint tea and without sugar after meals.For gases up, a glass of warm water with a little yellow lemon can be beneficial.
                </p>

                <hr>


                <h4 id="list-item-6" class="subtitulo2">Why do I feel fatigued?</h4>
                <p class="enferTexto">
                  When one feels fatigued, it is advisable to immediately perform routine analyzes.Based on the results, a treatment strategy can be decided to address any abnormality that has been manifested.
                  <br>
                  If the studies give normal results and the patient presents a white or very white language, an excess of moisture or mucosa could be considered in the body, with a feeling of heaviness.In this case, it is advisable to work to strengthen the spleen and minimize carbohydrate intake.
                  <br>
                  Excess heat or cold in the system can generate a feeling of tiredness, either by burning too many calories or a lenification of the system due to excess cold.
                  <br>
                  In traditional Chinese medicine, you can also observe imbalances in the heart, liver, kidney and spleen that could contribute to fatigue pictures.
                </p>

                <hr>        

                <h4 id="list-item-7" class="subtitulo2">Why do you organize a lot?</h4>
                <p class="enferTexto">
                  First, perform a urine analysis.If an abnormality is detected, work to correct it.
                  <br>
                  If everything is correct in women, check if the bladder is descended.In men, check the prostate.
                  <br>
                  Either in women or men, verify whether it is cystitis or inflammation of the bladder.
                  <br>
                  In the context of traditional Chinese medicine, analyze whether the patient presents renal weakness.
                  <br>
                  People who have experienced fear or developed fear related to fear can weaken the kidneys, causing this problem.
                  <br>
                  If these symptoms are accompanied by weakness from the knees down, pain in the waist and buzzing in the ears, it may be experiencing renal weakness.
                </p>
                

                <hr>

                <h4 id="list-item-8" class="subtitulo2">Why do I have vaginal infection frequently?</h4>
                <p class="enferTexto">
                  If you have experienced repeated vaginal infections and, despite the treatment, these are recurring, consider making a crop to identify the bacteria present and thus be able to control this situation.
                  <br>
                  In addition, in our medicine, heat retention in the intestine, such as constipation, could be the cause that healing is not effective.It is crucial to address and resolve constipation.
                  <br>
                  It is vitally important to perform urine tests to detect possible infections on the urinary tract;In case of being positive, it is necessary to address both conditions simultaneously.
                  <br>
                  For married women who experience vaginal infections often, it would be very convenient for their husbands to undergo a medical visit to verify that they are not spreading each other.
                </p>
                
                <hr>


                <h4 id="list-item-9" class="subtitulo2">Why does my hair fall out?</h4>
                <p class="enferTexto">
                  There are numerous reasons why hair can fall.If you have dandruff and/or itching on the scalp, this should be the first aspect to be addressed.The fungi in the scalp are quite common.
                  <br>
                  In the case of women, menstrual problems or menopause are very important considerations.The thyroid functioning must also be evaluated and possible blood deficiencies.Liver -related problems and spleen can also influence hair loss.
                  <br>
                  When visiting the clinic, remember to carry with it a detailed list of all the problems or symptoms that you experience, even if they do not seem directly related to hair loss.
                </p>


                <hr>


                <h4 id="list-item-10" class="subtitulo2" >Why do things forget so easily?</h4>
                <p class="enferTexto">
                  Verify what is the level of cholesterol and triglycerides in the blood.If they are high, a diet and treatment are recommended to reduce them.
                  <br>
                  Circulatory problems, such as numbness of hands or feet, varicose veins and diabetes, can indicate the direction to follow when looking for memory problems.
                  <br>
                  If memory problems are notable for recent events, see your header.
                  <br>
                  Forgetting things is not abnormal in general, but forgetting them without realizing oblivion is an indication that there may be a problem.
                  <br>
                  Depression, stress, anxiety and excessive concern can temporarily produce memory difficulties.
                </p>

                <hr>

              

                <h4 id="list-item-12" class="subtitulo2">Why do I hear noises in my ears?</h4>
                <p class="enferTexto">
                 In diseases, you will find a lot of information about Tinnitus.
                  <br>
                  In traditional Chinese medicine, the weakness in the kidney can be the reason for the noise or buzz in the ears.A patient who presents the following symptoms: knee weakIt can be indicating a weakness in the kidneys, which can produce noise in your ears.
                  <br>
                  In men, early ejaculation or low erection may be related to renal deficiency and cause noise in their ears.

                </p>

                <hr>

                <h4 id="list-item-13"class="subtitulo2">Why do I produce excess saliva?</h4>
                <p class="enferTexto">
                  When the patient develops weakness or deficiency of the spleen, an organ located under the ribs on the left side, may experience a large production of phlegm and saliva.In general, this symptom tends to be more pronounced by getting up in the morning, although it can persist during the day as an annoying sensation of phlegm.
                  <br>
                  Excessive carbohydrate consumption can contribute to spleen deficiency.If the patient also experiences a bitter taste in the mouth, this could indicate that the liver is affecting the spleen, and both organs should be treated simultaneously.
                </p>

                <hr>

                <h4 id="list-item-14" class="subtitulo2">Why do I have the white tongue?</h4>
                <p class="enferTexto">
                  In traditional Chinese medicine, white tongue may indicate a weakness at the spleen level.Excess carbohydrates can cause a deficiency in this organ.If it occurs with a bitter taste in the mouth, it is possible that the liver is invading the spleen, generating an energy deficiency.
                  <br>
                  The white tongue in this context suggests stagnation or excess moisture and/or phlegm in the system.In addition, it can be accompanied by weakness in the pancreas.
                </p>

                <hr>
                
                <h4 id="list-item-15" class="subtitulo2">Why do I have cold feet and hands?</h4>
                <p class=" enferTexto">
                  In general, circulatory problems can be the cause.In Traditional Chinese medicine, if these symptoms are accompanied by white language, it can be indicative of an excess of humidity that causes a blood stagnation, which results in that feeling of coldness.
                  <br>
                  It is advisable to verify cholesterol levels and triglycerides in the blood.If they are high, it is suggested to follow a diet and treatment to reduce them.
                </p>

                <hr>

                <h4 id="list-item-16" class="subtitulo2">Why do I have dark spots on my face?</h4>
                <p class="enferTexto">
                  Problems with liver metabolism could be the cause of dark spots on the face.
                  <br>
                  It is recommended to change food and address this problem both from abroad, through the use of creams, and from inside, paying attention to liver health.
                </p>

                <hr>

                <h4 id="list-item-17" class="subtitulo2">Why experience circulation problems?</h4>
                <p class="enferTexto">
                  In general, circulatory problems can be the cause.In traditional Chinese medicine, if these symptoms are accompanied by white language, it could be indicative of an excess of humidity that causes a blood stagnation, resulting in this sense of coldness.
                  <br>
                  It is advisable to verify the levels of cholesterol and triglycerides in blood.If they are high, it is suggested to follow a diet and treatment to reduce them.
                </p>
                

                <hr>
            
                <h4 id="list-item-18" class="subtitulo2">Why do I have so much phlegm in my throat?</h4>
                <p class="enferTexto">
                  If there are problems with the lungs, it must be addressed in that direction.If phlegm comes from the nose, allergic or sinusitis rhinitis should be considered.
                  <br>
                  If phlegm seems to appear in the throat alone and is white or transparent, it could be related to the spleen.In Chinese traditional medicine, this could indicate a weakness in the spleen, and excess carbohydrates could contribute to this deficiency.
                  <br>
                  If the presence of phlegm is accompanied by bitter taste in the mouth, it could be indicative that the liver is affecting the spleen, generating an energy deficiency.

                </p>

                <hr>

                <h4 id="list-item-19" class="subtitulo2">Why do my breasts have liquid leaving if I am not pregnant?</h4>
                <p class="enferTexto">
                  
                  In general, you should consider that the hormone called prolactin is high.
                  <br>
                  If you are trying to get pregnant, this could be a cause of the problem.
                  <br>
                  Even after having had a baby and stopped breastfeeding, prolactin can remain high and it is necessary to reduce it.Thank you.
 	 
                </p>

                <hr>

                <h4 id="list-item-20" class="subtitulo2">I have nasal bleeding and they have treated me unsuccessfully.</h4>
                <p class="enferTexto">
                  I have already treated many patients with their problem.In general, it is treated by the otolaryngologist, but if there is no success, we must address it according to traditional Chinese medicine and the spleen.
                  <br>
                  This organ is under the left rib and is the core of the immune system.In our medicine, excess carbohydrates, such as bread, pasta, tortillas, cookies and some fruits, can hyperactive the spleen and weaken blood control in its course.
                  <br>
                  It should be treated from the spleen.
                  <br>
                  Write me or call me to get more information about your health and be able to help you.Thank you.1-516-815-6674 Cellular for patients.
                </p>

                <hr>

               








                

                
              </div>
            </div>
          </div>
    </div>

</body>




<footer>

  <div class="container-flex text-center bg-verde">
    <div class="container-fluid text-center">
      <div class="row">
        <div class="p-4 col-md-4">
          <a href="/index.html"><img class="mx-4 img-fluid" src="/src/img/imagenes/logo3 1Logofooter.png" width="" alt="Logo"></a>
        </div>
        <div class="p-4 col-md-4 offset-md-4">
          <a href="https://www.instagram.com/armozanatural1/"><img class="mx-2 img-fluid"
              src="/src/img/imagenes/Component 1redes.png" width="30" alt="Instagram"></a>
          <a href="https://www.facebook.com/armozanatural"><img class="mx-2 img-fluid" src="/src/img/imagenes/Vectorredes-1.png"
              width="30" alt="Facebook"></a>
          <a href="https://www.tiktok.com/@dr.armoza?_t=8kDUYmbjL1C&_r=1"><img class="mx-2 img-fluid" src="/src/img/imagenes/Vectorredes-2.png" width="30" alt="TikTok"></a>
          <a href="https://www.youtube.com/channel/UCGGaoxOt0dyOVFCRiqSrt4Q"><img class="mx-2 img-fluid"
              src="/src/img/imagenes/Vectorredes.png" width="30" alt="YouTube"></a>

        </div>
        <div>
          <h6 class="disclaimerTitulo">
            Disclaimer
          </h6>
          <p class="disclaimerTexto">Vitamin, mineral and natural products and instructions
              suggested general guidelines, they are not intended to substitute the services
              of a doctor.<br>
              If you suffer from any illness, consult your doctor.
              Do not stop taking or change any medication or treatment
              prescribed by your primary doctor or the hospital.
              Consult your primary doctor before taking vitamins,
              natural products, doing exercises, or any other
              suggestion from this website.</p>
        </div>
      </div>







    </div>
</footer>
  

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  </body>
</html>