<!doctype html>
<html lang="en">


<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Medicina-Natural</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="/src/css/videocall.css">
  <link rel="stylesheet" href="/src/css/main.css">
  <link rel="stylesheet" href="/src/css/idioma.css">
  <link rel="stylesheet" href="/src/js/idioma.js">
  <link rel="styles" href="/src/js/popper.min.js">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0">
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-1KHPNP784F">
</script>

  <!-- Puedes agregar tamaños adicionales para compatibilidad con navegadores modernos -->
  <link rel="icon" href="/src/img/imagenes/favico.png" sizes="32x32" type="image/png">
  <link rel="icon" href="/src/img/imagenes/favico16.png" sizes="16x16" type="image/png">






</head>

<body>
  


  




 


  <nav class="navbar navbar-expand-lg bg-white">
    <div class="container-md p-0">
      <!-- Logo en la esquina izquierda -->
      <a class="navbar-brand mis-colores-nav p-2" href="/eng/index.html">
        <img src="/src/img/imagenes/logo-final.png" alt="logo" class="img-fluid" style="max-width: 200px;">
      </a>

      <!-- Botón para toggle de navegación en pantallas pequeñas -->
      <button class="navbar-toggler order-2" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Enlaces centrados -->
      <div class="collapse navbar-collapse order-1 justify-content-end p-2" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="letraNav1 nav-link mis-colores-nav" href="">Help Center</a>
          <li class="nav-item dropdown">
            <a a class=" letraNav1 mis-colores-nav nav-link dropdown-toggle" href="#" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">Contact</a>
            <ul class="dropdown-menu">
              <div class="container-flex m-2 me-4 text-center">
                <div class="row">
                  <div class="col-lg-2 "><img src="/src/img/imagenes/Group 6Telefono contacto.png" alt="">

                  </div>
                  <div class="text-center col-lg-2">

                    <h5>Call</h5>
                    <p class=" phone-numbers text-nowrap me-4 "><br>1-800-522-7099 <br> +1 (516) 815-6674 <br> +1-718-651-6677 </p>
                    <hr class="my-4 w-100">
                  </div>

                  <div class="container-flex  me-4 text-center">
                    <div class="row">
                      <div class="col-lg-2 "><img src="/src/img/imagenes/Group 7mailcontacto.png" alt="">

                      </div>
                      <div class="text-center col-lg-2">

                        <h5>Email</h5>
                        <p class=" text-center phone-numbers text-nowrap me-4 textoNav "><br><a href="mailto:contacto@nuestramedicina.com">contacto@nuestramedicina.com</a> <br> <a href="mailto:info@nuestramedicina.com">info@nuestramedicina.com</a>
                        </p>
                        <!--<hr class="my-4 w-100">-->
                      </div>


                    </div>




            </ul>
          </li>


          <a class="letraNav1 nav-link mis-colores-nav" href="/eng/components/nav/cesarArmoza.html">Cesar Armoza</a>
          <li class="nav-item dropdown">
            <a class=" letraNav1 mis-colores-nav nav-link dropdown-toggle" href="#" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Links of interest
            </a>
            <ul class="dropdown-menu">
              <li class="dropdown-item" href="/eng/components/nav/virtualConsultation.html">Virtual Consultation</li>
              <li><a class="dropdown-item" href="/eng/components/nav/clinic.html">Our clinic</a></li>
              <li><a class="dropdown-item" href="/eng/components/enfermedades/diseaseMenu.html">Diseases</a></li>
              <li><a class="dropdown-item" href="/eng/components/nav/homeRecipes.html">Homemade recipes</a></li>
              <li><a class="dropdown-item" href="/eng/components/nav/faq.html">Frequent questions</a></li>
              
            </ul>
          </li>
          </ul>
        </div>
      </div>



      <!-- Botón en la esquina derecha -->
      <a href="/eng/components/nav/virtualConsultation.html" class="colorBotonesA boton-llamativo mx-3 btn btn-primary btn-lg order-4 letraBotonNav "><img width="40" src="/src/img/icons/llamada-blanco.png"
          alt=""> Consult now</a>


    

    </div>
  </nav>




  <!-- Segunda barra de navegación -->

  <nav class="desaparecer navbar navbar-expand-lg navbar-light bg-light d-none d-lg-block">
    <div class="container-fluid">
      <!-- Centra los enlaces en el medio de la pantalla -->
      <ul class="navbar-nav mx-auto">
        <li class="nav-item dropdown">
          <a class="letraNav2 nav-link " href="/eng/components/nav/virtualConsultation.html">
            Virtual Consultation
          </a>
          <div class="dropdown-menu center fade ">
            <div class="d-flex ">
              <div class="col vertical-bar">
                <a class="dropdown-item text-center letraNav2" href="/eng/components/ejerc">Acupuncture</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/servicios/masajes.html">Massages</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/servicios/parches.html">Patches</a>
                <a class="dropdown-item text-center letraNav2"
                  href="/eng/components/servicios/traditionalMedicine.html">Medicina Tradicional<br>Natural</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/servicios/cupping.html">cupping</a>
                



        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle letraNav2" href="#" role="button" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" data-bs-popper="center-start">
            Diseases
          </a>
          <div class="dropdown-menu dropdown-menu1 center fade ">
            <div class="d-flex ">
              <div class="col vertical-bar">
                <h5 class="dropdown-header text-center  textoNav ">A</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/allergies.html">Allergies</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/anemia.html">Anemia</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/anxiety.html">Anxiety</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/arrhythmia.html">Arrhythmia</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/arthritis.html">Arthritis</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/asthma.html">Asthma</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/highBPressureHypertension.html">Arterial pressure
                  Alta <br> hypertension</a>
                <h5 class="dropdown-header text-center  textoNav">B</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/bronchitis.html">Bronchitis</a>
                <h5 class="dropdown-header text-center  textoNav">C</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/cancer.html">Cancer</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/chronsDisease.html">Crohn's disease</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/constipation.html">Constipation</a>
                

              </div>

              <div class="col vertical-bar">
                <h5 class="dropdown-header text-center textoNav">D</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/gastricDisorders.html">Disorders
                  Gastric</a>
                
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/diabetesMellitus.html">Diabetes
                  Millitus</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/diarrhea.html">Diarrhea</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/sti.html">Disease
                  of <br> sexual transmission</a>
                
                <h5 class="dropdown-header text-center textoNav">E</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/epilepsy.html">Epilepsy</a>

                <h5 class="dropdown-header text-center textoNav">G</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/gallbladderDisorder.html">Gallbladder Disorder</a>
              </div>

              <div class="col vertical-bar">
                <h5 class="dropdown-header text-center textoNav">H</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/halitosis.html">Halitosis (bad
                  Breath)</a>
                  <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/highCholesterol.html"> High cholesterol <br> (hypercholesterolemia)</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/hemorroids.html">Hemorrhoids</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/hepatitis.html">Hepatitis</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/herpeszoster.html">herpesZoster</a>
                <a class="dropdown-item text-center letraNav2"
                  href="/eng/components/enfermedades/hyperthyroidism.html">Hyperthyroidism</a>
                <a class="dropdown-item text-center letraNav2"
                  href="/eng/components/enfermedades/hipothyroidism.html">Hypothyroidism</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/aids.html">HIV INFECTION (AIDS)</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/hairLose.html">Hair lose</a>
                <h5 class="dropdown-header text-center textoNav">I</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/sexuaImpotence.html">Impotence
                  Sexual</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/incontinence.html">Incontinence</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/urinaryTInfection.html">Infection
                  of the urinary tract</a>

              </div>
              <div class="col vertical-bar">
                <h5 class="dropdown-header text-center textoNav">L</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/lupusErythematosus.html">Lupus Eritematoso</a>
                <h5 class="dropdown-header text-center letraNav2 textoNav">M</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/menopause.html">Menopause</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/migraine.html">Migraine</a>
                <h5 class="dropdown-header text-center textoNav">P</h5>
                <a class="dropdown-item text-center letraNav2"
                  href="/eng/components/enfermedades/periodontalDisease.html">Periodontal disease</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/psoriasis.html">psoriasis</a>
                <a class="dropdown-item text-center letraNav2"
                  href="/eng/components/enfermedades/prostaticDisorder.html">Prostatic disorders</a>
              </div>
              <div class="col">
                <h5 class="dropdown-header text-center textoNav">S</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/sinusitis.html">Sinusitis</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/soreThroat.html">Sore throat</a>
                <h5 class="dropdown-header text-center textoNav">T</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/gallbladderDisorder.html">Gallbladder Disorder</a>
                <h5 class="dropdown-header text-center textoNav">V</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/vitiligo.html">Vitiligo</a>

              </div>

            </div>
          </div>
        </li>
         
          <a class="nav-link letraNav2" href="/eng/components/nav/clinic.html">Our clinic</a>
        
          
          <a class="nav-link letraNav2" href="/eng/components/ejercicios/exercisesforyouhealth.html">Exercises for your health</a>
        



        <a class="nav-link  letraNav2" href="/eng/components/nav/homeRecipes.html">
          Homemade recepies
        </a>

        
          <a class="nav-link  letraNav2" href="/eng/components/nav/faq.html" >
            Frequent questions
          </a>

          



    </div>
    </li>

    </ul>
    </div>
  </nav>








<!--ESTE ES EL CONTENIDO DE LA PAG-->

<div class="container-fluid text-center">
  <div class="row">
    <div class="col-md-6">
      <h1 class="m-5 enferTitulo">
        HIV INFECTION (AIDS)
      </h1>
      <p class="enferTexto m-5">

        Acquired immunodeficiency syndrome is a late or advanced stage of HIV infection. 
        <br>
        It is a condition in which the immune system is described as deteriorated, committed or dysfunctional due to HIV infection.
        <br>
        The result of the syndrome called AIDS includes loss of T cells that fight germs, the development of opportunistic infections; cancer and other chronic-depressive conditions.
        <br>
         Advance to AIDS can take years.
         <br>
         There are no two cases of AIDS that are equal, and not all people with HIV advance until AIDS.
        <br>

        The HIV virus is a specific human RNA virus of the Lentivirus family, retrovirus subfamily, that is HIV-1 and HIV-2 HIV needs a cell to be able to reproduce.
        <br>

        </p>
        <p class="enferTexto">
          It is estimated that 16000 people are infected every day worldwide. <br>
          HIV has an impact on: 
        <ul class="enferTexto">
          <li>1) physical health of the individual.</li>
          <li>2) Emotional health.</li>
          <li>3) Social, loving and family relationships.</li>
          <li>4) Economic and financial state.</li>
          <li>5) Legal problems related to insurance, immigration, others.</li>
          <li>6) Use of substances and addictions.</li>
          <li> 7) spirituality and other self-help mechanisms.</li>
        </ul>


        </p>
    </div>


    <div class="p-4 col-md-6">
      <img class="img-fluid my-sm-5" src="/src/components/enfermedades/img/Rectangle 50sida.png" alt="">
    </div>

  </div>


 <!--Acordeon-->
  <div class="container-flex">
    <div class="accordion" id="accordionExample">
      <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button accordionheaderStilo align-items-center " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <div class="centrar">
              Complications
            </div>
          
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>
              Immunodeficiency leads to the development of opportunistic infections, which means that it has advanced until AIDS, a late stage of HIV infection. Among these infections we have:
            </p>
            <ul>
              <li>Bronchios candidiasis </li>
              <li> Cervical Cancer </li>
              <li> Coccidiodomycosis </li>
              <li> cryptococosis </li>
              <li> Crystoporidiosis </li>
              <li> Cytomegalovirus </li>
              <li> Encephalopathies </li>
              <li> Simple herpes </li>
              <li> Histoplasmosis </li>
              <li> Isosporiasis </li>
              <li> Kaposis sarcoma </li>
              <li> Burkitts lymphoma </li>
              <li> Immunodepressive lymphoma </li>
              <li> Immunoprimary lymphoma </li>
              <li> Mycobacterium avicum </li>
              <li> Mycobacterium tuberculosis </li>
              <li> pneumocystis carinii </li>
              <li> Pneumonia </li>
              <li> Leukoencephalopathy multifocal </li>
              <li> Salmonella septicemia </li>
              <li> cerebral toxoplasmosis </li>
              <li> Hepatitis C</li>



            </ul>
          

          </div>
        </div>
      </div>
    

    
      <!-- Repite la estructura para más elementos según sea necesario -->
      <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <div class="centrar">
              AIDS diagnosis
            </div>
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">

            <p>
              Exhibition and infection. The exposure is when it plays a behavior that surrounds risk or being put into certain situations that can lead to infected with the virus.
            </p>
            <p>
              The infection is when HIV has entered the blood flow, in specific cells.Not all exposure leads to infection, it can occur after one or repeated exhibitions.
            </p>
            <ul>
              <li><strong>Incubation period:</strong> It is the period of time that occurs since the person is infected with HIV until serious symptoms of immunodeficiency are developed.It takes years after the person is infected in developing immunodeficiency and opportunistic infections.</li>
              <li>
                <strong>Síndrome retroviral agudo:</strong> Symptoms that the person develops 2 to 4 weeks after infected, which are similar to flow
              </li>
              <li>
                <strong>Seroconversion:</strong> Process of developing antibodies against HIV.
              </li>
              <li>
                <strong>Window period: </strong> It is the time that occurs since the person is infected with HIV until the antibodies occur. The time it takes to occur the seroconversion.
              </li>
            </ul>
            <p>
              When a person is done an HIV antibody test that is positive, it means that the person has completed the seroconversion, that is, he has developed HIV antibodies. Symptoms are similar to flu, decrease according to antibodies and immune cells fight HIV.
            </p>
            <p>
              The New York Department of Health uses a window period (Window Period) from one to three months to recommend the test and diagnose HIV infection.
            </p>

            <p>
              Asymptomatic stage:
              <ul>
                <li>Most infected people remain without symptoms between 2 to 15 years </li>
                <li> The immune system continues to function normally for many years in most people.
                <li> Decisions on treatment are based on viral loading, T-cell counting, clinical status and other factors. </li>
                <li> Medical treatments are used to prevent opportunistic infections, suppress virus reproduction and preserve immune functioning.</li>
              </ul>
             
            </p>
            <p>
              Symptomatic stage
              <ul>
                <li>Progressive status of viral load -based infection, T-cell counting, other laboratory tests and clinical status. </li>
                <li> The T-cell counting, I could gradually or quickly reduce. </li>
                <li> The viral load can remain high still with treatment. </li>
                <li> Treatment can help prevent more damage to the immune system.
                <li> In some people, the damage is still progressive with treatment.</li>
              </ul>
            </p>
            <p>
              Advanced stage of the disease.
              <ul>
                <li>You can gradually or drastically advance. </li>
                <li> The viral load remains high </li>
                <li> T cells can continue to decrease. </li>
                <li> The person's health does not respond to treatment. </li>
                <li> opportunistic infections and other conditions cause serious complications that can be fatal.</li>
                <li> Some symptoms at this stage may include T cells less than 50, HIV dementia, liquid diarrhea for more than three weeks with marked weight loss, advanced cancer and other conditions.</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
   
      <!-- Repite la estructura para más elementos según sea necesario -->
      <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            <div class="centrar">
              Progressive deterioration cofactors
            </div>
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>
              They are those that increase the risk that the disease progresses an asymptomatic stage of positive to symptomatic HIV; Examples:
              <ul>
                <li>Acquire HIV strains that are mutant or resistant.
                <li> Do not respond to HIV medical treatment. </li>
                <li> Use of alcoholic beverages or other drugs. </li>
                <li> Sexually transmitted disease infections that have not been treated. </li>
                <li> Bad nutrition </li>
                <li> Genetic predisposition to diseases.</li>
              </ul>
            </p>
          </div>
        </div>
      </div>


       <!-- Repite la estructura para más elementos según sea necesario -->
       <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            <div class="centrar">
              HIV transmission modes
            </div>
          </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <ul>
              <li> Unprotected sex: vaginal, anal or oral </li>
              <li> Blood with blood: Share syringes, occupational risk and blood products.</li>
              <li> Perinatal transmission: during pregnancy, during birth and during breastfeeding. </li>
              <li> Exposure through mucous membranes: splashes of blood on the skin, eyelids, nasal roads and mouth.</li>
            </ul>
          </div>
        </div>
      </div>     
      
       <!-- Repite la estructura para más elementos según sea necesario -->
       <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo " type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            <div class="centrar">
              Transmission fluids
            </div>
          </button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <ul>
              <li>Blood </li>
              <li> Semen </li>
              <li> Pre-ejaculatory fluids </li>
              <li> Vaginal secretions </li>
              <li> Breast milk </li>
            </ul>
            <p> The entrance door of the virus is: vagina, anus, mouth and penis head.The couple you receive is at greater risk than the couple you insert.</p>
          </div>
        </div>
      </div>
      
      
       <!-- Repite la estructura para más elementos según sea necesario -->
       <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo " type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
            <div class="centrar">
              General recommendations and home advice
            </div>
          </button>
        </h2>
        <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>
              Evaluate the risk in sex: focus on behavior and not in sexual identity or orientation, request and obtain information without judgments, such as: have you had sex with men, women or both?, Have you penetrated or both of you?Use drugs and/or alcohol before having sex?
            </p>
            <p>
              Prevent blood transmission to blood:
              <ul>
                <li>Fill the syringe with water and shake it well to detach the blood particles. </li>
                <li> Fill the syringe with bleach (chloros) and stir it well </li>
                <li> Fill the syringe with fresh water </li>
                <li> Clean the spoon or lid that you have used to cook the drug.Rinse with chlorox and water. </li>
                <li> Replace cotton filters.</li>
              </ul>
            </p>
            <p>
              Occupational riskExposure through broken skin exposed to blood from:
              <ul>
                <li>Sharp instruments. </li>
                <li> Broken glass containers containing blood. </li>
                <li> Needle.</li>
              </ul>
            </p>
            <p>
              Therefore prevent HIV infection doing:
              <ul>
                <li>Proper hand washing. </li>
                <li> Changes of gloves between patients. </li>
                <li> Protective glasses. </li>
                <li> Batas. </li>
                <li> Masks. </li>
                <li> careful waste of sharp instruments in adequate containers. </li>
                <li> Proper instrument sterilization techniques.</li>
              </ul>
            </p>
            <p>
              Protect yourself with the use of barriers such as:
              <ul>
                <li>Condoms </li>
                <li> Female condoms </li>
                <li> latex gloves</li>
              </ul>
            </p>
            <p>
              If you get to get pregnant, look for medical treatment immediately.Prenatal care is important for every pregnant woman and her future child, but is doubly more important for women with HIV and her child.
            </p>
            <p> Avoid as much as possible contact with people who have some contagious disease. For example, call by phone before visiting friends or family to make sure the members of that house are healthy.
            <p> Exercise is important to stay fit, it improves depression, increases tissue oxygenation and enlarges immunity. Perform moderate exercises according to your abilities, of your position. </p>
            <p> The psychological aspects that HIV leaves can be as discouraging as physicists. Do not hesitate to seek help in a counselor or a member of a support group.Participating in a support group can also be an excellent way to learn about new advances in the treatment of this disease.</p>

          </div>
        </div>
      </div>
      
       <!-- Repite la estructura para más elementos según sea necesario -->
       <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo " type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
            <div class="centrar">
              Food recommendations
            </div>
          </button>
        </h2>
        <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>
              Increase the intake of fresh vegetables and fruits.Eat a diet consisting of 75% of raw foods of organic growth if possible.
            </p>
            <p>
              Avoid foods that have been treated with pesticides and other chemicals.
            </p>
            <p>
              Coma lentils, beets, nuts, whole grains and Brown Rice.
            </p>
            <p>
              Cruciferous vegetable coma, such as broccoli, col de Brussels, col and cauliflower. It also consumes such yellow and deep orange vegetables such as carrot, pumpkins and potatoes.
            </p>
            <p>
             Drink pure or distilled water 8 or more glasses a day. All organic system cells need water. Drink water to full if it is not thirsty.
            </p>
            <p>
              Eat a lot of fruit, especially pineapple and papaya.
            </p>
            <p>
              Eat garlic, onions and fungi.
            </p>
            <p>
              Limit the intake of soybeans and its derivatives, which contain inhibitory enzymes; But do not eliminate them completely from their diet, they are a great source of protein.
            </p>
            <p>
              Eliminate sodas, foods with additives and dyes, junk food, peanuts, processed refined foods, saturated fats, sugars, white flours, any animal protein and any food containing caffeine.
            </p>
            <p>
             Prepare the following juices: J62– J61– J30– J40 Hágalos in extractor or blender, it is recommended to ingest them twice a day.
            </p>

          </div>
        </div>
      </div> 
      
   
       <!-- Repite la estructura para más elementos según sea necesario -->
       <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo " type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
            <div class="centrar">
              Environmental recommendations
            </div>
          </button>
        </h2>
        <div id="collapseTen" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>
              Avoid as much as possible stress.Make a regular break.
            </p>
            <p>
              Avoid exposure to oxles and toxins such as the smoke of car, tobacco and household cleaning chemicals.
            </p>
            <p>
              Avoid excessive exposure to the sun and extreme temperatures of heat or cold.
            </p>
            <p>
             Experiment meditation and relaxation techniques.
            </p>
            <p>
              Avoid spending a lot of time in a public environment with many people.
            </p>
            <p>
              Practice careful personal hygiene, especially wash your hands. Many infectious organisms are scattered through the hands.
            </p>

          </div>
        </div>
      </div>    
      
      
       <!-- Repite la estructura para más elementos según sea necesario -->
       <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo " type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
            <div class="centrar">
              Prevención
            </div>
          </button>
        </h2>
        <div id="collapseEleven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>
              The safest way to avoid contact with HIV through sex is completely sex withdrawal. Obviously this is not something that people could consider. The next time you choose a couple it has to be a monogamous relationship and make sure you are free of the virus.
            </p>
            <p>
              If you have multiple sexual partners, or if you have sexual contact with someone whose health status is not known by you, practice safe sex. Use a latex condom all the time for anal and oral sex as well as genital genital. For more security I also use a spermicide.
            </p>
            <p>
              I always remember that a person, who is HIV positive may not show signs of infection and, in fact you could not have an idea that he or she is infected.
            </p>
            <p>
              Never use used needles or syringes. The HIV of an infected person can remain in the needle without being detected and could be injected directly to the body of the next person who uses it.
            </p>
            <p>
              If you plan to pierce your ear or perform a tattoo, go to a qualified professional, use disposable needles for each procedure. Some sterilization procedures are not completely effective.
            </p>

          </div>
        </div>


      </div>    
            <!-- Repite la estructura para más elementos según sea necesario -->
            <div class="accordion-item m-2">
              <h2 class="accordion-header accordionheaderStilo">
                <button class="accordion-button collapsed accordionheaderStilo " type="button" data-bs-toggle="collapse" data-bs-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
                  <div class="centrar">
                    Healthy food
                  </div>
                </button>
              </h2>
              <div id="collapse12" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Take advantage of our food councils preparing the following recipes: R04– R06– R08– R10– R12– R14– R18– R35– R45– R48.
                </div>
              </div>
            </div>   
      
      

            
                  
                        
            
            
    
    </div>
  </div>
 
  
  

    



  <footer>

    <div class="container-flex text-center bg-verde">
      <div class="container-fluid text-center">
        <div class="row">
          <div class="p-4 col-md-4">
            <a href="/index.html"><img class="mx-4 img-fluid" src="/src/img/imagenes/logo3 1Logofooter.png" width="" alt="Logo"></a>
          </div>
          <div class="p-4 col-md-4 offset-md-4">
            <a href="https://www.instagram.com/armozanatural1/"><img class="mx-2 img-fluid"
                src="/src/img/imagenes/Component 1redes.png" width="30" alt="Instagram"></a>
            <a href="https://www.facebook.com/armozanatural"><img class="mx-2 img-fluid" src="/src/img/imagenes/Vectorredes-1.png"
                width="30" alt="Facebook"></a>
            <a href=""><img class="mx-2 img-fluid" src="/src/img/imagenes/Vectorredes-2.png" width="30" alt="TikTok"></a>
            <a href="https://www.youtube.com/channel/UCGGaoxOt0dyOVFCRiqSrt4Q"><img class="mx-2 img-fluid"
                src="/src/img/imagenes/Vectorredes.png" width="30" alt="YouTube"></a>
  
          </div>
          <div>
            <p>&copy; 2024 Nuestra Medicina And Family Acupunture, PLLC. All rights reserved.</p>
            <p class="enferTexto"><a href="/src/components/cards/privacy.html">Privacy Policy</a></p>
          </div>
          <div>
            <h6 class="disclaimerTitulo">
              Disclaimer
            </h6>
            <p class="disclaimerTexto">Vitamin, mineral and natural products and instructions
              Suggested generals, they don't try to replace services
              of a doctor. <br>
              If you suffer from any disease, consult your doctor.
              Do not stop taking or change any medication or treatment
              prescribed by your primary doctor or the hospital.
              Consult your primary doctor before taking vitamins,
              natural products, exercise, or any other
              suggestion of this website.</p>
          </div>
        </div>
  
  
  
  
  
  
  
      </div>
  </footer>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  </body>
</html>