<!doctype html>
<html lang="en">


<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Medicina-Natural</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="/src/css/videocall.css">
  <link rel="stylesheet" href="/src/css/main.css">
  <link rel="stylesheet" href="/src/css/idioma.css">
  <link rel="stylesheet" href="/src/js/idioma.js">
  <link rel="styles" href="/src/js/popper.min.js">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-1KHPNP784F">
</script>

  <!-- Puedes agregar tamaños adicionales para compatibilidad con navegadores modernos -->
  <link rel="icon" href="/src/img/imagenes/favico.png" sizes="32x32" type="image/png">
  <link rel="icon" href="/src/img/imagenes/favico16.png" sizes="16x16" type="image/png">






</head>

<body>
  


  




 


  <nav class="navbar navbar-expand-lg bg-white">
    <div class="container-md p-0">
      <!-- Logo en la esquina izquierda -->
      <a class="navbar-brand mis-colores-nav p-2" href="/eng/index.html">
        <img src="/src/img/imagenes/logo-final.png" alt="logo" class="img-fluid" style="max-width: 200px;">
      </a>

      <!-- Botón para toggle de navegación en pantallas pequeñas -->
      <button class="navbar-toggler order-2" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Enlaces centrados -->
      <div class="collapse navbar-collapse order-1 justify-content-end p-2" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="letraNav1 nav-link mis-colores-nav" href="">Help Center</a>
          <li class="nav-item dropdown">
            <a a class=" letraNav1 mis-colores-nav nav-link dropdown-toggle" href="#" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">Contact</a>
            <ul class="dropdown-menu">
              <div class="container-flex m-2 me-4 text-center">
                <div class="row">
                  <div class="col-lg-2 "><img src="/src/img/imagenes/Group 6Telefono contacto.png" alt="">

                  </div>
                  <div class="text-center col-lg-2">

                    <h5>Call</h5>
                    <p class=" phone-numbers text-nowrap me-4 "><br>1-800-522-7099 <br> +1 (516) 815-6674 <br> +1-718-651-6677 </p>
                    <hr class="my-4 w-100">
                  </div>

                  <div class="container-flex  me-4 text-center">
                    <div class="row">
                      <div class="col-lg-2 "><img src="/src/img/imagenes/Group 7mailcontacto.png" alt="">

                      </div>
                      <div class="text-center col-lg-2">

                        <h5>Email</h5>
                        <p class=" text-center phone-numbers text-nowrap me-4 textoNav "><br><a href="mailto:contacto@nuestramedicina.com">contacto@nuestramedicina.com</a> <br> <a href="mailto:info@nuestramedicina.com">info@nuestramedicina.com</a>
                        </p>
                        <!--<hr class="my-4 w-100">-->
                      </div>


                    </div>




            </ul>
          </li>


          <a class="letraNav1 nav-link mis-colores-nav" href="/eng/components/nav/cesarArmoza.html">Cesar Armoza</a>
          <li class="nav-item dropdown">
            <a class=" letraNav1 mis-colores-nav nav-link dropdown-toggle" href="#" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Links of interest
            </a>
            <ul class="dropdown-menu">
              <li class="dropdown-item" href="/eng/components/nav/virtualConsultation.html">Virtual Consultation</li>
              <li><a class="dropdown-item" href="/eng/components/nav/clinic.html">Our clinic</a></li>
              <li><a class="dropdown-item" href="/eng/components/enfermedades/diseaseMenu.html">Diseases</a></li>
              <li><a class="dropdown-item" href="/eng/components/nav/homeRecipes.html">Homemade recipes</a></li>
              <li><a class="dropdown-item" href="/eng/components/nav/faq.html">Frequent questions</a></li>
              
            </ul>
          </li>
          </ul>
        </div>
      </div>



      <!-- Botón en la esquina derecha -->
      <a href="/eng/components/nav/virtualConsultation.html" class="colorBotonesA boton-llamativo mx-3 btn btn-primary btn-lg order-4 letraBotonNav "><img width="40" src="/src/img/icons/llamada-blanco.png"
          alt=""> Consult now</a>


    

    </div>
  </nav>




  <!-- Segunda barra de navegación -->

  <nav class="desaparecer navbar navbar-expand-lg navbar-light bg-light d-none d-lg-block">
    <div class="container-fluid">
      <!-- Centra los enlaces en el medio de la pantalla -->
      <ul class="navbar-nav mx-auto">
        <li class="nav-item dropdown">
          <a class="letraNav2 nav-link " href="/eng/components/nav/virtualConsultation.html">
            Virtual Consultation
          </a>
          <div class="dropdown-menu center fade ">
            <div class="d-flex ">
              <div class="col vertical-bar">
                <a class="dropdown-item text-center letraNav2" href="/eng/components/ejerc">Acupuncture</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/servicios/masajes.html">Massages</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/servicios/parches.html">Patches</a>
                <a class="dropdown-item text-center letraNav2"
                  href="/eng/components/servicios/traditionalMedicine.html">Medicina Tradicional<br>Natural</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/servicios/cupping.html">cupping</a>
                



        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle letraNav2" href="#" role="button" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" data-bs-popper="center-start">
            Diseases
          </a>
          <div class="dropdown-menu dropdown-menu1 center fade ">
            <div class="d-flex ">
              <div class="col vertical-bar">
                <h5 class="dropdown-header text-center  textoNav ">A</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/allergies.html">Allergies</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/anemia.html">Anemia</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/anxiety.html">Anxiety</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/arrhythmia.html">Arrhythmia</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/arthritis.html">Arthritis</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/asthma.html">Asthma</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/highBPressureHypertension.html">Arterial pressure
                  Alta <br> hypertension</a>
                <h5 class="dropdown-header text-center  textoNav">B</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/bronchitis.html">Bronchitis</a>
                <h5 class="dropdown-header text-center  textoNav">C</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/cancer.html">Cancer</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/chronsDisease.html">Crohn's disease</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/constipation.html">Constipation</a>
                

              </div>

              <div class="col vertical-bar">
                <h5 class="dropdown-header text-center textoNav">D</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/gastricDisorders.html">Disorders
                  Gastric</a>
                
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/diabetesMellitus.html">Diabetes
                  Millitus</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/diarrhea.html">Diarrhea</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/sti.html">Disease
                  of <br> sexual transmission</a>
                
                <h5 class="dropdown-header text-center textoNav">E</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/epilepsy.html">Epilepsy</a>

                <h5 class="dropdown-header text-center textoNav">G</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/gallbladderDisorder.html">Gallbladder Disorder</a>
              </div>

              <div class="col vertical-bar">
                <h5 class="dropdown-header text-center textoNav">H</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/halitosis.html">Halitosis (bad
                  Breath)</a>
                  <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/highCholesterol.html"> High cholesterol <br> (hypercholesterolemia)</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/hemorroids.html">Hemorrhoids</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/hepatitis.html">Hepatitis</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/herpeszoster.html">herpesZoster</a>
                <a class="dropdown-item text-center letraNav2"
                  href="/eng/components/enfermedades/hyperthyroidism.html">Hyperthyroidism</a>
                <a class="dropdown-item text-center letraNav2"
                  href="/eng/components/enfermedades/hipothyroidism.html">Hypothyroidism</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/aids.html">HIV INFECTION (AIDS)</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/hairLose.html">Hair lose</a>
                <h5 class="dropdown-header text-center textoNav">I</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/sexuaImpotence.html">Impotence
                  Sexual</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/incontinence.html">Incontinence</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/urinaryTInfection.html">Infection
                  of the urinary tract</a>

              </div>
              <div class="col vertical-bar">
                <h5 class="dropdown-header text-center textoNav">L</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/lupusErythematosus.html">Lupus Eritematoso</a>
                <h5 class="dropdown-header text-center letraNav2 textoNav">M</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/menopause.html">Menopause</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/migraine.html">Migraine</a>
                <h5 class="dropdown-header text-center textoNav">P</h5>
                <a class="dropdown-item text-center letraNav2"
                  href="/eng/components/enfermedades/periodontalDisease.html">Periodontal disease</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/psoriasis.html">psoriasis</a>
                <a class="dropdown-item text-center letraNav2"
                  href="/eng/components/enfermedades/prostaticDisorder.html">Prostatic disorders</a>
              </div>
              <div class="col">
                <h5 class="dropdown-header text-center textoNav">S</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/sinusitis.html">Sinusitis</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/soreThroat.html">Sore throat</a>
                <h5 class="dropdown-header text-center textoNav">T</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/gallbladderDisorder.html">Gallbladder Disorder</a>
                <h5 class="dropdown-header text-center textoNav">V</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/vitiligo.html">Vitiligo</a>

              </div>

            </div>
          </div>
        </li>
         
          <a class="nav-link letraNav2" href="/eng/components/nav/clinic.html">Our clinic</a>
        
          
          <a class="nav-link letraNav2" href="/eng/components/ejercicios/ejerciciosParaSuSalud.html">Exercises for your health</a>
        



        <a class="nav-link  letraNav2" href="/eng/components/nav/homeRecipes.html">
          Homemade recepies
        </a>

        
          <a class="nav-link  letraNav2" href="/eng/components/nav/faq.html" >
            Frequent questions
          </a>

          



    </div>
    </li>

    </ul>
    </div>
  </nav>






<!--ESTE ES EL CONTENIDO DE LA PAG-->

<div class="container-fluid text-center">
  <div class="row">
    <div class="col-md-6">
      <h1 class="m-5 enferTitulo">
       Allergies
      </h1>
      <p class="enferTexto m-5">
        Allergic reactions also called hypersensitivity reaction, it is an inappropriate response of the immune system to a substance that is not normally harmful. The immune system is a highly complex defense mechanism, which helps us fight infections, this is identifying strange invaders and mobilizing white blood cells to combat them.In some people, the immune system erroneously identifies a non-toxic substance as an invader, and white cells overact and do more damage to the body than the invader. So, the allergic response itself becomes a disease
      </p>
    </div>


    <div class="p-4 text-center col-md-6">
      <img class="img-fluid my-sm-5" src="/src/components/enfermedades/img/Rectangle 26.png" alt="">
    </div>

  </div>


 <!--Acordeon-->
  <div class="container-flex">
    <div class="accordion" id="accordionExample">
      <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button accordionheaderStilo align-items-center " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <div class="centrar">
              Types of allergy
            </div>
          
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
          <div class="accordion-body  ">
            The allergy can be evidenced in various parts of the body and according to this I could take a defined name, so we have:

          <ul class="align-items-center">
            
            <li class="text-start">Allergic rhinitis.</li>
            <li class="text-start">Contact dermatitis.</li>
            <li class="text-start">Urticarias</li>
            <li class="text-start">Asthma</li>
            <li class="text-start">Allergic conjunctivitis.</li>
            <li class="text-start">colitis.</li>
            <li class="text-start">sinusitisAlérgica.</li>
            <li class="text-start">Allergic rash.</li>
            <li class="text-start">Acne</li>
            <li class="text-start">eczema</li>
            <li class="text-start">Incontinence</li>
            <li class="text-start">Angioneurotic edema</li>

          </ul>

          </div>
        </div>
      </div>
    
      <!-- Repite la estructura para los siguientes elementos -->
      
      <div class="accordion-item m-2">
        <h2 class="accordion-headerm accordionheaderStilo ">
          <button class="accordion-button collapsed accordionheaderStilo" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <div class="centrar">
              Signs and symptoms
            </div>
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            The most common responses to an allergen depend on the place where it acts either by contact, food or inhalation:

              <ul >
                <li class="">Nasal congestion, cough, sneeze. </li>
                <li class = ""> Pruritus, ranches, swelling, </li>
                <li class = ""> Headache, fatigue, </li>
                <li class = ""> Nausea, dizziness, diarrhea, </li>
                <li class = ""> Redness of the eyes, tear, ardor, </li>
                <li class = ""> Respiratory distress </li>
              </ul>
          </div>
        </div>
      </div>
    
      <!-- Repite la estructura para más elementos según sea necesario -->
      <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <div class="centrar">
              Causes
            </div>
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            The substances that cause the allergic response are called allergens, the best known are:
      
            <ul >
              <li class="">Pollen and dust</li>
              <li class="">Certain metals (especially nickel)</li>
              <li class="">Some cosmetics,</li>
              <li class="">Animal hair,</li>
              <li class="">Drugs and chemicals</li>
              <li class="">Some insects</li>
              <li class="">Commercially prepared additives (sulphites, GMS)</li>
              <li class="">Dust mites, molds and gas</li>
              <li class="">Some foods such as: chocolates, shellfish, milk, cheeses, eggs, sausages, mayonnaise, tomato sauce, etc..</li>
            </ul>
          </div>
        </div>
      </div>
      
      <!-- Repite la estructura para más elementos según sea necesario -->
      <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            <div class="centrar">
              General recommendations and home advice
            </div>
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <P>Avoid the following food until it is allergic or not to any of them:
              Bananas, meats, caffeine, chocolate, citrus fruits, corn, eggs, peanuts, oats, processed products, salmon, strawberries, tomatoes and wheat germs.Avoid products containing artificial dyes. </p>
            
            <p> Infants and children often suffer from allergies especially to milk, peanuts, eggs and fish.The allergy to these foods can be developed at any stage of life, however, its incidence decreases with age and only 1 to 5% of allergies persist to adulthood.
            
            <p> Eliminate from the diet the food that could increase the production of mucus, drink plenty, cheese and meats, have a high protein content.
            
            <p> Do a diary of everything you eat to identify the allergen.Coma garlic, chamomile and guava. </p>
            
            
            I eat the following juices: J61– J30 - J01 (prepare them in blender or juice extractor, it is recommended to take them once or twice a day).
              <br>
              <br>
            <a href="/src/components/enfermedades/recetas/recetasAlergia.html" class="btn btn-success">Juice recipes</a>
            
            
                
          </div>
        </div>
      </div>


      
       <!-- Repite la estructura para más elementos según sea necesario -->
       <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo " type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            <div class="centrar">
             Environmental recommendations
            </div>
          </button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
           <p>Stay away from the rooms full of smoke either cigarette or other substances.
            
           <p> Avoid exposure to chemical substances, wear gloves.
            
           <p> Avoid as much as possible to the field or parks during spring, thus avoiding pollen.</p>
            
            
            
          </div>
        </div>
      </div>
      
      
       <!-- Repite la estructura para más elementos según sea necesario -->
       <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo " type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
            <div class="centrar">
              Healthy food
            </div>
          </button>
        </h2>
        <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
          </div>
        </div>
      </div>
      
       <!-- Repite la estructura para más elementos según sea necesario -->
       <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo " type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
            <div class="centrar">
              Genetic considerations
            </div>
          </button>
        </h2>
        <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>Allergies are a very wide range of duck-anatomical alterations, and depending many times on the causes they are classified as exogens or endogenous. </p>
            
           <p> Not all allergies have a certain factor that causes them, many times there is an interaction between an external factor such as pollen and an external one such as the predisposition of developing the anaphylactic reaction, which could already be mild or severe to cause deathor even never manifest if the cause of the reaction does not come into contact with the body. </p>
            
          </div>
        </div>
      </div> 
      
      
       <!-- Repite la estructura para más elementos según sea necesario -->
       <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo " type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
            <div class="centrar">
             Bathrooms and aromatherapy
            </div>
          </button>
        </h2>
        <div id="collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <P>It is possible that some of the essences can cause allergy, so it is recommended that you start slowly with a drop of each of them. <br> </p>
            <p> Basil, Eucalyptus, Pepermint and Pino oils;They help improve congestion, you can inhale or spread it through air.</p>
            
            <p>The relaxation of the nervous system is very important to control the allergy.Take a tub bath prepared with 3 drops of lavender, plus 3 drops of chamomile.

            <p> If your allergy is caused by a cold, try a bath with two drops of rosemary oil, two drops of grapefruit oil and two drops of juniper oil or tree tea oil.

            <p> <strong> Occasionally, a very severe allergic reaction can threaten life.If the development of Sus Ronchas spreads rapidly or has respiratory distress, especially if you have a history of severe reactions, go immediately to the emergency room of the nearest hospital, or call the emergency number.Remember that the latter tell.</strong></P>
            

          </div>
        </div>
      </div>     
            
       <!-- Repite la estructura para más elementos según sea necesario -->
       <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo " type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
            <div class="centrar">
              Recommendations of nutritional supplements
            </div>
          </button>
        </h2>
        <div id="collapseTen" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>Alegisol, Alergy, Biototal, Pura Vida, Ultra Detox, Naturobiotic, Iperoxo, Té Detox Alergia.</strong> 
          </div>
        </div>
      </div>    
      
      
       <!-- Repite la estructura para más elementos según sea necesario -->
       <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo " type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
            <div class="centrar">
              Possible diagnosis in Traditional Chinese Medicine
            </div>
          </button>
        </h2>
        <div id="collapseEleven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>Spleen deficiency, lung deficiency, depending on the very hot liver patient. In many cases, moisture and heat retention in the system. In other cases of skin allergy a lot of wind in the liver with heat. Many patients poisoned with food are very heat in the blood.

            <p> <strong> according to the symptoms described by the patient in consultation, as the language is seen, studies of the primary doctor, and the pulses that are taken in both wrists will be defined the diagnosis. Depending on the diagnosis, acupuncture treatment, Chinese herbs, oriental diet and recommended exercises will be defined.The key is a good diagnosis.Oriental doctor who attacks the symptoms to calm is called a minor doctor. The one who attacks the origin of the symptoms to heal.</strong></p>


 	 

          </div>
        </div>
      </div>    
      
      

            
                  
                        
            
            
    
    </div>
  </div>
 
  
  
</body>
    





<footer>

  <div class="container-flex text-center bg-verde">
    <div class="container-fluid text-center">
      <div class="row">
        <div class="p-4 col-md-4">
          <a href="/index.html"><img class="mx-4 img-fluid" src="/src/img/imagenes/logo3 1Logofooter.png" width="" alt="Logo"></a>
        </div>
        <div class="p-4 col-md-4 offset-md-4">
          <a href="https://www.instagram.com/armozanatural1/"><img class="mx-2 img-fluid"
              src="/src/img/imagenes/Component 1redes.png" width="30" alt="Instagram"></a>
          <a href="https://www.facebook.com/armozanatural"><img class="mx-2 img-fluid" src="/src/img/imagenes/Vectorredes-1.png"
              width="30" alt="Facebook"></a>
          <a href=""><img class="mx-2 img-fluid" src="/src/img/imagenes/Vectorredes-2.png" width="30" alt="TikTok"></a>
          <a href="https://www.youtube.com/channel/UCGGaoxOt0dyOVFCRiqSrt4Q"><img class="mx-2 img-fluid"
              src="/src/img/imagenes/Vectorredes.png" width="30" alt="YouTube"></a>

        </div>
        <div>
          <h6 class="disclaimerTitulo">
            Disclaimer
          </h6>
          <p class="disclaimerTexto">Vitamin, mineral and natural products and instructions
            Suggested generals, they don't try to replace services
            of a doctor. <br>
            If you suffer from any disease, consult your doctor.
            Do not stop taking or change any medication or treatment
            prescribed by your primary doctor or the hospital.
            Consult your primary doctor before taking vitamins,
            natural products, exercise, or any other
            suggestion of this website.</p>
        </div>
      </div>







    </div>
</footer>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  
</html>