<!doctype html>
<html lang="en">


<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Medicina-Natural</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="/src/css/videocall.css">
  <link rel="stylesheet" href="/src/css/main.css">
  <link rel="stylesheet" href="/src/css/idioma.css">
  <link rel="stylesheet" href="/src/js/idioma.js">
  <link rel="styles" href="/src/js/popper.min.js">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0">
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-1KHPNP784F">
</script>

  <!-- Puedes agregar tamaños adicionales para compatibilidad con navegadores modernos -->
  <link rel="icon" href="/src/img/imagenes/favico.png" sizes="32x32" type="image/png">
  <link rel="icon" href="/src/img/imagenes/favico16.png" sizes="16x16" type="image/png">






</head>

<body>
  


  




 


  <nav class="navbar navbar-expand-lg bg-white">
    <div class="container-md p-0">
      <!-- Logo en la esquina izquierda -->
      <a class="navbar-brand mis-colores-nav p-2" href="/eng/index.html">
        <img src="/src/img/imagenes/logo-final.png" alt="logo" class="img-fluid" style="max-width: 200px;">
      </a>

      <!-- Botón para toggle de navegación en pantallas pequeñas -->
      <button class="navbar-toggler order-2" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Enlaces centrados -->
      <div class="collapse navbar-collapse order-1 justify-content-end p-2" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="letraNav1 nav-link mis-colores-nav" href="">Help Center</a>
          <li class="nav-item dropdown">
            <a a class=" letraNav1 mis-colores-nav nav-link dropdown-toggle" href="#" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">Contact</a>
            <ul class="dropdown-menu">
              <div class="container-flex m-2 me-4 text-center">
                <div class="row">
                  <div class="col-lg-2 "><img src="/src/img/imagenes/Group 6Telefono contacto.png" alt="">

                  </div>
                  <div class="text-center col-lg-2">

                    <h5>Call</h5>
                    <p class=" phone-numbers text-nowrap me-4 "><br>1-800-522-7099 <br> +1 (516) 815-6674 <br> +1-718-651-6677 </p>
                    <hr class="my-4 w-100">
                  </div>

                  <div class="container-flex  me-4 text-center">
                    <div class="row">
                      <div class="col-lg-2 "><img src="/src/img/imagenes/Group 7mailcontacto.png" alt="">

                      </div>
                      <div class="text-center col-lg-2">

                        <h5>Email</h5>
                        <p class=" text-center phone-numbers text-nowrap me-4 textoNav "><br><a href="mailto:contacto@nuestramedicina.com">contacto@nuestramedicina.com</a> <br> <a href="mailto:info@nuestramedicina.com">info@nuestramedicina.com</a>
                        </p>
                        <!--<hr class="my-4 w-100">-->
                      </div>


                    </div>




            </ul>
          </li>


          <a class="letraNav1 nav-link mis-colores-nav" href="/eng/components/nav/cesarArmoza.html">Cesar Armoza</a>
          <li class="nav-item dropdown">
            <a class=" letraNav1 mis-colores-nav nav-link dropdown-toggle" href="#" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Links of interest
            </a>
            <ul class="dropdown-menu">
              <li class="dropdown-item" href="/eng/components/nav/virtualConsultation.html">Virtual Consultation</li>
              <li><a class="dropdown-item" href="/eng/components/nav/clinic.html">Our clinic</a></li>
              <li><a class="dropdown-item" href="/eng/components/enfermedades/diseaseMenu.html">Diseases</a></li>
              <li><a class="dropdown-item" href="/eng/components/nav/homeRecipes.html">Homemade recipes</a></li>
              <li><a class="dropdown-item" href="/eng/components/nav/faq.html">Frequent questions</a></li>
              
            </ul>
          </li>
          </ul>
        </div>
      </div>



      <!-- Botón en la esquina derecha -->
      <a href="/eng/components/nav/virtualConsultation.html" class="colorBotonesA boton-llamativo mx-3 btn btn-primary btn-lg order-4 letraBotonNav "><img width="40" src="/src/img/icons/llamada-blanco.png"
          alt=""> Consult now</a>


    

    </div>
  </nav>




  <!-- Segunda barra de navegación -->

  <nav class="desaparecer navbar navbar-expand-lg navbar-light bg-light d-none d-lg-block">
    <div class="container-fluid">
      <!-- Centra los enlaces en el medio de la pantalla -->
      <ul class="navbar-nav mx-auto">
        <li class="nav-item dropdown">
          <a class="letraNav2 nav-link " href="/eng/components/nav/virtualConsultation.html">
            Virtual Consultation
          </a>
          <div class="dropdown-menu center fade ">
            <div class="d-flex ">
              <div class="col vertical-bar">
                <a class="dropdown-item text-center letraNav2" href="/eng/components/ejerc">Acupuncture</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/servicios/masajes.html">Massages</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/servicios/parches.html">Patches</a>
                <a class="dropdown-item text-center letraNav2"
                  href="/eng/components/servicios/traditionalMedicine.html">Medicina Tradicional<br>Natural</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/servicios/cupping.html">cupping</a>
                



        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle letraNav2" href="#" role="button" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" data-bs-popper="center-start">
            Diseases
          </a>
          <div class="dropdown-menu dropdown-menu1 center fade ">
            <div class="d-flex ">
              <div class="col vertical-bar">
                <h5 class="dropdown-header text-center  textoNav ">A</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/allergies.html">Allergies</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/anemia.html">Anemia</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/anxiety.html">Anxiety</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/arrhythmia.html">Arrhythmia</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/arthritis.html">Arthritis</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/asthma.html">Asthma</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/highBPressureHypertension.html">Arterial pressure
                  Alta <br> hypertension</a>
                <h5 class="dropdown-header text-center  textoNav">B</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/bronchitis.html">Bronchitis</a>
                <h5 class="dropdown-header text-center  textoNav">C</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/cancer.html">Cancer</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/chronsDisease.html">Crohn's disease</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/constipation.html">Constipation</a>
                

              </div>

              <div class="col vertical-bar">
                <h5 class="dropdown-header text-center textoNav">D</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/gastricDisorders.html">Disorders
                  Gastric</a>
                
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/diabetesMellitus.html">Diabetes
                  Millitus</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/diarrhea.html">Diarrhea</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/sti.html">Disease
                  of <br> sexual transmission</a>
                
                <h5 class="dropdown-header text-center textoNav">E</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/epilepsy.html">Epilepsy</a>

                <h5 class="dropdown-header text-center textoNav">G</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/gallbladderDisorder.html">Gallbladder Disorder</a>
              </div>

              <div class="col vertical-bar">
                <h5 class="dropdown-header text-center textoNav">H</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/halitosis.html">Halitosis (bad
                  Breath)</a>
                  <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/highCholesterol.html"> High cholesterol <br> (hypercholesterolemia)</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/hemorroids.html">Hemorrhoids</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/hepatitis.html">Hepatitis</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/herpeszoster.html">herpesZoster</a>
                <a class="dropdown-item text-center letraNav2"
                  href="/eng/components/enfermedades/hyperthyroidism.html">Hyperthyroidism</a>
                <a class="dropdown-item text-center letraNav2"
                  href="/eng/components/enfermedades/hipothyroidism.html">Hypothyroidism</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/aids.html">HIV INFECTION (AIDS)</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/hairLose.html">Hair lose</a>
                <h5 class="dropdown-header text-center textoNav">I</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/sexuaImpotence.html">Impotence
                  Sexual</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/incontinence.html">Incontinence</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/urinaryTInfection.html">Infection
                  of the urinary tract</a>

              </div>
              <div class="col vertical-bar">
                <h5 class="dropdown-header text-center textoNav">L</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/lupusErythematosus.html">Lupus Eritematoso</a>
                <h5 class="dropdown-header text-center letraNav2 textoNav">M</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/menopause.html">Menopause</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/migraine.html">Migraine</a>
                <h5 class="dropdown-header text-center textoNav">P</h5>
                <a class="dropdown-item text-center letraNav2"
                  href="/eng/components/enfermedades/periodontalDisease.html">Periodontal disease</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/psoriasis.html">psoriasis</a>
                <a class="dropdown-item text-center letraNav2"
                  href="/eng/components/enfermedades/prostaticDisorder.html">Prostatic disorders</a>
              </div>
              <div class="col">
                <h5 class="dropdown-header text-center textoNav">S</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/sinusitis.html">Sinusitis</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/soreThroat.html">Sore throat</a>
                <h5 class="dropdown-header text-center textoNav">T</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/gallbladderDisorder.html">Gallbladder Disorder</a>
                <h5 class="dropdown-header text-center textoNav">V</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/vitiligo.html">Vitiligo</a>

              </div>

            </div>
          </div>
        </li>
         
          <a class="nav-link letraNav2" href="/eng/components/nav/clinic.html">Our clinic</a>
        
          
          <a class="nav-link letraNav2" href="/eng/components/ejercicios/exercisesforyouhealth.html">Exercises for your health</a>
        



        <a class="nav-link  letraNav2" href="/eng/components/nav/homeRecipes.html">
          Homemade recepies
        </a>

        
          <a class="nav-link  letraNav2" href="/eng/components/nav/faq.html" >
            Frequent questions
          </a>

          



    </div>
    </li>

    </ul>
    </div>
  </nav>







<!--ESTE ES EL CONTENIDO DE LA PAG-->

<div class="container-fluid text-center">
  <div class="row">
    <div class="col-md-6">
      <h1 class="m-5 enferTitulo">
        Constipation
      </h1>
      <p class="enferTexto m-5">
        The term constipation refers to changes in intestinal daily habits, particularly a decrease in the number or consistency of intestinal movements, or pain or difficulty in passing feces. <br>
        If you go regularly, but spend 2 or more days without intestinal movement, and then have pain or difficulty to pass great and hard feces, you are constipated. If you have a good appetite and you are not discomfort, there is no need to worry. However, if you lose your appetite, you are vomiting and you have discomfort, you should consult a doctor without delay.<br>

        It is important that intestines move daily; The colon is a stool deposit that must be removed within 18 to 24 hours. The harmful toxins could be formed within this period. Antigens and toxins of intestinal bacteria and unione food particles could play a role in the development of diabetes mellitus, meningitis, myasthenia, thyroid diseases, candidiasis, chronic gases, migraine, fatigue and ulcerative colitis of acute constipation
      </p>
    </div>


    <div class="p-4 col-md-6">
      <img class="img-fluid my-sm-5" src="/src/components/enfermedades/img/Rectangle 39crohn.png" alt="">
    </div>

  </div>


 <!--Acordeon-->
  <div class="container-flex">
    <div class="accordion" id="accordionExample">
      <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button accordionheaderStilo align-items-center " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <div class="centrar">
              Signs and symptoms
            </div>
          
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <ul>
              <li>Infrequent and/or painful defecation </li>
              <li> Hard and small stool </li>
              <li> Incomplete passage sensation of feces (tenesmus) </li>
              <li> Excessive effort to defecate </li>
              <li> Abotagation, gases, abdominal distension </li>
              <li> Bad breath (halitosis) </li>
              <li> Dry and sticky tongue </li>
              <li> Headache </li>
              <li> Abdominal cramps </li>
              <li> Fatigue </li>
              <li> Skin problems (vulgar acne) </li>
              <li> APETIT DECREASE </li>
              <li> On anxiety and poor intestinal function </li>
              <li> Frequent use of laxatives </li>
              <li> ABDOMEN IN THE PALPATION </li>
              <li> Palpable feces in colon </li>
              <li> Decrease in intestinal noise</li>
            </ul>

          </div>
        </div>
      </div>
    
      <!-- Repite la estructura para los siguientes elementos -->
      
      <div class="accordion-item m-2">
        <h2 class="accordion-header ">
          <button class="accordion-button collapsed accordionheaderStilo" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <div class="centrar">
              Causes of acute constipation
            </div>
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">

            <ul>
              <li>Diet changes </li>
              <li> Travel </li>
              <li> Adinamic ileus </li>
              <li> Collateral effect of some drug </li>
              <li> Colonic tumors </li>
              <li> Anorectal pathologies </li>
              <li> stress</li>
            </ul>

          </div>
        </div>
      </div>
    
      <!-- Repite la estructura para más elementos según sea necesario -->
      <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <div class="centrar">
              Causes of chronic constipation
            </div>
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">

            <ul>
              <li>Appendicitis </li>
              <li> Bad breath </li>
              <li> Bad body smell </li>
              <li> Saburra language </li>
              <li> Depression </li>
              <li> Diverticulitis </li>
              <li> Fatigue </li>
              <li> Gases, headache </li>
              <li> Hemorrhoids, anal fissure </li>
              <li> Hernia </li>
              <li> Indigestion </li>
              <li> Insomnia </li>
              <li> Bad absorption syndrome </li>
              <li> Obesity </li>
              <li> Varicosa vein</li>
              
            </ul>

          </div>
        </div>
      </div>
      
      <!-- Repite la estructura para más elementos según sea necesario -->
      <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            <div class="centrar">
              General recommendations and home advice
            </div>
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>
             The digestive process begins in the mouth.The enzymes of saliva degrade food before you swallow. Remember that your stomach has no teeth, so chew your food well and not overwhelm.
            </p>
            <p>
              Every day put two tablespoons of lemon juice in 8 onz. Of warm water and bébalo.
            </p>
            <p>
              Because dehydration can lead to constipation, increase the amount of fluids in your diet.Drink at least 8 glasses of water a day of preference Spring Water.
            </p>
            <p>
              For rapid relief of constipation, drink large vessels of quality water every ten minutes for half an hour. This can work wonderfully to evacuate toxins and relieve constipation.
            </p>
            <p>
              Go to the toilet every day at the same time, although there is no urgency, and relax.Many people find help in reading as a way to relax.Never repress the desires to defecate.
            </p>
            <p>
              Keep your intestine clean. If constipation is persistent, make cleaning enemas.
            </p>
            <p>
              Check your medications and supplements. There are many medications that can produce or exacerbate constipation.
            </p>
            <p>
              Take care of certain foods; Some foods can stop one person and others do not.
            </p>
            <p>
              It does not strive, As much as I have the temptation to bid to get out of its constipation, it is not prudent to do so, because it runs the risk of producing hemorrhoids and anal fissure, which are not only painful, but also the constipation can worsen by reducing the anal opening. In addition, bidding can also raise your blood pressure and reduce heart rate.
            </p>
            <p>
              Avoid cooking in aluminum kitchen utensils. It is possible that aluminum traces can exacerbate constipation.
            </p>
            <p>
              Phytotherapy: most of the cases of constipation are of functional cause, that is to say that they are not due to any organic lesion of the intestine. The plants indicated are especially recommended for functional constipation due to their soft and physiological action.
            </p>
            <p>
              <ul>
                <li>Boldo: The infusion of its leaves, normalizes the operation of the gallbladder and is a soft laxative. </li>
                <li> León tooth: an infusion tea of its leaves or root in the morning, is a soft and purifying laxative. </li>
                <li> Sen: the infusion of its leaves and extracts in low doses, acts as laxative facilitating the emission of soft stool without colic. </li>
                <li> Sacred shell: the dust or infusion of the cortex is an energetic purgative although well tolerated. </li>
                <li> Cerezo: A cherry cure is a soft and toning the digestive duct </li>
                <li> Chamomile: the infusion of its seeds or essences, facilitates the expulsion of intestinal gases.</li>

              </ul>
              
            </p>



          </div>
        </div>
      </div>


       <!-- Repite la estructura para más elementos según sea necesario -->
       <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            <div class="centrar">
              Food recommendations
            </div>
          </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>
              Increase the amount of fibers in your diet: fruits, vegetables and whole grains are rich in fiber. Simply eat a piece of fruit, such as an apple or pineapple, it can help solve constipation;Comala them especially half an hour or an hour after food.
            </p>
            
            <p>
              Prunas are now honest as the best remedy for constipation, if you prefer to soak them in water throughout the night, it could be easier to digest them than the dry variety, take warm water or hot cereals such as oatmeal, every morning, actsGently stimulating the gastrointestinal tract, it also provides fiber.
            </p>
            <p>
              Foods with high magnesium content, such as green leafy vegetables.
            </p>
            <p>
              To relieve constipation during the night, mix half a cup of pruna juice, a tablespoon of lemon juice and a spring water cup. Drink this before going to sleep.
            </p>
            <p>
              Be aware that stimulants such as coffee and alcoholic beverages dehydrate the system with the risk of constipation.
            </p>
            <p>
              Consume foods rich in pectin such as: apples, carrots, cabbage, bananas, citrus fruits, dried peas, etc.
            </p>
            <p>
              Follow a very low fat diet, avoid friedness. <br>
              Avoid foods that stimulate the secretion of mucous membranes, such as daily products, fats and spices for meals.
            </p>
            <p>
              It does not consume daily products, soft drinks (sodas, soft drinks), red meat, white flours, highly processed foods, salt, coffee, or sugars. These products are difficult to digest and do not contain fibers. <br>
              Eat small food portions, not large or heavy.
            </p>
            <p>
             The preparation of the following juices is recommended: J61– J30– J15– J01 Hágalos in blender or extractor, take them once or twice a day.
            </p>

          </div>
        </div>
      </div>     
      
       <!-- Repite la estructura para más elementos según sea necesario -->
       <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo " type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            <div class="centrar">
              Environmental recommendations
            </div>
          </button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">

            <p>
              Give time to go to the gym; We consider that regular exercise tends to combat constipation because it moves food faster by the intestine.
            </p>
            <p>
              Walk, it is particularly useful for pregnant women, as many of them suffer from constipation when their bellies are altered to accommodate the fetus that is growing. Everyone even future mothers must give a good and healthy walk of 20 to 30 minutes every day.
            </p>

            <p>
              Adiestre his intestine.Throughout our life, many of us condition ourselves to go to the bathroom not when our intestine requires it but when we believe it convenient. However, the need to defecate is avoided, it can be progressively reached to constipation, but it is never too late to improve intestinal habits.
            </p>
            <p>
              Calm down and take things easy; When he feels fear or tension, his mouth dries and his heart beats faster, but also his intestines are paralyzed.
            </p>
            <p>
              I laugh with desire; A good laugh from the bottom of your belly can help you with constipation in two ways: it has a massage effect on the intestines, which helps stimulate digestion, and is a great resource to relieve tension.
            </p>
            <p>
              Foam salts for the bathroom are relaxing and increase circulation. Foam salts contain magnesium sulfate. An hour or two after the bathroom with these salts could start a frequent intestinal movement.
            </p>
            <p>
              Massage the lower part of the abdomen is comforting and helps the intestinal movement. Massage gently following the natural movement of the intestine, start in the right corner, move towards the ribs, then towards the left corner and go down to the pelvis.
            </p>

          </div>
        </div>
      </div>
      
      
       <!-- Repite la estructura para más elementos según sea necesario -->
       <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo " type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
            <div class="centrar">
              Healthy food
            </div>
          </button>
        </h2>
        <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Take advantage of our advice, preparing the following recipes: R02– R05– R07– R10– R13– R18– R25– R30– R34– R39– R41– R47– R59– R63– R66– R70
          </div>
        </div>
      </div>
      
      
      
       <!-- Repite la estructura para más elementos según sea necesario -->
       <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo " type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
            <div class="centrar">
              Bathrooms and aromatherapy
            </div>
          </button>
        </h2>
        <div id="collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>
              The olive essences of basil, lavender and pink strengthen the digestive system and counteract constipation. You can use any of them or all in an aromatherapy bath or add a few drops to massage oil and use it together with massage.

            </p>
            <p>
              Usually constipation is not serious.However, you should consult your doctor when the symptoms are severe, they last more than three weeks, they cause disability, or find blood in their feces.Although not often, constipation can be a sign of a serious underlying condition. <br>
              Contact your doctor if in addition to its constipation suffers from abdominal distension, which can indicate obstruction.
            </p>

            
          </div>
        </div>
      </div>     
            
       <!-- Repite la estructura para más elementos según sea necesario -->
       <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo " type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
            <div class="centrar">
              Recommendations of nutritional supplements
            </div>
          </button>
        </h2>
        <div id="collapseTen" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Easy Pass, Ultra Detox, Easy Digestion, Vesiculan, Texas Elixir, Dagold, Daninpien, te detox for constipation.
          </div>
        </div>
      </div>    
      
      
       <!-- Repite la estructura para más elementos según sea necesario -->
       <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo " type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
            <div class="centrar">
              Possible diagnosis in Traditional Chinese Medicine
            </div>
          </button>
        </h2>
        <div id="collapseEleven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            A lot of heat in the system especially in the low abdomen.Excess heat in the liver.Stagnation in the liver. Liquid deficiency in colon. Deficiency in small intestine. Spleen deficiency. Stagnation and gallbladder deficiency with heat and phlegm. Energy deficiency in colon producing food stagnation. Heat in colon. Kidney deficiency drying colon. See in cases due to lung weakness affecting the energy descend from the colon.

 	 
 	          <strong>According to the symptoms described by the patient in consultation, as the language is seen, studies of the primary doctor, and the pulses that are taken in both wrists will define the diagnosis.Depending on the diagnosis, acupuncture treatment, Chinese herbs, oriental diet and recommended exercises will be defined. The key is a good diagnosis. Oriental doctor who attacks the symptoms to calm is called a minor doctor. The one who attacks the origin of the symptoms to cure that the patient is called a major doctor or master in Traditional Chinese medicine.</strong>
          </div>
        </div>
      </div>    
      
      

            
                  
                        
            
            
    
    </div>
  </div>
 
  
  

    






  <footer>

    <div class="container-flex text-center bg-verde">
      <div class="container-fluid text-center">
        <div class="row">
          <div class="p-4 col-md-4">
            <a href="/index.html"><img class="mx-4 img-fluid" src="/src/img/imagenes/logo3 1Logofooter.png" width="" alt="Logo"></a>
          </div>
          <div class="p-4 col-md-4 offset-md-4">
            <a href="https://www.instagram.com/armozanatural1/"><img class="mx-2 img-fluid"
                src="/src/img/imagenes/Component 1redes.png" width="30" alt="Instagram"></a>
            <a href="https://www.facebook.com/armozanatural"><img class="mx-2 img-fluid" src="/src/img/imagenes/Vectorredes-1.png"
                width="30" alt="Facebook"></a>
            <a href=""><img class="mx-2 img-fluid" src="/src/img/imagenes/Vectorredes-2.png" width="30" alt="TikTok"></a>
            <a href="https://www.youtube.com/channel/UCGGaoxOt0dyOVFCRiqSrt4Q"><img class="mx-2 img-fluid"
                src="/src/img/imagenes/Vectorredes.png" width="30" alt="YouTube"></a>
  
          </div>
          <div>
            <p>&copy; 2024 Nuestra Medicina And Family Acupunture, PLLC. All rights reserved.</p>
            <p class="enferTexto"><a href="/src/components/cards/privacy.html">Privacy Policy</a></p>
          </div>
          <div>
            <h6 class="disclaimerTitulo">
              Disclaimer
            </h6>
            <p class="disclaimerTexto">Productos vitaminicos, minerales y naturales y las instrucciones
              generales sugeridas, no intentan substituir los servicios
              de un facultativo.<br>
              Si sufre de alguna enfermedad consulte con su medico.
              No pare de tomar ni cambie ningun medicamento o tratamiento
              prescripto por su medico primario o el hospital.
              Consulte con su medico primario antes de tomar vitaminas,
              productos naturales, hacer ejercicios, o cualquier otra
              sugerencia de esta pagina web.</p>
          </div>
        </div>
  
  
  
  
  
  
  
      </div>
  </footer>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  </body>
</html>