<!doctype html>
<html lang="en">


<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Medicina-Natural</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="/src/css/videocall.css">
  <link rel="stylesheet" href="/src/css/main.css">
  <link rel="stylesheet" href="/src/css/idioma.css">
  <link rel="stylesheet" href="/src/js/idioma.js">
  <link rel="styles" href="/src/js/popper.min.js">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0">
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-1KHPNP784F">
</script>

  <!-- Puedes agregar tamaños adicionales para compatibilidad con navegadores modernos -->
  <link rel="icon" href="/src/img/imagenes/favico.png" sizes="32x32" type="image/png">
  <link rel="icon" href="/src/img/imagenes/favico16.png" sizes="16x16" type="image/png">






</head>

<body>
  


  




 


  <nav class="navbar navbar-expand-lg bg-white">
    <div class="container-md p-0">
      <!-- Logo en la esquina izquierda -->
      <a class="navbar-brand mis-colores-nav p-2" href="/eng/index.html">
        <img src="/src/img/imagenes/logo-final.png" alt="logo" class="img-fluid" style="max-width: 200px;">
      </a>

      <!-- Botón para toggle de navegación en pantallas pequeñas -->
      <button class="navbar-toggler order-2" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Enlaces centrados -->
      <div class="collapse navbar-collapse order-1 justify-content-end p-2" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="letraNav1 nav-link mis-colores-nav" href="">Help Center</a>
          <li class="nav-item dropdown">
            <a a class=" letraNav1 mis-colores-nav nav-link dropdown-toggle" href="#" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">Contact</a>
            <ul class="dropdown-menu">
              <div class="container-flex m-2 me-4 text-center">
                <div class="row">
                  <div class="col-lg-2 "><img src="/src/img/imagenes/Group 6Telefono contacto.png" alt="">

                  </div>
                  <div class="text-center col-lg-2">

                    <h5>Call</h5>
                    <p class=" phone-numbers text-nowrap me-4 "><br>1-800-522-7099 <br> +1 (516) 815-6674 <br> +1-718-651-6677 </p>
                    <hr class="my-4 w-100">
                  </div>

                  <div class="container-flex  me-4 text-center">
                    <div class="row">
                      <div class="col-lg-2 "><img src="/src/img/imagenes/Group 7mailcontacto.png" alt="">

                      </div>
                      <div class="text-center col-lg-2">

                        <h5>Email</h5>
                        <p class=" text-center phone-numbers text-nowrap me-4 textoNav "><br><a href="mailto:contacto@nuestramedicina.com">contacto@nuestramedicina.com</a> <br> <a href="mailto:info@nuestramedicina.com">info@nuestramedicina.com</a>
                        </p>
                        <!--<hr class="my-4 w-100">-->
                      </div>


                    </div>




            </ul>
          </li>


          <a class="letraNav1 nav-link mis-colores-nav" href="/eng/components/nav/cesarArmoza.html">Cesar Armoza</a>
          <li class="nav-item dropdown">
            <a class=" letraNav1 mis-colores-nav nav-link dropdown-toggle" href="#" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Links of interest
            </a>
            <ul class="dropdown-menu">
              <li class="dropdown-item" href="/eng/components/nav/virtualConsultation.html">Virtual Consultation</li>
              <li><a class="dropdown-item" href="/eng/components/nav/clinic.html">Our clinic</a></li>
              <li><a class="dropdown-item" href="/eng/components/enfermedades/diseaseMenu.html">Diseases</a></li>
              <li><a class="dropdown-item" href="/eng/components/nav/homeRecipes.html">Homemade recipes</a></li>
              <li><a class="dropdown-item" href="/eng/components/nav/faq.html">Frequent questions</a></li>
              
            </ul>
          </li>
          </ul>
        </div>
      </div>



      <!-- Botón en la esquina derecha -->
      <a href="/eng/components/nav/virtualConsultation.html" class="colorBotonesA boton-llamativo mx-3 btn btn-primary btn-lg order-4 letraBotonNav "><img width="40" src="/src/img/icons/llamada-blanco.png"
          alt=""> Consult now</a>


    

    </div>
  </nav>




  <!-- Segunda barra de navegación -->

  <nav class="desaparecer navbar navbar-expand-lg navbar-light bg-light d-none d-lg-block">
    <div class="container-fluid">
      <!-- Centra los enlaces en el medio de la pantalla -->
      <ul class="navbar-nav mx-auto">
        <li class="nav-item dropdown">
          <a class="letraNav2 nav-link " href="/eng/components/nav/virtualConsultation.html">
            Virtual Consultation
          </a>
          <div class="dropdown-menu center fade ">
            <div class="d-flex ">
              <div class="col vertical-bar">
                <a class="dropdown-item text-center letraNav2" href="/eng/components/ejerc">Acupuncture</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/servicios/masajes.html">Massages</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/servicios/parches.html">Patches</a>
                <a class="dropdown-item text-center letraNav2"
                  href="/eng/components/servicios/traditionalMedicine.html">Medicina Tradicional<br>Natural</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/servicios/cupping.html">cupping</a>
                



        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle letraNav2" href="#" role="button" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" data-bs-popper="center-start">
            Diseases
          </a>
          <div class="dropdown-menu dropdown-menu1 center fade ">
            <div class="d-flex ">
              <div class="col vertical-bar">
                <h5 class="dropdown-header text-center  textoNav ">A</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/allergies.html">Allergies</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/anemia.html">Anemia</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/anxiety.html">Anxiety</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/arrhythmia.html">Arrhythmia</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/arthritis.html">Arthritis</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/asthma.html">Asthma</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/highBPressureHypertension.html">Arterial pressure
                  Alta <br> hypertension</a>
                <h5 class="dropdown-header text-center  textoNav">B</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/bronchitis.html">Bronchitis</a>
                <h5 class="dropdown-header text-center  textoNav">C</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/cancer.html">Cancer</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/chronsDisease.html">Crohn's disease</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/constipation.html">Constipation</a>
                

              </div>

              <div class="col vertical-bar">
                <h5 class="dropdown-header text-center textoNav">D</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/gastricDisorders.html">Disorders
                  Gastric</a>
                
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/diabetesMellitus.html">Diabetes
                  Millitus</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/diarrhea.html">Diarrhea</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/sti.html">Disease
                  of <br> sexual transmission</a>
                
                <h5 class="dropdown-header text-center textoNav">E</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/epilepsy.html">Epilepsy</a>

                <h5 class="dropdown-header text-center textoNav">G</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/gallbladderDisorder.html">Gallbladder Disorder</a>
              </div>

              <div class="col vertical-bar">
                <h5 class="dropdown-header text-center textoNav">H</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/halitosis.html">Halitosis (bad
                  Breath)</a>
                  <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/highCholesterol.html"> High cholesterol <br> (hypercholesterolemia)</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/hemorroids.html">Hemorrhoids</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/hepatitis.html">Hepatitis</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/herpeszoster.html">herpesZoster</a>
                <a class="dropdown-item text-center letraNav2"
                  href="/eng/components/enfermedades/hyperthyroidism.html">Hyperthyroidism</a>
                <a class="dropdown-item text-center letraNav2"
                  href="/eng/components/enfermedades/hipothyroidism.html">Hypothyroidism</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/aids.html">HIV INFECTION (AIDS)</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/hairLose.html">Hair lose</a>
                <h5 class="dropdown-header text-center textoNav">I</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/sexuaImpotence.html">Impotence
                  Sexual</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/incontinence.html">Incontinence</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/urinaryTInfection.html">Infection
                  of the urinary tract</a>

              </div>
              <div class="col vertical-bar">
                <h5 class="dropdown-header text-center textoNav">L</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/lupusErythematosus.html">Lupus Eritematoso</a>
                <h5 class="dropdown-header text-center letraNav2 textoNav">M</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/menopause.html">Menopause</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/migraine.html">Migraine</a>
                <h5 class="dropdown-header text-center textoNav">P</h5>
                <a class="dropdown-item text-center letraNav2"
                  href="/eng/components/enfermedades/periodontalDisease.html">Periodontal disease</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/psoriasis.html">psoriasis</a>
                <a class="dropdown-item text-center letraNav2"
                  href="/eng/components/enfermedades/prostaticDisorder.html">Prostatic disorders</a>
              </div>
              <div class="col">
                <h5 class="dropdown-header text-center textoNav">S</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/sinusitis.html">Sinusitis</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/soreThroat.html">Sore throat</a>
                <h5 class="dropdown-header text-center textoNav">T</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/gallbladderDisorder.html">Gallbladder Disorder</a>
                <h5 class="dropdown-header text-center textoNav">V</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/vitiligo.html">Vitiligo</a>

              </div>

            </div>
          </div>
        </li>
         
          <a class="nav-link letraNav2" href="/eng/components/nav/clinic.html">Our clinic</a>
        
          
          <a class="nav-link letraNav2" href="/eng/components/ejercicios/ejerciciosParaSuSalud.html">Exercises for your health</a>
        



        <a class="nav-link  letraNav2" href="/eng/components/nav/homeRecipes.html">
          Homemade recepies
        </a>

        
          <a class="nav-link  letraNav2" href="/eng/components/nav/faq.html" >
            Frequent questions
          </a>

          



    </div>
    </li>

    </ul>
    </div>
  </nav>








<!--ESTE ES EL CONTENIDO DE LA PAG-->

<div class="container-fluid text-center">
  <div class="row">
    <div class="col-md-6">
      <h1 class="m-5 enferTitulo">
        Menopause
      </h1>
      <p class="enferTexto m-5">
        The term menopause is used to indicate the permanent or final cessation of the menstrual function, either as a normal physiological event or as a consequence of ovarian surgery or eradication.<br>

        Menopausal syndrome covers all sequelae of the definitive interruption of the ovarian function of which the absence of menstruation is only part.<br>
        
        Most women reach physiological menopause at the age of 45 - 50 years, but the premature insufficiency of the ovary can occur before the age of 30.Early menopause is more common in women who have suffered from an infection or a surgical condition in the genital apparatus.<br>
        
        The time when menopause begins has a familiar character;Rarely, the premature insufficiency of the ovary is part of a generalized polyndony insufficiency, probably with an autoimmune base.<br>
        
        The time of surgical menopause or that due to X-rays differs from natural menopause in which the beginning is faster and that manifestations are more serious.<br>
        
        The more early ovarian insufficiency occurs, the more serious the effects on certain structures, mainly on the skeleton.<br>
        
        It is also interesting to note that there are women who never have evidence of menopause, while others suffer intensely and can suffer psychosis. <br>Although the reproductive function ceases, menopause never weakens sexual activity, unless the psychic factors and ignorance produce an affective inhibition.
      </p>
    </div>


    <div class="p-4 col-md-6">
      <img class="img-fluid my-sm-5" src="/src/components/enfermedades/img/Rectangle 52menopausia.png" alt="">
    </div>

  </div>


 <!--Acordeon-->
  <div class="container-flex">
    <div class="accordion" id="accordionExample">
      <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button accordionheaderStilo align-items-center " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <div class="centrar">
              Signs and symptoms 
            </div>
          
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            

          <p>Amenorrhea is preceded by meno-metrorragia or oligomenorreas.The embarrassment are sometimes intense lasting a few minutes, but they are repeated frequently. Sometimes patients complain of states of voltage, especially a feeling of fullness in the head. Frequently increases weight and nerve instability with depression, exaggerated joy or lassitude. </p>
            <p> Frequently there are rheumatoid ailments and pains. Sexual changes include trigger (pain in intercourse), loss of libido and, in some cases increase in sexual appetite. Breasts can be painful.The irritation of the bladder is common.
            <p> There are very few objective data.Moderate hypertension, moderate hirsutism (facial hair), numbness of the spine, dry skin and rough hair.</p>
          </div>
        </div>
      </div>
    
      <!-- Repite la estructura para los siguientes elementos -->
      
      <div class="accordion-item m-2">
        <h2 class="accordion-header ">
          <button class="accordion-button collapsed accordionheaderStilo" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <div class="centrar">
              Complications
            </div>
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>The serious complications of menopause are osteoporosis and psychosis. Diabetes mellitus can appear with menopause. Senile vaginitis may also appear. The postmenopausal patient is more prone to degenerative cardiovascular diseases and gout.</p>
          </div>
        </div>
      </div>
    
      <!-- Repite la estructura para más elementos según sea necesario -->
      <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <div class="centrar">
              Prediction
            </div>
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
           <p>Most women go through menopause without requiring an external therapy, others will nevertheless need intensive and prolonged therapy, especially when it has marked osteoporosis.
           <p> Some patients have a serious depression with a tendency to suicide.</p>
          </div>
        </div>
      </div>
      
      <!-- Repite la estructura para más elementos según sea necesario -->
      <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            <div class="centrar">
              General recommendations and home advice
            </div>
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
           <ul>
            <li>Education related to psychological changes and a great perspective full of possibilities can constitute a big difference in the management of the tension that Menopause brings, as well as changes in life. 
              <br>
               Research has shown that a third of the life of contemporary women takes place after menopause. So you should consider it as a step forward in life and must change positively. Go back to school, find a new hobby; Flagged with a career. Take charge of your own health. </li>

            <li> Find support. Support groups offer stimulus in the sense that menopause is a natural cycle. 
              <br>
              The members of these groups can offer practical techniques that have discovered for themselves to deal with menopause, as well as provide fraternal support to newcomers. </li>

            <li> Exercise daily.Walking, jogging, riding, jumping rope, dancing, swimming or any other daily exercise can greatly relieve the symptoms of menopause.
              <br>
              Exercise can help reduce or prevent symptoms such as: sudden heat access (embarrassment) and night sweating, depression and other emotional problems, as are vaginal problems.Of course the best physical condition is the most obvious result of exercise; But this also improves psychological health. </li>

            <li> The positive attitude can be an effective daily tool to combat embarrassment; When you feel that one approaches, remember some things: one that the embarrassment are normal, another that do not last long, finally, that you can do something about it. </li>

            <li> Learn to relax, the women who can do so can achieve better control. Learn to meditate or do yoga; Or simply feel calm with your eyes closed, daily for a while, to relax </li>

            <li> Determine what gives rise to the embarrassment in you, and then avoid these triggers. In some women they are emotional alterations; Others begin their embarrassment with some hot or seasoned food, a warm room or a hot bed. </li>

            <li> Keep sexy. Women who go through menopause and continue to practice sexual union regularly, have less or no embarrass compared to those who have sexual relations sporadically.
              <br>
              High levels of estrogen help maintain a healthy interest in sex and regular sex. </li>

            <li> Lubricate. Vaginal dryness due to lack of estrogen decreases interest in intercourse during menopause.</li>

            <li> Talk to your partner, part of the stimulus to libido comes from honest conversations about needs and sensations. </li>

            <li> Couples can try to find new positions for sexual union looking for the most comfortable. 
              <br>
              The caresses can be especially important on these occasions; More hugs and mutual massages to achieve more proximity and sensual pleasure. </li>

            <li> Practice Kegel exercises.You can strengthen your anal, vaginal and urinary muscles with these exercises. The most vigorous muscles can help you relax and use them with less pain and more pleasure during intercourse. 
              <br>
              They are also good to prevent urinary incontinence. Imagine that you want to interrupt your urine flow suddenly. Firmly press the muscles of your vaginal zone. 
              <br>
              Take urine while counting up to three, then relax. Practice with rapid alternation between loosening and tightening. You can practice this exercise wherever, whenever you want. </li>
           </ul>
          </div>
        </div>
      </div>


       <!-- Repite la estructura para más elementos según sea necesario -->
       <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            <div class="centrar">
              Food recommendations
            </div>
          </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <ul>
              <li>Eat a diet consisting of 50% raw foods. </li>
              <li> Coma broccoli, dandelion, salmon with bones, sardines and white fish in his diet. </li>
              <li> Do not consume red meat.Avoid daily products or limit their consumption to small amounts, while they are low in fat. Daily products and meat promote embarrassments. </li>
              <li> Avoid alcohol, coffee, sugars, spices food and hot soups or drinks that can trigger embarrassment or aggravate urinary incontinence. </li>
              <li> Take two liters of water a day to help prevent skin dryness and mucous membranes.

            </ul>
            <p> <strong> Prepare the following juices:</strong> J61– J32– J73– J30– J02 Hand them in extractor or blender, it is recommended to drink them once or twice a day.</p>
          </div>
        </div>
      </div>     
      
 
      
      
       <!-- Repite la estructura para más elementos según sea necesario -->
       <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo " type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
            <div class="centrar">
              Healthy food
            </div>
          </button>
        </h2>
        <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
           <p>Take advantage of our food tips preparing the following recipes: R03– R05– R09– R11– R19– R26– R42– R58– R70</p>
          </div>
        </div>
      </div>
      
     
      
      
       <!-- Repite la estructura para más elementos según sea necesario -->
       <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo " type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
            <div class="centrar">
              Bathrooms and aromatherapy
            </div>
          </button>
        </h2>
        <div id="collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
           <p>Mint essential oils have cold properties, oils and geraniums and lavender are centering, each calms and energizes, depending on their need. <br>
            Add a few drops of one or all these essences to a warm or cold bath for embarrassment or, if it is not possible to add them to cold water in a spray bottle and obtain a cold rose.
            <br>
            You can also use these essences such as inhalation or spread them inside the air at home, or add a few drops to massage oil.</p>

           <p> Geranium, Jasmine, Mirra, Neroli and Vetiver oils are good to counteract the visible signs of age. Make a soft skin using one or more of these essences, or add a few drops of these to your skin cream (do not use more than 10 drops per ounce of the product) </p> 
           
           <p> <strong> Menopause is a natural part of life and therefore cannot be prevented. However, it can be a more pleasant experience than many people believe. Consider learning stress management techniques or enjoying the company of a support group. Remember that it is not a disease, but a transition, thus offering a good opportunity to identify and explore changes that may be necessary to do in your life or lifestyle.</strong></p>
          </div>
        </div>
      </div>     
            


            
                  
                        
            
            
    
    </div>
  </div>
 
  
  

    
  <footer>

    <div class="container-flex text-center bg-verde">
      <div class="container-fluid text-center">
        <div class="row">
          <div class="p-4 col-md-4">
            <a href="/index.html"><img class="mx-4 img-fluid" src="/src/img/imagenes/logo3 1Logofooter.png" width="" alt="Logo"></a>
          </div>
          <div class="p-4 col-md-4 offset-md-4">
            <a href="https://www.instagram.com/armozanatural1/"><img class="mx-2 img-fluid"
                src="/src/img/imagenes/Component 1redes.png" width="30" alt="Instagram"></a>
            <a href="https://www.facebook.com/armozanatural"><img class="mx-2 img-fluid" src="/src/img/imagenes/Vectorredes-1.png"
                width="30" alt="Facebook"></a>
            <a href=""><img class="mx-2 img-fluid" src="/src/img/imagenes/Vectorredes-2.png" width="30" alt="TikTok"></a>
            <a href="https://www.youtube.com/channel/UCGGaoxOt0dyOVFCRiqSrt4Q"><img class="mx-2 img-fluid"
                src="/src/img/imagenes/Vectorredes.png" width="30" alt="YouTube"></a>
  
          </div>
          <div>
            <p>&copy; 2024 Nuestra Medicina And Family Acupunture, PLLC. All rights reserved.</p>
            <p class="enferTexto"><a href="/src/components/cards/privacy.html">Privacy Policy</a></p>
          </div>
          <div>
            <h6 class="disclaimerTitulo">
              Disclaimer
            </h6>
            <p class="disclaimerTexto">Vitamin, mineral and natural products and instructions
              Suggested generals, they don't try to replace services
              of a doctor. <br>
              If you suffer from any disease, consult your doctor.
              Do not stop taking or change any medication or treatment
              prescribed by your primary doctor or the hospital.
              Consult your primary doctor before taking vitamins,
              natural products, exercise, or any other
              suggestion of this website.</p>
          </div>
        </div>
  
  
  
  
  
  
  
      </div>
  </footer>



    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  </body>
</html>