<!doctype html>
<html lang="en">


<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Medicina-Natural</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="/src/css/videocall.css">
  <link rel="stylesheet" href="/src/css/main.css">
  <link rel="stylesheet" href="/src/css/idioma.css">
  <link rel="stylesheet" href="/src/js/idioma.js">
  <link rel="styles" href="/src/js/popper.min.js">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0">
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-1KHPNP784F">
</script>

  <!-- Puedes agregar tamaños adicionales para compatibilidad con navegadores modernos -->
  <link rel="icon" href="/src/img/imagenes/favico.png" sizes="32x32" type="image/png">
  <link rel="icon" href="/src/img/imagenes/favico16.png" sizes="16x16" type="image/png">






</head>

<body>
  


  




 


  <nav class="navbar navbar-expand-lg bg-white">
    <div class="container-md p-0">
      <!-- Logo en la esquina izquierda -->
      <a class="navbar-brand mis-colores-nav p-2" href="/eng/index.html">
        <img src="/src/img/imagenes/logo-final.png" alt="logo" class="img-fluid" style="max-width: 200px;">
      </a>

      <!-- Botón para toggle de navegación en pantallas pequeñas -->
      <button class="navbar-toggler order-2" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Enlaces centrados -->
      <div class="collapse navbar-collapse order-1 justify-content-end p-2" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="letraNav1 nav-link mis-colores-nav" href="">Help Center</a>
          <li class="nav-item dropdown">
            <a a class=" letraNav1 mis-colores-nav nav-link dropdown-toggle" href="#" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">Contact</a>
            <ul class="dropdown-menu">
              <div class="container-flex m-2 me-4 text-center">
                <div class="row">
                  <div class="col-lg-2 "><img src="/src/img/imagenes/Group 6Telefono contacto.png" alt="">

                  </div>
                  <div class="text-center col-lg-2">

                    <h5>Call</h5>
                    <p class=" phone-numbers text-nowrap me-4 "><br>1-800-522-7099 <br> +1 (516) 815-6674 <br> +1-718-651-6677 </p>
                    <hr class="my-4 w-100">
                  </div>

                  <div class="container-flex  me-4 text-center">
                    <div class="row">
                      <div class="col-lg-2 "><img src="/src/img/imagenes/Group 7mailcontacto.png" alt="">

                      </div>
                      <div class="text-center col-lg-2">

                        <h5>Email</h5>
                        <p class=" text-center phone-numbers text-nowrap me-4 textoNav "><br><a href="mailto:contacto@nuestramedicina.com">contacto@nuestramedicina.com</a> <br> <a href="mailto:info@nuestramedicina.com">info@nuestramedicina.com</a>
                        </p>
                        <!--<hr class="my-4 w-100">-->
                      </div>


                    </div>




            </ul>
          </li>


          <a class="letraNav1 nav-link mis-colores-nav" href="/eng/components/nav/cesarArmoza.html">Cesar Armoza</a>
          <li class="nav-item dropdown">
            <a class=" letraNav1 mis-colores-nav nav-link dropdown-toggle" href="#" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Links of interest
            </a>
            <ul class="dropdown-menu">
              <li class="dropdown-item" href="/eng/components/nav/virtualConsultation.html">Virtual Consultation</li>
              <li><a class="dropdown-item" href="/eng/components/nav/clinic.html">Our clinic</a></li>
              <li><a class="dropdown-item" href="/eng/components/enfermedades/diseaseMenu.html">Diseases</a></li>
              <li><a class="dropdown-item" href="/eng/components/nav/homeRecipes.html">Homemade recipes</a></li>
              <li><a class="dropdown-item" href="/eng/components/nav/faq.html">Frequent questions</a></li>
              
            </ul>
          </li>
          </ul>
        </div>
      </div>



      <!-- Botón en la esquina derecha -->
      <a href="/eng/components/nav/virtualConsultation.html" class="colorBotonesA boton-llamativo mx-3 btn btn-primary btn-lg order-4 letraBotonNav "><img width="40" src="/src/img/icons/llamada-blanco.png"
          alt=""> Consult now</a>


    

    </div>
  </nav>




  <!-- Segunda barra de navegación -->

  <nav class="desaparecer navbar navbar-expand-lg navbar-light bg-light d-none d-lg-block">
    <div class="container-fluid">
      <!-- Centra los enlaces en el medio de la pantalla -->
      <ul class="navbar-nav mx-auto">
        <li class="nav-item dropdown">
          <a class="letraNav2 nav-link " href="/eng/components/nav/virtualConsultation.html">
            Virtual Consultation
          </a>
          <div class="dropdown-menu center fade ">
            <div class="d-flex ">
              <div class="col vertical-bar">
                <a class="dropdown-item text-center letraNav2" href="/eng/components/ejerc">Acupuncture</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/servicios/masajes.html">Massages</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/servicios/parches.html">Patches</a>
                <a class="dropdown-item text-center letraNav2"
                  href="/eng/components/servicios/traditionalMedicine.html">Medicina Tradicional<br>Natural</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/servicios/cupping.html">cupping</a>
                



        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle letraNav2" href="#" role="button" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" data-bs-popper="center-start">
            Diseases
          </a>
          <div class="dropdown-menu dropdown-menu1 center fade ">
            <div class="d-flex ">
              <div class="col vertical-bar">
                <h5 class="dropdown-header text-center  textoNav ">A</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/allergies.html">Allergies</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/anemia.html">Anemia</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/anxiety.html">Anxiety</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/arrhythmia.html">Arrhythmia</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/arthritis.html">Arthritis</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/asthma.html">Asthma</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/highBPressureHypertension.html">Arterial pressure
                  Alta <br> hypertension</a>
                <h5 class="dropdown-header text-center  textoNav">B</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/bronchitis.html">Bronchitis</a>
                <h5 class="dropdown-header text-center  textoNav">C</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/cancer.html">Cancer</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/chronsDisease.html">Crohn's disease</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/constipation.html">Constipation</a>
                

              </div>

              <div class="col vertical-bar">
                <h5 class="dropdown-header text-center textoNav">D</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/gastricDisorders.html">Disorders
                  Gastric</a>
                
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/diabetesMellitus.html">Diabetes
                  Millitus</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/diarrhea.html">Diarrhea</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/sti.html">Disease
                  of <br> sexual transmission</a>
                
                <h5 class="dropdown-header text-center textoNav">E</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/epilepsy.html">Epilepsy</a>

                <h5 class="dropdown-header text-center textoNav">G</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/gallbladderDisorder.html">Gallbladder Disorder</a>
              </div>

              <div class="col vertical-bar">
                <h5 class="dropdown-header text-center textoNav">H</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/halitosis.html">Halitosis (bad
                  Breath)</a>
                  <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/highCholesterol.html"> High cholesterol <br> (hypercholesterolemia)</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/hemorroids.html">Hemorrhoids</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/hepatitis.html">Hepatitis</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/herpeszoster.html">herpesZoster</a>
                <a class="dropdown-item text-center letraNav2"
                  href="/eng/components/enfermedades/hyperthyroidism.html">Hyperthyroidism</a>
                <a class="dropdown-item text-center letraNav2"
                  href="/eng/components/enfermedades/hipothyroidism.html">Hypothyroidism</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/aids.html">HIV INFECTION (AIDS)</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/hairLose.html">Hair lose</a>
                <h5 class="dropdown-header text-center textoNav">I</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/sexuaImpotence.html">Impotence
                  Sexual</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/incontinence.html">Incontinence</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/urinaryTInfection.html">Infection
                  of the urinary tract</a>

              </div>
              <div class="col vertical-bar">
                <h5 class="dropdown-header text-center textoNav">L</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/lupusErythematosus.html">Lupus Eritematoso</a>
                <h5 class="dropdown-header text-center letraNav2 textoNav">M</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/menopause.html">Menopause</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/migraine.html">Migraine</a>
                <h5 class="dropdown-header text-center textoNav">P</h5>
                <a class="dropdown-item text-center letraNav2"
                  href="/eng/components/enfermedades/periodontalDisease.html">Periodontal disease</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/psoriasis.html">psoriasis</a>
                <a class="dropdown-item text-center letraNav2"
                  href="/eng/components/enfermedades/prostaticDisorder.html">Prostatic disorders</a>
              </div>
              <div class="col">
                <h5 class="dropdown-header text-center textoNav">S</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/sinusitis.html">Sinusitis</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/soreThroat.html">Sore throat</a>
                <h5 class="dropdown-header text-center textoNav">T</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/gallbladderDisorder.html">Gallbladder Disorder</a>
                <h5 class="dropdown-header text-center textoNav">V</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/vitiligo.html">Vitiligo</a>

              </div>

            </div>
          </div>
        </li>
         
          <a class="nav-link letraNav2" href="/eng/components/nav/clinic.html">Our clinic</a>
        
          
          <a class="nav-link letraNav2" href="/eng/components/ejercicios/ejerciciosParaSuSalud.html">Exercises for your health</a>
        



        <a class="nav-link  letraNav2" href="/eng/components/nav/homeRecipes.html">
          Homemade recepies
        </a>

        
          <a class="nav-link  letraNav2" href="/eng/components/nav/faq.html" >
            Frequent questions
          </a>

          



    </div>
    </li>

    </ul>
    </div>
  </nav>










<!--ESTE ES EL CONTENIDO DE LA PAG-->

<div class="container-fluid text-center">
  <div class="row">
    <div class="col-md-6">
      <h1 class="m-5 enferTitulo">
        Sexual impotence
      </h1>
      <p class="enferTexto m-5">
        <p class="enferTexto m-5">
          Impotence is the constant inability to maintain sufficient erection for intercourse. Doctors often use the term "erectile dysfunction" to describe this disorder and differentiate it from other problems that hinder intercourse, such as lack of sexual desire and problems with ejaculation and orgasm.
        </p>
        <p class="enferTexto m-5">
          Impotence may be the total disability to achieve erection, irregular disability to achieve it or a tendency to maintain only short erections. Because of these variations, it is difficult to define impotence and calculate its incidence.
        </p>
        <p class="enferTexto m-5">
          Between 10 and 15 million American men suffer from helplessness; The incidence increases with age: approximately 5% of men at 40 and between 15 and 25% of men at 65 experience impotence. Even so, it is not an inevitable part of aging.
        </p>
      </p>
    </div>


    <div class="p-4 col-md-6">
      <img class="img-fluid my-sm-5" src="/src/components/enfermedades/img/Rectangle 48impotencia.png" alt="">
    </div>

  </div>


 <!--Acordeon-->
  <div class="container-flex">
    <div class="accordion" id="accordionExample">
      <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button accordionheaderStilo align-items-center " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <div class="centrar">
              Causes
            </div>
          
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>
              As erection requires a sequence of phenomena, impotence can occur when any of these is interrupted.
            </p>
            <p>
              The sequence includes the nerve impulses of the brain, the spinal cord and the penis area, and the response of the muscles, the fibrous tissue, the veins and arteries of the cavernous bodies and nearby areas.
            </p>
            <p>
              The most common cause of impotence is the damage of the arteries, smooth muscle and fibrous tissue, often as a result of a disease:
              <ul>
                <li> Diabetes mellitus </li>
                <li> Kidney disease </li>
                <li> Chronic alcoholism </li>
                <li> Multiple sclerosis </li>
                <li> Atherosclerosis </li>
                <li> Abdominal aneurysm </li>
                <li> Surgical interventions (prostate) </li>
                <li> Penis lesions, spinal cord, prostate, urinary bladder and pelvis </li>
                <li> Many common medications </li>
                <li> Psychological factors (stress, anxiety, sense of guilt, depression, little self -esteem) </li>
                <li> Hormonal abnormalities (insufficient testosterone production) </li>
                <li> smoking</li>
              </ul>
            </p>

          </div>
        </div>
      </div>
    
      <!-- Repite la estructura para los siguientes elementos -->
      
      <div class="accordion-item m-2">
        <h2 class="accordion-header ">
          <button class="accordion-button collapsed accordionheaderStilo" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <div class="centrar">
              Food recommendations
            </div>
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>
              Eat a healthy and well -balanced diet.Include Bee Pollen diet, Royal Jele
            </p>
            <p>
              Avoid alcohol, particularly before a sexual encounter.
            </p>
            <p>
              Does not consume animal fat, sugars, fried foods, red meat or junk food
            </p>
            <p>
              Ingiera: raspberry, oatmeal, raw egg yolk, shellfish, beans, sweet potatoes, celery, carrots, spinach.
            </p>
            <p>
              Coma chicken, turkey, fish and crustaceans (crab)
            </p>
            <p>
              Prepare the following juices: J15– J01– J30– J27– J40– J31– J59 Hand them in extractor or blender It is recommended to ingest them once or twice a day.
            </p>
            <p>
              Phytotherapy: These plants improve penian erection.
            </p>
            <p>
              <strong>Oatmeal:</strong> their pressed seeds cooked in broth or milk, have toning and balancer action of the nervous system.
              <br>
              <strong>Chess:</strong> (real thyme) In infusion or essence, it has an aphrodisiac power of discreet action, although progressive.
              <br>
              <strong>Ginseng:</strong> Root powder or extracts, stimulates sexual glands.
              <br>
              <strong>Sesame:</strong> Raw or toasted seeds, it is a balancer of the nervous system, improves sexual capacity.
              <br>
              <strong>Damiana</strong>: Infusion of its leaves or extracts, it is a toning of the nervous, revitalizing, aphodisiac system.
            </p>

          </div>
        </div>
      </div>
    
      <!-- Repite la estructura para más elementos según sea necesario -->
      <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <div class="centrar">
              Environmental recommendations
            </div>
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>
              Do not exceed the exercise, since it can stimulate the natural opiates of your body, they can turn off the sexual stimulus.
            </p>
            <p>
              Relax, a relaxed mental state is fundamental for the following: its nervous system operates with two ways. When the sympathetic nerve network dominates, your body is literally alert. Adrenal hormones prepare it to fight or flee. 
              <br>
              The nerves divert the blood from the digestive and penis system to the muscles.
            </p>
            <p>
              You can activate the sympathetic nervous system just by feeling too anxious; For some the fear of failure is so overwhelming that the body floods with norepinephrine, an adrenal hormone, precisely opposite to that necessary to achieve an erection. 
              <br>
              The key here is to relax and let your parasympathetic nervous system take over. The signals that travel through this network will order the arteries and breasts of the penis that expand and allow more blood to flow.
            </p>
            <p> your attention. One way to relax is to focus with your partner on the most sensual aspects of intimacy. 
              <br>
              Play and enjoy each other, without worrying about that erection. "The skin is the most extensive sexual organ of the body"
              "Not the penis" so don't get carried away by him. </p>
              <p> keep in mind that sexual function changes with age. The older, it could require longer periods to perform an erection. </p>
              <p> Investigate the possibility of heavy metal poisoning.</p>

          </div>
        </div>
      </div>
      
      <!-- Repite la estructura para más elementos según sea necesario -->
      <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            <div class="centrar">
              Healthy food
            </div>
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            R01 - R02 - R04 - R05 - R08 - R09 - R10 - R12 - R14 - R16 - R19 - R20
          </div>
        </div>
      </div>


       <!-- Repite la estructura para más elementos según sea necesario -->
       <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            <div class="centrar">
              Bathrooms and aromatherapy
            </div>
          </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>
              There are many essence oils that can help reduce stress and increase sexual desire. Jazmine, Pachulí, Rosa, Sandalwood, and Ylag Ylang are among the best known for this purpose. 
              <br>
              Choose from one to three of these essences and prepare a sensual, relaxing and aromateráfico bath or massage to prepare to make love.
            </p>
            <p>
              Impotence can be treated in all age groups, and the knowledge of this fact has been increasing.
              <br>
              More men have sought help and have recovered an almost normal sexual activity thanks to improved impotence.
            </p>

          </div>
        </div>
      </div>     
      
       <!-- Repite la estructura para más elementos según sea necesario -->
       <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo " type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            <div class="centrar">
              Recommendations of nutritional supplements
            </div>
          </button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            ManPower, Estaminax, Hércules, Rinofen, Camwenlin, CardioCircu Plus, G-Plus, Testicular
          </div>
        </div>
      </div>
      
      
         

      
      
       <!-- Repite la estructura para más elementos según sea necesario -->
       <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo " type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
            <div class="centrar">
              Possible diagnosis in Traditional Chinese Medicine
            </div>
          </button>
        </h2>
        <div id="collapseEleven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>
              Kidney deficiency, blood stagnation, liver stagnation, heat stagnation and moisture in low belly, weakness and/or blood deficiency, excess moisture and/or phlegm in certain meridians or throughout the system.
            </p>
            <p>
              <strong>According to the symptoms described by the patient in consultation, as the language is seen, studies of the primary doctor, and the pulses that are taken in both wrists will define the diagnosis. Depending on the diagnosis, acupuncture treatment, Chinese herbs, oriental diet and recommended exercises will be defined. The key is a good diagnosis.Oriental doctor who attacks the symptoms to calm is called a minor doctor. The one who attacks the origin of the symptoms to cure that the patient is called a major doctor or master in Traditional Chinese medicine.</strong>
            </p>

          </div>
        </div>
      </div>    
      
      

            
                  
                        
            
            
    
    </div>
  </div>
 
  
  

    


  <footer>

    <div class="container-flex text-center bg-verde">
      <div class="container-fluid text-center">
        <div class="row">
          <div class="p-4 col-md-4">
            <a href="/index.html"><img class="mx-4 img-fluid" src="/src/img/imagenes/logo3 1Logofooter.png" width="" alt="Logo"></a>
          </div>
          <div class="p-4 col-md-4 offset-md-4">
            <a href="https://www.instagram.com/armozanatural1/"><img class="mx-2 img-fluid"
                src="/src/img/imagenes/Component 1redes.png" width="30" alt="Instagram"></a>
            <a href="https://www.facebook.com/armozanatural"><img class="mx-2 img-fluid" src="/src/img/imagenes/Vectorredes-1.png"
                width="30" alt="Facebook"></a>
            <a href=""><img class="mx-2 img-fluid" src="/src/img/imagenes/Vectorredes-2.png" width="30" alt="TikTok"></a>
            <a href="https://www.youtube.com/channel/UCGGaoxOt0dyOVFCRiqSrt4Q"><img class="mx-2 img-fluid"
                src="/src/img/imagenes/Vectorredes.png" width="30" alt="YouTube"></a>
  
          </div>
          <div>
            <h6 class="disclaimerTitulo">
              Disclaimer
            </h6>
            <p class="disclaimerTexto">Vitamin, mineral and natural products and instructions
              Suggested generals, they don't try to replace services
              of a doctor. <br>
              If you suffer from any disease, consult your doctor.
              Do not stop taking or change any medication or treatment
              prescribed by your primary doctor or the hospital.
              Consult your primary doctor before taking vitamins,
              natural products, exercise, or any other
              suggestion of this website.</p>
          </div>
        </div>
  
  
  
  
  
  
  
      </div>
  </footer>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  </body>
</html>