<!doctype html>
<html lang="en">


<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Medicina-Natural</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="/src/css/videocall.css">
  <link rel="stylesheet" href="/src/css/main.css">
  <link rel="stylesheet" href="/src/css/idioma.css">
  <link rel="stylesheet" href="/src/js/idioma.js">
  <link rel="styles" href="/src/js/popper.min.js">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0">
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-1KHPNP784F">
</script>

  <!-- Puedes agregar tamaños adicionales para compatibilidad con navegadores modernos -->
  <link rel="icon" href="/src/img/imagenes/favico.png" sizes="32x32" type="image/png">
  <link rel="icon" href="/src/img/imagenes/favico16.png" sizes="16x16" type="image/png">






</head>

<body>
  


  




 


  <nav class="navbar navbar-expand-lg bg-white">
    <div class="container-md p-0">
      <!-- Logo en la esquina izquierda -->
      <a class="navbar-brand mis-colores-nav p-2" href="/eng/index.html">
        <img src="/src/img/imagenes/logo-final.png" alt="logo" class="img-fluid" style="max-width: 200px;">
      </a>

      <!-- Botón para toggle de navegación en pantallas pequeñas -->
      <button class="navbar-toggler order-2" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Enlaces centrados -->
      <div class="collapse navbar-collapse order-1 justify-content-end p-2" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="letraNav1 nav-link mis-colores-nav" href="">Help Center</a>
          <li class="nav-item dropdown">
            <a a class=" letraNav1 mis-colores-nav nav-link dropdown-toggle" href="#" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">Contact</a>
            <ul class="dropdown-menu">
              <div class="container-flex m-2 me-4 text-center">
                <div class="row">
                  <div class="col-lg-2 "><img src="/src/img/imagenes/Group 6Telefono contacto.png" alt="">

                  </div>
                  <div class="text-center col-lg-2">

                    <h5>Call</h5>
                    <p class=" phone-numbers text-nowrap me-4 "><br>1-800-522-7099 <br> +1 (516) 815-6674 <br> +1-718-651-6677 </p>
                    <hr class="my-4 w-100">
                  </div>

                  <div class="container-flex  me-4 text-center">
                    <div class="row">
                      <div class="col-lg-2 "><img src="/src/img/imagenes/Group 7mailcontacto.png" alt="">

                      </div>
                      <div class="text-center col-lg-2">

                        <h5>Email</h5>
                        <p class=" text-center phone-numbers text-nowrap me-4 textoNav "><br><a href="mailto:contacto@nuestramedicina.com">contacto@nuestramedicina.com</a> <br> <a href="mailto:info@nuestramedicina.com">info@nuestramedicina.com</a>
                        </p>
                        <!--<hr class="my-4 w-100">-->
                      </div>


                    </div>




            </ul>
          </li>


          <a class="letraNav1 nav-link mis-colores-nav" href="/eng/components/nav/cesarArmoza.html">Cesar Armoza</a>
          <li class="nav-item dropdown">
            <a class=" letraNav1 mis-colores-nav nav-link dropdown-toggle" href="#" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Links of interest
            </a>
            <ul class="dropdown-menu">
              <li class="dropdown-item" href="/eng/components/nav/virtualConsultation.html">Virtual Consultation</li>
              <li><a class="dropdown-item" href="/eng/components/nav/clinic.html">Our clinic</a></li>
              <li><a class="dropdown-item" href="/eng/components/enfermedades/diseaseMenu.html">Diseases</a></li>
              <li><a class="dropdown-item" href="/eng/components/nav/homeRecipes.html">Homemade recipes</a></li>
              <li><a class="dropdown-item" href="/eng/components/nav/faq.html">Frequent questions</a></li>
              
            </ul>
          </li>
          </ul>
        </div>
      </div>



      <!-- Botón en la esquina derecha -->
      <a href="/eng/components/nav/virtualConsultation.html" class="colorBotonesA boton-llamativo mx-3 btn btn-primary btn-lg order-4 letraBotonNav "><img width="40" src="/src/img/icons/llamada-blanco.png"
          alt=""> Consult now</a>


    

    </div>
  </nav>




  <!-- Segunda barra de navegación -->

  <nav class="desaparecer navbar navbar-expand-lg navbar-light bg-light d-none d-lg-block">
    <div class="container-fluid">
      <!-- Centra los enlaces en el medio de la pantalla -->
      <ul class="navbar-nav mx-auto">
        <li class="nav-item dropdown">
          <a class="letraNav2 nav-link " href="/eng/components/nav/virtualConsultation.html">
            Virtual Consultation
          </a>
          <div class="dropdown-menu center fade ">
            <div class="d-flex ">
              <div class="col vertical-bar">
                <a class="dropdown-item text-center letraNav2" href="/eng/components/ejerc">Acupuncture</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/servicios/masajes.html">Massages</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/servicios/parches.html">Patches</a>
                <a class="dropdown-item text-center letraNav2"
                  href="/eng/components/servicios/traditionalMedicine.html">Medicina Tradicional<br>Natural</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/servicios/cupping.html">cupping</a>
                



        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle letraNav2" href="#" role="button" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" data-bs-popper="center-start">
            Diseases
          </a>
          <div class="dropdown-menu dropdown-menu1 center fade ">
            <div class="d-flex ">
              <div class="col vertical-bar">
                <h5 class="dropdown-header text-center  textoNav ">A</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/allergies.html">Allergies</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/anemia.html">Anemia</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/anxiety.html">Anxiety</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/arrhythmia.html">Arrhythmia</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/arthritis.html">Arthritis</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/asthma.html">Asthma</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/highBPressureHypertension.html">Arterial pressure
                  Alta <br> hypertension</a>
                <h5 class="dropdown-header text-center  textoNav">B</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/bronchitis.html">Bronchitis</a>
                <h5 class="dropdown-header text-center  textoNav">C</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/cancer.html">Cancer</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/chronsDisease.html">Crohn's disease</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/constipation.html">Constipation</a>
                

              </div>

              <div class="col vertical-bar">
                <h5 class="dropdown-header text-center textoNav">D</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/gastricDisorders.html">Disorders
                  Gastric</a>
                
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/diabetesMellitus.html">Diabetes
                  Millitus</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/diarrhea.html">Diarrhea</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/sti.html">Disease
                  of <br> sexual transmission</a>
                
                <h5 class="dropdown-header text-center textoNav">E</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/epilepsy.html">Epilepsy</a>

                <h5 class="dropdown-header text-center textoNav">G</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/gallbladderDisorder.html">Gallbladder Disorder</a>
              </div>

              <div class="col vertical-bar">
                <h5 class="dropdown-header text-center textoNav">H</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/halitosis.html">Halitosis (bad
                  Breath)</a>
                  <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/highCholesterol.html"> High cholesterol <br> (hypercholesterolemia)</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/hemorroids.html">Hemorrhoids</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/hepatitis.html">Hepatitis</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/herpeszoster.html">herpesZoster</a>
                <a class="dropdown-item text-center letraNav2"
                  href="/eng/components/enfermedades/hyperthyroidism.html">Hyperthyroidism</a>
                <a class="dropdown-item text-center letraNav2"
                  href="/eng/components/enfermedades/hipothyroidism.html">Hypothyroidism</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/aids.html">HIV INFECTION (AIDS)</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/hairLose.html">Hair lose</a>
                <h5 class="dropdown-header text-center textoNav">I</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/sexuaImpotence.html">Impotence
                  Sexual</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/incontinence.html">Incontinence</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/urinaryTInfection.html">Infection
                  of the urinary tract</a>

              </div>
              <div class="col vertical-bar">
                <h5 class="dropdown-header text-center textoNav">L</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/lupusErythematosus.html">Lupus Eritematoso</a>
                <h5 class="dropdown-header text-center letraNav2 textoNav">M</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/menopause.html">Menopause</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/migraine.html">Migraine</a>
                <h5 class="dropdown-header text-center textoNav">P</h5>
                <a class="dropdown-item text-center letraNav2"
                  href="/eng/components/enfermedades/periodontalDisease.html">Periodontal disease</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/psoriasis.html">psoriasis</a>
                <a class="dropdown-item text-center letraNav2"
                  href="/eng/components/enfermedades/prostaticDisorder.html">Prostatic disorders</a>
              </div>
              <div class="col">
                <h5 class="dropdown-header text-center textoNav">S</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/sinusitis.html">Sinusitis</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/soreThroat.html">Sore throat</a>
                <h5 class="dropdown-header text-center textoNav">T</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/gallbladderDisorder.html">Gallbladder Disorder</a>
                <h5 class="dropdown-header text-center textoNav">V</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/vitiligo.html">Vitiligo</a>

              </div>

            </div>
          </div>
        </li>
         
          <a class="nav-link letraNav2" href="/eng/components/nav/clinic.html">Our clinic</a>
        
          
          <a class="nav-link letraNav2" href="/eng/components/ejercicios/exercisesforyouhealth.html">Exercises for your health</a>
        



        <a class="nav-link  letraNav2" href="/eng/components/nav/homeRecipes.html">
          Homemade recepies
        </a>

        
          <a class="nav-link  letraNav2" href="/eng/components/nav/faq.html" >
            Frequent questions
          </a>

          



    </div>
    </li>

    </ul>
    </div>
  </nav>











<!--ESTE ES EL CONTENIDO DE LA PAG-->

<div class="container-fluid text-center">
  <div class="row">
    <div class="col-md-6">
      <h1 class="m-5 enferTitulo">
        Sinusitis
      </h1>
      <p class="enferTexto m-5">
        Sinusitis is an inflammation or infection that occurs in the breasts.The breasts are four cavities or open spaces inside the bones of the skull. 
        <br>
        They are found in pairs: frontal sinuses, sphenoid sinuses, ethmoidal sinuses and maxillary breasts.
        <br>
        The breasts are covered by a mucous membrane similar to those of the nostrils. Its function is to filter, warm and moisten the air that enters through the airways. The problem begins when the membrane that covers the nostrils swells, block and congest; which leads to sinusitis. Most cases are affected by frontal and/or maxillary breasts, but any of the others can be affected.
        <br>
        Sinusitis can be acute or chronic.Acute sinusitis is frequently caused by viral or bacterial infection of the nose, throat and high respiratory tract, such as the common cold. More than 50% of sinusitis cases are caused by bacteria.
        <br>
        Chronic sinusitis can be caused by polyps in the nose, lesions of nostrils, cigarettes and exposure to irritating fumes.
        <br>
        Allergic sinusitis can be caused by fever or allergy to certain foods such as: milk and daily products. People with immune system commitment are susceptible to fungal sinusitis, a potentially dangerous condition that requires aggressive treatment.
      </p>
    </div>


    <div class="p-4 col-md-6">
      <img class="img-fluid my-sm-5" src="/src/components/enfermedades/img/Rectangle 56sinusitis.png" alt="">
    </div>

  </div>


 <!--Acordeon-->
  <div class="container-flex">
    <div class="accordion" id="accordionExample">
      <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button accordionheaderStilo align-items-center " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <div class="centrar">
              Sign and symptoms
            </div>
          
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
          <div class="accordion-body">
          
          <ul>
            <li>Pain on the cheeks, just below the eyes </li>
            <li> Tooth pain </li>
            <li> Headache </li>
            <li> Pain behind and between eyes </li>
            <li> Green or yellow mucous secretion </li>
            <li> Fever </li>
            <li> Difficulty of air passage through the nose </li>
            <li> Loss of the sense of smell </li>
            <li> Bad breath </li>
            <li> Ronquera </li>
            <li> Loss of sleep.</li>
          </ul>

          </div>
        </div>
      </div>
    
      <!-- Repite la estructura para los siguientes elementos -->
      
      <div class="accordion-item m-2">
        <h2 class="accordion-header ">
          <button class="accordion-button collapsed accordionheaderStilo" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <div class="centrar">
              General recommendations and home advice
            </div>
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">

            <p>
              To relieve congestion, fluidify mucus and facilitate drainage;Take hot water and hot tea of herbs.
            </p>
            <p>
              Eat a diet consisting of 75% raw foods (vegetables).
              <br>
              Coma chicken soup made with abundant vegetables
            </p>
            <p>
              Eliminate milk and daily products from your diet; They can increase the production of mucus and cause adhesivity making it even more difficult to drain from it.
            </p>
            <p>
              Eliminate the sugar from your diet.Reduce salt intake.
            </p>
            <p>
              Do not eat red meat (pork, beef, goat, lamb, etc.)
            </p>
            <p>
              Do not eat fried foods or fatty foods.
              <br>
              Avoid fast foods (hamburgers, pizzas, french fries)
            </p>
            <p>
              Make hot lemonade to help cut the mucus and improve blood flow.Mix the juice of two fresh lemons with the same amount of water, sweeten the drink with honey.Drink this three times a day.
            </p>
            <p>
              <strong> Phytotherapy: </strong> In addition to nasal irrigations, compresses on the face, inhalations of vapors or essences, and the ingestion of plants with antibiotic action are recommended.
            </p>
            <ul>
              <li> <strong> Carrot: </strong> raw or juice.For its carotene content, it strengthens the mucous membranes and increases the defenses. </li>
              <li> <strong> Verbena: </strong> make inhalations of the decoction vapors, hot compresses with the infusion or decoction on the face; It acts as anti-inflammatory and astringent. </li>
              <li> <strong> Pine: </strong> balsamic and antiseptic.Inhalation and ingestion of the essence of treemine. </li>
              <li> <strong> Radish: </strong> raw or in fresh juice.Soften the mucus, antibiotic. </li>
              <li> <strong> Rosal: </strong> astringent, anti-inflammatory, antiseptic.Nasal washes with the infusion of petals.</li>
            </ul>

          </div>
        </div>
      </div>
    
      <!-- Repite la estructura para más elementos según sea necesario -->
      <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <div class="centrar">
              Environmental recommendations
            </div>
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>
              Eliminate all known and suspicious allergens from their environment.
            </p>
            <p>
              Avoid exposure to cigarette smoke and wood burning. 
              <br>
              Studies have shown that people who live in a families house where one or more members smoke and those who live extremely isolated homes with wooden stoves are more prone to high respiratory tract infections.
            </p>
            <p>
              Walk to clear your head.Exercise can contribute the desired relief because it releases adrenaline, which compresses blood vessels, and this can reduce inflammation into the sinuses.
            </p>

          </div>
        </div>
      </div>
      
      <!-- Repite la estructura para más elementos según sea necesario -->
      <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            <div class="centrar">
              Bathrooms and aromatherapy
            </div>
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>
              Give yourself a steam inhalation treatment, adding 4 or 5 drops of oily essence of eucalyptus and/or rosemary in a sink full of hot water or a large water pot.
            </p>
            <p>
              If you have tried self-treatment for three or four days and still suffers from the pain, pressure and tamponade of the breasts, you will need to see a doctor to help you clear the infection and drain your breasts. 
              <br>
              If you do not do your breasts, abscesses could produce the eyes still worse, towards the brain.
            </p>

          </div>
        </div>
      </div>



      
      

            

      

            
                  
                        
            
            
    
    </div>
  </div>
 
  
  

  <footer>

    <div class="container-flex text-center bg-verde">
      <div class="container-fluid text-center">
        <div class="row">
          <div class="p-4 col-md-4">
            <a href="/index.html"><img class="mx-4 img-fluid" src="/src/img/imagenes/logo3 1Logofooter.png" width="" alt="Logo"></a>
          </div>
          <div class="p-4 col-md-4 offset-md-4">
            <a href="https://www.instagram.com/armozanatural1/"><img class="mx-2 img-fluid"
                src="/src/img/imagenes/Component 1redes.png" width="30" alt="Instagram"></a>
            <a href="https://www.facebook.com/armozanatural"><img class="mx-2 img-fluid" src="/src/img/imagenes/Vectorredes-1.png"
                width="30" alt="Facebook"></a>
            <a href=""><img class="mx-2 img-fluid" src="/src/img/imagenes/Vectorredes-2.png" width="30" alt="TikTok"></a>
            <a href="https://www.youtube.com/channel/UCGGaoxOt0dyOVFCRiqSrt4Q"><img class="mx-2 img-fluid"
                src="/src/img/imagenes/Vectorredes.png" width="30" alt="YouTube"></a>
  
          </div>
          <div>
            <p>&copy; 2024 Nuestra Medicina And Family Acupunture, PLLC. All rights reserved.</p>
            <p class="enferTexto"><a href="/src/components/cards/privacy.html">Privacy Policy</a></p>
          </div>
          <div>
            <h6 class="disclaimerTitulo">
              Disclaimer
            </h6>
            <p class="disclaimerTexto">Vitamin, mineral and natural products and instructions
              Suggested generals, they don't try to replace services
              of a doctor. <br>
              If you suffer from any disease, consult your doctor.
              Do not stop taking or change any medication or treatment
              prescribed by your primary doctor or the hospital.
              Consult your primary doctor before taking vitamins,
              natural products, exercise, or any other
              suggestion of this website.</p>
          </div>
        </div>
  
  
  
  
  
  
  
      </div>
  </footer>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  </body>
</html>