<!doctype html>
<html lang="en">


<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Medicina-Natural</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="/src/css/videocall.css">
  <link rel="stylesheet" href="/eng/css/ejercicios.css">
  <link rel="stylesheet" href="/src/css/main.css">
  <link rel="stylesheet" href="/src/css/idioma.css">
  <link rel="stylesheet" href="/src/js/idioma.js">
  <link rel="styles" href="/src/js/popper.min.js">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0">
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-1KHPNP784F">
</script>

  <!-- Puedes agregar tamaños adicionales para compatibilidad con navegadores modernos -->
  <link rel="icon" href="/src/img/imagenes/favico.png" sizes="32x32" type="image/png">
  <link rel="icon" href="/src/img/imagenes/favico16.png" sizes="16x16" type="image/png">






</head>

<body>
  


  




 


  <nav class="navbar navbar-expand-lg bg-white">
    <div class="container-md p-0">
      <!-- Logo en la esquina izquierda -->
      <a class="navbar-brand mis-colores-nav p-2" href="/eng/index.html">
        <img src="/src/img/imagenes/logo-final.png" alt="logo" class="img-fluid" style="max-width: 200px;">
      </a>

      <!-- Botón para toggle de navegación en pantallas pequeñas -->
      <button class="navbar-toggler order-2" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Enlaces centrados -->
      <div class="collapse navbar-collapse order-1 justify-content-end p-2" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="letraNav1 nav-link mis-colores-nav" href="">Help Center</a>
          <li class="nav-item dropdown">
            <a a class=" letraNav1 mis-colores-nav nav-link dropdown-toggle" href="#" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">Contact</a>
            <ul class="dropdown-menu">
              <div class="container-flex m-2 me-4 text-center">
                <div class="row">
                  <div class="col-lg-2 "><img src="/src/img/imagenes/Group 6Telefono contacto.png" alt="">

                  </div>
                  <div class="text-center col-lg-2">

                    <h5>Call</h5>
                    <p class=" phone-numbers text-nowrap me-4 "><br>1-800-522-7099 <br> +1 (516) 815-6674 <br> +1-718-651-6677 </p>
                    <hr class="my-4 w-100">
                  </div>

                  <div class="container-flex  me-4 text-center">
                    <div class="row">
                      <div class="col-lg-2 "><img src="/src/img/imagenes/Group 7mailcontacto.png" alt="">

                      </div>
                      <div class="text-center col-lg-2">

                        <h5>Email</h5>
                        <p class=" text-center phone-numbers text-nowrap me-4 textoNav "><br><a href="mailto:contacto@nuestramedicina.com">contacto@nuestramedicina.com</a> <br> <a href="mailto:info@nuestramedicina.com">info@nuestramedicina.com</a>
                        </p>
                        <!--<hr class="my-4 w-100">-->
                      </div>


                    </div>




            </ul>
          </li>


          <a class="letraNav1 nav-link mis-colores-nav" href="/eng/components/nav/cesarArmoza.html">Cesar Armoza</a>
          <li class="nav-item dropdown">
            <a class=" letraNav1 mis-colores-nav nav-link dropdown-toggle" href="#" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Links of interest
            </a>
            <ul class="dropdown-menu">
              <li class="dropdown-item" href="/eng/components/nav/virtualConsultation.html">Virtual Consultation</li>
              <li><a class="dropdown-item" href="/eng/components/nav/clinic.html">Our clinic</a></li>
              <li><a class="dropdown-item" href="/eng/components/enfermedades/diseaseMenu.html">Diseases</a></li>
              <li><a class="dropdown-item" href="/eng/components/nav/homeRecipes.html">Homemade recipes</a></li>
              <li><a class="dropdown-item" href="/eng/components/nav/faq.html">Frequent questions</a></li>
              
            </ul>
          </li>
          </ul>
        </div>
      </div>



      <!-- Botón en la esquina derecha -->
      <a href="/eng/components/nav/virtualConsultation.html" class="colorBotonesA boton-llamativo mx-3 btn btn-primary btn-lg order-4 letraBotonNav "><img width="40" src="/src/img/icons/llamada-blanco.png"
          alt=""> Consult now</a>


    

    </div>
  </nav>




  <!-- Segunda barra de navegación -->

  <nav class="desaparecer navbar navbar-expand-lg navbar-light bg-light d-none d-lg-block">
    <div class="container-fluid">
      <!-- Centra los enlaces en el medio de la pantalla -->
      <ul class="navbar-nav mx-auto">
        <li class="nav-item dropdown">
          <a class="letraNav2 nav-link " href="/eng/components/nav/virtualConsultation.html">
            Virtual Consultation
          </a>
          <div class="dropdown-menu center fade ">
            <div class="d-flex ">
              <div class="col vertical-bar">
                <a class="dropdown-item text-center letraNav2" href="/eng/components/ejerc">Acupuncture</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/servicios/masajes.html">Massages</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/servicios/parches.html">Patches</a>
                <a class="dropdown-item text-center letraNav2"
                  href="/eng/components/servicios/traditionalMedicine.html">Medicina Tradicional<br>Natural</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/servicios/cupping.html">cupping</a>
                



        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle letraNav2" href="#" role="button" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" data-bs-popper="center-start">
            Diseases
          </a>
          <div class="dropdown-menu dropdown-menu1 center fade ">
            <div class="d-flex ">
              <div class="col vertical-bar">
                <h5 class="dropdown-header text-center  textoNav ">A</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/allergies.html">Allergies</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/anemia.html">Anemia</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/anxiety.html">Anxiety</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/arrhythmia.html">Arrhythmia</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/arthritis.html">Arthritis</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/asthma.html">Asthma</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/highBPressureHypertension.html">Arterial pressure
                  Alta <br> hypertension</a>
                <h5 class="dropdown-header text-center  textoNav">B</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/bronchitis.html">Bronchitis</a>
                <h5 class="dropdown-header text-center  textoNav">C</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/cancer.html">Cancer</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/chronsDisease.html">Crohn's disease</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/constipation.html">Constipation</a>
                

              </div>

              <div class="col vertical-bar">
                <h5 class="dropdown-header text-center textoNav">D</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/gastricDisorders.html">Disorders
                  Gastric</a>
                
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/diabetesMellitus.html">Diabetes
                  Millitus</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/diarrhea.html">Diarrhea</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/sti.html">Disease
                  of <br> sexual transmission</a>
                
                <h5 class="dropdown-header text-center textoNav">E</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/epilepsy.html">Epilepsy</a>

                <h5 class="dropdown-header text-center textoNav">G</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/gallbladderDisorder.html">Gallbladder Disorder</a>
              </div>

              <div class="col vertical-bar">
                <h5 class="dropdown-header text-center textoNav">H</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/halitosis.html">Halitosis (bad
                  Breath)</a>
                  <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/highCholesterol.html"> High cholesterol <br> (hypercholesterolemia)</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/hemorroids.html">Hemorrhoids</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/hepatitis.html">Hepatitis</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/herpeszoster.html">herpesZoster</a>
                <a class="dropdown-item text-center letraNav2"
                  href="/eng/components/enfermedades/hyperthyroidism.html">Hyperthyroidism</a>
                <a class="dropdown-item text-center letraNav2"
                  href="/eng/components/enfermedades/hipothyroidism.html">Hypothyroidism</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/aids.html">HIV INFECTION (AIDS)</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/hairLose.html">Hair lose</a>
                <h5 class="dropdown-header text-center textoNav">I</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/sexuaImpotence.html">Impotence
                  Sexual</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/incontinence.html">Incontinence</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/urinaryTInfection.html">Infection
                  of the urinary tract</a>

              </div>
              <div class="col vertical-bar">
                <h5 class="dropdown-header text-center textoNav">L</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/lupusErythematosus.html">Lupus Eritematoso</a>
                <h5 class="dropdown-header text-center letraNav2 textoNav">M</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/menopause.html">Menopause</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/migraine.html">Migraine</a>
                <h5 class="dropdown-header text-center textoNav">P</h5>
                <a class="dropdown-item text-center letraNav2"
                  href="/eng/components/enfermedades/periodontalDisease.html">Periodontal disease</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/psoriasis.html">psoriasis</a>
                <a class="dropdown-item text-center letraNav2"
                  href="/eng/components/enfermedades/prostaticDisorder.html">Prostatic disorders</a>
              </div>
              <div class="col">
                <h5 class="dropdown-header text-center textoNav">S</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/sinusitis.html">Sinusitis</a>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/soreThroat.html">Sore throat</a>
                <h5 class="dropdown-header text-center textoNav">T</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/gallbladderDisorder.html">Gallbladder Disorder</a>
                <h5 class="dropdown-header text-center textoNav">V</h5>
                <a class="dropdown-item text-center letraNav2" href="/eng/components/enfermedades/vitiligo.html">Vitiligo</a>

              </div>

            </div>
          </div>
        </li>
         
          <a class="nav-link letraNav2" href="/eng/components/nav/clinic.html">Our clinic</a>
        
          
          <a class="nav-link letraNav2" href="/eng/components/ejercicios/exercisesforyouhealth.html">Exercises for your health</a>
        



        <a class="nav-link  letraNav2" href="/eng/components/nav/homeRecipes.html">
          Homemade recepies
        </a>

        
          <a class="nav-link  letraNav2" href="/eng/components/nav/faq.html" >
            Frequent questions
          </a>

          



    </div>
    </li>

    </ul>
    </div>
  </nav>




  <div class="text-center"><h1 class="titulo1 m-5"> Exercises For You Health</h1></div>
  <div id="carouselExampleDark" class="carousel carousel-dark slide m-5" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Slide 7"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="7" aria-label="Slide 8"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="8" aria-label="Slide 9"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="9" aria-label="Slide 10"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="10" aria-label="Slide 11"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="11" aria-label="Slide 12"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="12" aria-label="Slide 13"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="13" aria-label="Slide 14"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="14" aria-label="Slide 15"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="15" aria-label="Slide 16"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="16" aria-label="Slide 17"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="17" aria-label="Slide 18"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="18" aria-label="Slide 19"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="19" aria-label="Slide 20"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="20" aria-label="Slide 21"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="21" aria-label="Slide 22"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="22" aria-label="Slide 23"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="23" aria-label="Slide 24"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="24" aria-label="Slide 25"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="25" aria-label="Slide 26"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="26" aria-label="Slide 27"></button>
      
      
    </div>
      

    

      <div class="carousel-inner">
          <div class="carousel-item active m-4" data-bs-interval="10000">
            <div class="row">
              <div class="col-md-12">
                <img src="/src/components/ejercicios/pp/ejercicios-n/1.png" class="d-block w-100 m-5 mx-auto" alt="...">
              </div>
              <div class="col-md-6">
                <div class="carousel-caption d-none d-md-block">
                <h5>Exercise N°1</h5>
                <p>Bend your knees and bring the soles of your feet together. <br>
                  This position will stretch the groin. <br>
                  Hold this position for 60 seconds</p>
                </div>
        </div>
      </div>
    </div>
      
      <div class="carousel-item m-4" data-bs-interval="10000">
        <img src="/src/components/ejercicios/pp/ejercicios-n/2.png" class="d-block mx-auto m-5 w-100" alt="...">
        <div class="carousel-caption mt-5 d-none d-md-block">
          <h5>Exercise N°2</h5>
          <p class="">Interlace your hands behind your head. <br>
            Very slowly, lift your head with your arms, positioning your elbows in front of your head. <br>
            Hold this position for 5 seconds, repeating it 3 times or until you feel a gentle stretch in the neck area. </p>
        </div>
      </div>

      <div class="carousel-item" data-bs-interval="10000">
        <img src="/src/components/ejercicios/pp/ejercicios-n/3.png" class="d-block mx-auto m-5 w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Exercise N°3</h5>
          <p>With your knees bent, push your shoulders back to create tension in the upper back. <br>
            Hold the controlled tension for 4-5 seconds. <br>
            Relax and move your head forward as shown in Stretch #2. <br>
            This exercise will relieve tension and allow you to stretch your neck.</p>
        </div>
      </div>

      <div class="carousel-item" data-bs-interval="10000">
        <img src="/src/components/ejercicios/pp/ejercicios-n/4.png" class="d-block m-5 mx-auto w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Exercise N°4</h5>
          <p>Rest your head on the floor and extend one arm with the palm facing up, while keeping the other arm parallel to your body with the palm facing down. <br>
            Stretch in opposite directions to stretch your shoulders and back in a controlled manner. <br>
             Repeat this stretch on both sides at least twice. <br>
            Keep your lower back relaxed and in contact with the floor.</p>
        </div>
      </div>

      <div class="carousel-item" data-bs-interval="10000">
        <img src="/src/components/ejercicios/pp/ejercicios-n/5.png" class="d-block m-5 mx-auto w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Exercise N°5</h5>
          <p>Place your left leg over the right, bend your left knee at 90°, and interlace your hands behind your head. <br>
            Push with your left leg to bring your right leg toward the floor, feeling a stretch in the lower back and the side of your hip. <br>
            Hold the position for 30 seconds, then repeat on the other side.</p>
        </div>
      </div>

      <div class="carousel-item" data-bs-interval="10000">
        <img src="/src/components/ejercicios/pp/ejercicios-n/6.png" class="d-block m-5 mx-auto w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Exercise N°6</h5>
          <p>Stretch both legs and relax, keeping your head on the floor. <br>
            Place one hand on the bent knee and bring it toward your chest. <br>
            Hold the gentle stretch for 30 seconds. <br> Repeat with the other leg.
          </p>
        </div>
      </div>

      <div class="carousel-item" data-bs-interval="10000">
        <img src="/src/components/ejercicios/pp/ejercicios-n/7.png" class="d-block m-5 mx-auto w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Exercise N°7</h5>
          <p>Bend your left leg at 90° and lift it over your extended right leg. <br> Keep your head and shoulders on the floor. <br>
            Turn your head to the left, place your hand on top of your knee, and press the leg down. <br>
            Repeat on the other side and hold for 30 seconds.</p>
        </div>
      </div>

      <div class="carousel-item" data-bs-interval="10000">
        <img src="/src/components/ejercicios/pp/ejercicios-n/8.png" class="d-block m-5 mx-auto w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Exercise N°8</h5>
          <p>Place your arms above your head and stretch your legs and toes as much as possible. <br>
            Hold the position for 5 seconds, then relax. <br>
            This is a great stretch for the muscles of the entire body.</p>
        </div>
      </div>

      <div class="carousel-item" data-bs-interval="10000">
        <img src="/src/components/ejercicios/pp/ejercicios-n/9.png" class="d-block m-5 mx-auto w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Exercise N°9</h5>
          <p>Bring the soles of your feet together and hold them with your hands. <br>
             Bring your toes together and adopt a comfortable position in the groin area. <br>
            Try to keep your elbows on the outside of your legs to maintain a stable and balanced position. <br> Hold this position for 30 to 40 seconds.</p>
        </div>
      </div>

      <div class="carousel-item" data-bs-interval="10000">
        <img src="/src/components/ejercicios/pp/ejercicios-n/10.png" class="d-block m-5 mx-auto w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Exercise N°10</h5>
          <p>Sit down, bend your left leg over the right, place your left foot on the outside of your right thigh, and position your elbow on the outside of your left thigh (just above the knee). <br>
            Twist your torso and slowly move your head to look over your left shoulder. <br>
            This stretch will help you stretch your hips and lower back.</p>
        </div>
      </div>

      <div class="carousel-item" data-bs-interval="10000">
        <img src="/src/components/ejercicios/pp/ejercicios-n/11.png" class="d-block m-5 mx-auto w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Exercise N°11</h5>
          <p>Bend your knee and hold it with your arms. <br>
            Gently lift your leg toward your chest, feeling the stretch in the back of your leg. <br>
            Support your back on something and hold the position for 30 seconds. <br>
            Keep the leg pressed toward your chest without touching the knee.
          </p>
        </div>
      </div>

      <div class="carousel-item" data-bs-interval="10000">
        <img src="/src/components/ejercicios/pp/ejercicios-n/12.png" class="d-block m-5 mx-auto w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Exercise N°12</h5>
          <p>Sit with one leg bent and place the heel of the other foot near your hip. <br>
             Then, place the sole of the opposite foot on your thigh. <br>
            Gently lean back until you feel the stretch in your quadriceps. <br>
            Use your hands for balance. Hold for 30 seconds</p>
        </div>
      </div>

      <div class="carousel-item" data-bs-interval="10000">
        <img src="/src/components/ejercicios/pp/ejercicios-n/13.png" class="d-block m-5 mx-auto w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Exercise N°13</h5>
          <p>Contract the glute muscles on the side of the bent leg while pushing your hip forward. <br>
            This will help stretch the front of the hip and the top of the thighs. <br>
            Keep the glutes contracted for 5-8 seconds, then relax them and continue stretching the quadriceps for another 15 seconds.</p>
        </div>
      </div>

      <div class="carousel-item" data-bs-interval="10000">
        <img src="/src/components/ejercicios/pp/ejercicios-n/14.png" class="d-block m-5 mx-auto w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Exercise N°14</h5>
          <p>Place your right leg out with the sole of your left foot just touching the inner right thigh. <br>
            Lean forward to stretch the hamstrings, aiming for a gentle and relaxing stretch. <br>
            If you can't easily reach your feet, use a towel to assist with the stretch. <br>
            Hold the position for 50 seconds.</p>
        </div>
      </div>

      <div class="carousel-item" data-bs-interval="10000">
        <img src="/src/components/ejercicios/pp/ejercicios-n/15.png" class="d-block m-5 mx-auto w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Exercise N°15</h5>
          <p>As shown in the figure, place one leg forward until you feel a gentle stretch in the front of the hip, hamstring, and groin. <br>
            Hold the position without moving your knees for 30 seconds.</p>
        </div>
      </div>

      <div class="carousel-item" data-bs-interval="10000">
        <img src="/src/components/ejercicios/pp/ejercicios-n/16.png" class="d-block m-5 mx-auto w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Exercise N°16</h5>
          <p>Squat down with your heels flat and your knees bent at a 15° angle. <br>
            If necessary, you can use a fence or a post to support yourself with your hands. <br>
            This stretch benefits the ankles, Achilles tendons, groin, hips, and lower back. <br>
            Hold the position for 30 seconds.</p>
        </div>
      </div>

      <div class="carousel-item" data-bs-interval="10000">
        <img src="/src/components/ejercicios/pp/ejercicios-n/17.png" class="d-block m-5 mx-auto w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Exercise N°17</h5>
          <p>Standing near a solid support, rest your forearms on it with your head between your hands. <br>
            Bend one leg forward and extend the other leg back. <br>
            Move your hips forward to feel a gentle stretch in the calf of the extended leg. <br>
            Hold for 30 seconds before switching legs.</p>
        </div>
      </div>

      <div class="carousel-item" data-bs-interval="10000">
        <img src="/src/components/ejercicios/pp/ejercicios-n/18.png" class="d-block m-5 mx-auto w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Exercise N°18</h5>
          <p>To stretch the calf and Achilles tendon, slightly bend the back knee with the heel down. <br>
            This exercise is excellent for improving ankle flexibility. <br>
            Hold each position for 15 seconds on each leg.</p>
        </div>
      </div>

      <div class="carousel-item" data-bs-interval="10000">
        <img src="/src/components/ejercicios/pp/ejercicios-n/19.png" class="d-block m-5 mx-auto w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Exercise N°19</h5>
          <p>Grab your left foot with your right hand and gently pull, bringing the heel toward your buttocks. <br>
            In this position, the knee bends at a natural angle, creating a beneficial stretch for the knees. <br>
            Hold for 30 seconds and repeat on both legs.</p>
        </div>
      </div>

      <div class="carousel-item" data-bs-interval="10000">
        <img src="/src/components/ejercicios/pp/ejercicios-n/20.png" class="d-block m-5 mx-auto w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Exercise N°20</h5>
          <p>Lift your shoulders towards your ears until you feel slight tension in your neck and shoulders. <br>
            Hold this position for 30 seconds, then relax your shoulders back to their normal position. <br>
            Repeat this process 2 or 3 times.</p>
        </div>
      </div>

      <div class="carousel-item" data-bs-interval="10000">
        <img src="/src/components/ejercicios/pp/ejercicios-n/21.png" class="d-block m-5 mx-auto w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Exercise N°21</h5>
          <p>Move your chin toward your left shoulder to stretch the right side of your neck. <br>
            Hold the position for 10 to 20 seconds. <br>
            Repeat this stretch on each side twice. </p>
        </div>
      </div>

      <div class="carousel-item" data-bs-interval="10000">
        <img src="/src/components/ejercicios/pp/ejercicios-n/22.png" class="d-block m-5 mx-auto w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Exercise N°22</h5>
          <p>Interlace your fingers and stretch your arms over your head with your palms facing up. <br>
            Feel the stretch in your arms, shoulders, and upper back. <br>
            Hold the position for 15 seconds. Make sure to keep breathing normally.</p>
        </div>
      </div>

      <div class="carousel-item" data-bs-interval="10000">
        <img src="/src/components/ejercicios/pp/ejercicios-n/23.png" class="d-block m-5 mx-auto w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Exercise N°23</h5>
          <p>Standing with your knees slightly bent, gently bring your elbow behind your head and bend to the same side. <br>
            Hold the position for about 10 seconds. <br>
            Repeat this exercise on both sides.</p>
        </div>
      </div>

      <div class="carousel-item" data-bs-interval="10000">
        <img src="/src/components/ejercicios/pp/ejercicios-n/24.png" class="d-block m-5 mx-auto w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Exercise N°24</h5>
          <p>Standing with your knees slightly bent, place the palms of your hands with fingers pointing down on your lower back, just above your hips. <br>
            Gently press your hands down and maintain comfortable pressure for 10-12 seconds.</p>
        </div>
      </div>

      <div class="carousel-item" data-bs-interval="10000">
        <img src="/src/components/ejercicios/pp/ejercicios-n/25.png" class="d-block mx-auto w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Exercise N°25</h5>
          <p>With your fingers interlaced behind your back, rotate your elbows inward while stretching your arms. <br>
            Hold this position for 5-15 seconds. <br>
            Repeat the exercise twice.</p>
        </div>
      </div>

      <div class="carousel-item" data-bs-interval="10000">
        <img src="/src/components/ejercicios/pp/ejercicios-n/26.png" class="d-block m-5 mx-auto w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Exercise N°26</h5>
          <p>Place both hands at the same distance apart on a ledge and let your upper body drop down. <br>
            Make sure your hips are directly over your feet. <br>
            Slightly bend your knees and move your hands to different heights.
            Hold this position for 30 seconds.</p>
        </div>
      </div>

      <div class="carousel-item" data-bs-interval="10000">
        <img src="/src/components/ejercicios/pp/ejercicios-n/27.png" class="d-block m-5 mx-auto w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Exercise N°27</h5>
          <p>Massage the arches of your feet with your thumbs, using circular motions to loosen the tissues. <br>
            Spend 2-3 minutes on each foot. <br>
            Elevate your feet, keeping your lower back flat on the floor. <br>
            Gradually increase the duration of the elevation</p>

        </div>
      </div>

      



    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>



<footer>

  <div class="container-flex text-center bg-verde">
    <div class="container-fluid text-center">
      <div class="row">
        <div class="p-4 col-md-4">
          <a href="/index.html"><img class="mx-4 img-fluid" src="/src/img/imagenes/logo3 1Logofooter.png" width="" alt="Logo"></a>
        </div>
        <div class="p-4 col-md-4 offset-md-4">
          <a href="https://www.instagram.com/armozanatural1/"><img class="mx-2 img-fluid"
              src="/src/img/imagenes/Component 1redes.png" width="30" alt="Instagram"></a>
          <a href="https://www.facebook.com/armozanatural"><img class="mx-2 img-fluid" src="/src/img/imagenes/Vectorredes-1.png"
              width="30" alt="Facebook"></a>
          <a href="https://www.tiktok.com/@dr.armoza?_t=8kDUYmbjL1C&_r=1"><img class="mx-2 img-fluid" src="/src/img/imagenes/Vectorredes-2.png" width="30" alt="TikTok"></a>
          <a href="https://www.youtube.com/channel/UCGGaoxOt0dyOVFCRiqSrt4Q"><img class="mx-2 img-fluid"
              src="/src/img/imagenes/Vectorredes.png" width="30" alt="YouTube"></a>

        </div>
        <div>
          <p>&copy; 2024 Nuestra Medicina And Family Acupunture, PLLC. All rights reserved.</p>
          <p class="enferTexto"><a href="/src/components/cards/privacy.html">Privacy Policy</a></p>
        </div>
        <div>
          <h6 class="disclaimerTitulo">
            Disclaimer
          </h6>
          <p class="disclaimerTexto">Vitamin, mineral and natural products and instructions
              suggested general guidelines, they are not intended to substitute the services
              of a doctor.<br>
              If you suffer from any illness, consult your doctor.
              Do not stop taking or change any medication or treatment
              prescribed by your primary doctor or the hospital.
              Consult your primary doctor before taking vitamins,
              natural products, doing exercises, or any other
              suggestion from this website.</p>
        </div>
      </div>







    </div>
</footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  </body>
</html>