<footer>

    <div class="container-flex text-center bg-verde">
      <div class="container-fluid text-center">
        <div class="row">
          <div class="p-4 col-md-4">
            <a href="/index.html"><img class="mx-4 img-fluid" src="/src/img/imagenes/logo3 1Logofooter.png" width="" alt="Logo"></a>
          </div>
          <div class="p-4 col-md-4 offset-md-4">
            <a href="https://www.instagram.com/armozanatural1/"><img class="mx-2 img-fluid"
                src="/src/img/imagenes/Component 1redes.png" width="30" alt="Instagram"></a>
            <a href="https://www.facebook.com/armozanatural"><img class="mx-2 img-fluid" src="/src/img/imagenes/Vectorredes-1.png"
                width="30" alt="Facebook"></a>
            <a href=""><img class="mx-2 img-fluid" src="/src/img/imagenes/Vectorredes-2.png" width="30" alt="TikTok"></a>
            <a href="https://www.youtube.com/channel/UCGGaoxOt0dyOVFCRiqSrt4Q"><img class="mx-2 img-fluid"
                src="/src/img/imagenes/Vectorredes.png" width="30" alt="YouTube"></a>
  
          </div>
          <div>
            <h6 class="disclaimerTitulo">
              Disclaimer
            </h6>
            <p class="disclaimerTexto">Productos vitaminicos, minerales y naturales y las instrucciones
              generales sugeridas, no intentan substituir los servicios
              de un facultativo.<br>
              Si sufre de alguna enfermedad consulte con su medico.
              No pare de tomar ni cambie ningun medicamento o tratamiento
              prescripto por su medico primario o el hospital.
              Consulte con su medico primario antes de tomar vitaminas,
              productos naturales, hacer ejercicios, o cualquier otra
              sugerencia de esta pagina web.</p>
          </div>
        </div>
  
  
  
  
  
  
  
      </div>
  </footer>