<!doctype html>
<html lang="es">


<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Medicina-Natural</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="/src/css/main.css">
  <link rel="styles" href="src/js/popper.min.js">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  <!-- Puedes agregar tamaños adicionales para compatibilidad con navegadores modernos -->
  <link rel="icon" href="/src/img/imagenes/favico.png" sizes="32x32" type="image/png">
  <link rel="icon" href="/src/img/imagenes/favico16.png" sizes="16x16" type="image/png">

</head>


<body>
  <!-- Logo en la esquina izquierda -->
  <div class="language-container bg-verde p-4">
    <div class="float-end bg-verde">
      <!--<a href="#" class="language-link">Cambiar Idioma</a> -->
    </div>
  </div>



  <nav class="navbar navbar-expand-lg bg-white">
    <div class="container-md p-0">
      <!-- Logo en la esquina izquierda -->
      <a class="navbar-brand mis-colores-nav p-2" href="/index.html">
        <img src="/src/img/imagenes/logo-final.png" alt="logo" class="img-fluid" style="max-width: 200px;">
      </a>

      <!-- Botón para toggle de navegación en pantallas pequeñas -->
      <button class="navbar-toggler order-2" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Enlaces centrados -->
      <div class="collapse navbar-collapse order-1 justify-content-end p-2" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="letraNav1 nav-link mis-colores-nav" href="/src/components/nav/centroDeAyuda.html">Centro de ayuda</a>
          <li class="nav-item dropdown">
            <a a class=" letraNav1 mis-colores-nav nav-link dropdown-toggle" href="#" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">Contacto</a>
            <ul class="dropdown-menu">
              <div class="container-flex m-2 me-4 text-center">
                <div class="row">
                  <div class="col-lg-2 "><img src="/src/img/imagenes/Group 6Telefono contacto.png" alt="">

                  </div>
                  <div class="text-center col-lg-7">

                    <h5>Llamar</h5>
                    <p class=" phone-numbers text-nowrap me-4 "><br>1-800-522-7099 <br> 1-718-651-6677</p>
                    <hr class="my-4 w-100">
                  </div>

                  <div class="container-flex  me-4 text-center">
                    <div class="row">
                      <div class="col-lg-2 "><img src="/src/img/imagenes/Group 7mailcontacto.png" alt="">

                      </div>
                      <div class="text-center col-lg-6">

                        <h5>Mail</h5>
                        <p class=" text-center phone-numbers text-nowrap me-4 "><br>1-800-522-7099 <br> 1-718-651-6677
                        </p>
                        <!--<hr class="my-4 w-100">-->
                      </div>


                    </div>



            </ul>
          </li>


          <a class="letraNav1 nav-link mis-colores-nav" href="/src/components/nav/cesarArmoza.html">Cesar Armoza</a>
          <li class="nav-item dropdown">
            <a class=" letraNav1 mis-colores-nav nav-link dropdown-toggle" href="#" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Enlaces de Interes
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/src/components/nav/nuestraClinica.html">Nuestra Clinica</a></li>
              <li><a class="dropdown-item" href="/src/components/nav/enfermedadesMenu.html">Emfermedades</a></li>
              <li><a class="dropdown-item" href="/src/components/nav/resetasCaseras.html">Recetas Caseras</a></li>
              <li><a class="dropdown-item" href="/src/components/nav/preguntasFrecuentes.html">Preguntas Frecuentes</a></li>
            </ul>
          </li>
          </ul>
        </div>
      </div>



      <!-- Botón en la esquina derecha -->
      <a href="/src/components/nav/reserva.html" class="colorBotonesA mx-3 btn btn-primary btn-lg order-4 letraBotonNav "><img src="/src/img/imagenes/calendar.png"
          alt=""> Reservar</a>

    </div>
  </nav>




  <!-- Segunda barra de navegación -->

  <nav class="navbar navbar-expand-lg navbar-light bg-light d-none d-sm-block">
    <div class="container-fluid">
      <!-- Centra los enlaces en el medio de la pantalla -->
      <ul class="navbar-nav mx-auto">
        <li class="nav-item dropdown">
          <a class="letraNav2 nav-link " href="/src/components/nav/nuestraClinica.html">
            Nuestra Clinica
          </a>
          <div class="dropdown-menu center fade ">
            <div class="d-flex ">
              <div class="col vertical-bar">
                <a class="dropdown-item text-center letraNav2" href="/src/components/servicios/acupuntura.html">Acupuntura</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/servicios/masajes.html">Masajes</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/servicios/parches.html">Parches</a>
                <a class="dropdown-item text-center letraNav2"
                  href="/nuestrosServicios/medicinaTradicionalNatural.html">Medicina Tradicional<br>Natural</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/servicios/cupping.html">Cupping</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/servicios/ventosas.html">Ventosas</a>



        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle letraNav2" href="#" role="button" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" data-bs-popper="center-start">
            Enfermedades
          </a>
          <div class="dropdown-menu dropdown-menu1 center fade ">
            <div class="d-flex ">
              <div class="col vertical-bar">
                <h5 class="dropdown-header text-center  textoNav ">A</h5>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/alergias.html">Alergias</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/anemia.html">Anemia</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/ansiedad.html">Ansiedad</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/arritmia.html">Arritmia</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/artritis.html">Artritis</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/asma.html">Asma</a>
                <h5 class="dropdown-header text-center  textoNav">B</h5>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/bronquitis.html">Bronquitis</a>
                <h5 class="dropdown-header text-center  textoNav">C</h5>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/cancer.html">Cancer</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/colesterolAlto.html">Colesterol
                  alto<br>(Hipercolesterolemia)</a>

              </div>
              <div class="col vertical-bar">
                <h5 class="dropdown-header text-center textoNav">D</h5>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/desordenesGastricos.html">Desordenes
                  Gastricos</a>
                <a class="dropdown-item text-center letraNav2"
                  href="/src/components/enfermedades/dedsordenesProstaticos.html">Desordenes Prostaticos</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/diabetesMellitus.html">Diabetes
                  Millitus</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/diarrea.html">Diarrea</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/dolorDeGarganta.html">Dolor de
                  Garganta</a>
                <h5 class="dropdown-header text-center textoNav">E</h5>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/enfermedadDeCrohn.html">Emfermedad de
                  Crohn</a>
                <a class="dropdown-item text-center letraNav2"
                  href="/src/components/enfermedades/enfermedadPeriodontal.html">Enfermedad Periodontal</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/ets.html">Enfermedad
                  de<br>Transmision Sexual</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/epilepsia.html">Epilepsia</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/estrenimiento.html">Estreñimiento</a>
              </div>

              <div class="col vertical-bar">
                <h5 class="dropdown-header text-center textoNav">H</h5>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/halitosis.html">Halitosis (Mal
                  Aliento)</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/hemorroides.html">Hemorroides</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/hepatitis.html">Hepatitis</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/herpeszoster.html">Herpes Zoster</a>
                <a class="dropdown-item text-center letraNav2"
                  href="/src/components/enfermedades/hipertiroidismo.html">Hipertiroidismo</a>
                <a class="dropdown-item text-center letraNav2"
                  href="/src/components/enfermedades/hipotiroidismo.html">Hipotiroidismo</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/sida.html">HIV Infeccion (SIDA)</a>
                <h5 class="dropdown-header text-center textoNav">I</h5>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/impotenciaSexual.html">Impotencia
                  Sexual</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/incontinencia.html">Incontinencia</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/infeccionVUrinarias.html">Infeccion
                  de las vias Urinarias</a>

              </div>
              <div class="col vertical-bar">
                <h5 class="dropdown-header text-center textoNav">L</h5>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/lupusEritematoso.html">Lupus
                  Eritematoso</a>
                <h5 class="dropdown-header text-center letraNav2 textoNav">M</h5>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/menopausia.html">Menopausia</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/migranias.html">Migraña</a>
                <h5 class="dropdown-header text-center textoNav">P</h5>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/perdidaDeCabello.html">Perdida de
                  Cabello</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/hipertension.html">Presion Arterial
                  Alta<br>Hipertension</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/psoriasis.html">Psoriasis</a>
              </div>
              <div class="col">
                <h5 class="dropdown-header text-center textoNav">S</h5>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/sinusitis.html">Sinusitis</a>
                <h5 class="dropdown-header text-center textoNav">T</h5>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/trastornoDeLaVesicula.html">Trastorno
                  de la Vesicula </a>
                <h5 class="dropdown-header text-center textoNav">V</h5>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/vitiligo.html">Vitiligo</a>

              </div>

            </div>

        <li class="nav-item">
          <a class="nav-link letraNav2" href="/src/components/ejercicios/ejerciciosParaSuSalud.html">Ejercicios para su Salud</a>
        </li>



        <a class="nav-link  letraNav2" href="/src/components/nav/resetasCaseras.html">
          Recetas caseras
        </a>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle letraNav2" href="/src/components/nav/preguntasFrecuentes.html" role="button" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Preguntas frecuentes
          </a>



    </div>
    </li>

    </ul>
    </div>
  </nav>



<!--ESTE ES EL CONTENIDO DE LA PAG-->

<div class="container-fluid text-center">
  <div class="row">
    <div class="col-md-6">
      <h1 class="m-5 enferTitulo">
        Ansiedad
      </h1>
      <p class="enferTexto m-5">
        Según los síntomas que describa el paciente en consulta, como se vea la lengua, estudios del medico primario, y los pulsos que se toman en ambas muñecas se definirá el diagnóstico. Dependiendo el diagnóstico se definirá el tratamiento con acupuntura, hierbas chinas, dieta oriental y ejercicios recomendados. La clave es un buen diagnóstico. Medico oriental que ataca los síntomas para calmar se llama medico menor. El que ataca el origen de los síntomas para curar que presenta el paciente se llama Medico Mayor o Master en Medicina Tradicional China.
      </p>
    </div>


    <div class="p-4 col-md-6">
      <img class="img-fluid my-sm-5" src="/src/components/enfermedades/img/Rectangle 27ansiedad.png" alt="">
    </div>

  </div>


 <!--Acordeon-->
  <div class="container-flex">
    <div class="accordion" id="accordionExample">
      <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button accordionheaderStilo align-items-center " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <div class="centrar">
              Signos y Sintomas
            </div>
          
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <ul  class="text-start " >
              <li >Tensión, irritabilidad, preocupación, desesperación</li> 
              <li>Insomnio, sueño inquieto, despertar fácil</li> 
              <li> Rechinamiento de los dientes, dolor mandibular</li> 
              <li>Incapacidad de mantenerse quieto en un sitio</li> 
              <li>Incapacidad de pensar con claridad</li> 
              <li>Disminución de la libido</li> 
              <li>Las mujeres pueden experimentar aumento de los síntomas premenstruales y cambios en el ciclo menstrual</li> 
              <li>Respiración acortada</li> 
              <li>Frecuencia respiratoria y cardiaca aumentada</li> 
              <li>Palpitaciones fuertes</li>  
              <li>Nudo en la garganta, boca seca</li> 
              <li>Tensión en el pecho, calambres intestinales</li> 
              <li>Mareos, temblor del cuerpo</li> 
              <li>Sensación de entumecimiento u hormigueo de las extremidades, contracción muscular</li> <br>
              <p> <strong> A veces las crisis son tan severas que llevan a un ataque de pánico, produciendo síntomas físicos que pueden confundirse con otra enfermedad.</strong></p>
            </ul>
          </div>
        </div>
      </div>
    
      
      

    
      <!-- Repite la estructura para más elementos según sea necesario -->
      <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <div class="centrar">
              Causas
            </div>
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
           <p>La ansiedad puede ser aguda o crónica, afecta a la mayoría de la población joven; es más frecuente en mujeres que en varones. </p> 

           <p> Los desordenes de ansiedad pueden ser de orden fisiológico y/o psicológico; y puede tener una tendencia genética. Los factores psicológicos que lo envuelven corresponden al manejo del sistema nervioso autónomo. </p>
            
           <p>Algunas situaciones de stress en un paciente con ansiedad como: asaltos, accidentes o desastres naturales pudieran acabar en un ataque de pánico.</p> 
            
             <p> Una razón conocida o un trauma subconscientemente escondido; como experiencias de guerra o traumas personales de infancia, adolescencia, etc. pueden ser una causa de ansiedad.</p> 
            
           <p>La ansiedad puede también ser un resultado de una reacción medicamentosa, abuso de sustancias, drogas, desordenes glandulares, hipoglucemia, enfermedades cardiovasculares y otras.</p> 
          </div>
        </div>
      </div>
      
     


       <!-- Repite la estructura para más elementos según sea necesario -->
       <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            <div class="centrar">
              Recomendaciones Alimenticias
            </div>
          </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <ul>
              <li> Mantenga un buen balance de su glicemia (azúcar en sangre)</li><br>
              <li> Evite los azúcares refinados (dulces, pastas, pan blanco, tortillas, popusas, arepas) reemplácelas por carbohidratos compuestos como el pan integral o negro.</li><br>
              <li> Evite las bebidas con cafeína (café, sodas, té negro), bebidas alcohólicas, chocolate.</li><br>
              <li>Incluya preponderantemente en su dieta frutas frescas y vegetales como: melocotones, espárragos, bananos, brócoli, brown rice, frutas secas, ajo, vegetales de hojas verdes, legumbres, productos de soya, granos enteros y yogurt.</li><br>
              <li>Haga cinco porciones de comida al día.</li><br>
              <li> Limite la ingesta de proteína animal (carnes de res, cerdo y cordero)</li><br>
              <li>Haga un diario sobre los alimentos que ingiere para determinar correlaciones entre sus ataques y las comidas ingeridas.</li><br>
              <li>Coma pescado como el salmón</li>
              

            </ul>
            <p><strong>Las plantas medicinales pueden hacer mucho por aliviar el nerviosismo y la ansiedad, aportando sedación y equilibrio al sistema nervioso:</strong> 
              <ul>
                <li>La avena, úsela en infusión de salvado por vía oral o añádala al agua de baño, actúa como sedante del sistema nervioso</li> <br>
                <li>La infusión de las hojas de naranjo, es un excelente sedante y somnífero suave.</li><br>
                <li>Lechuga silvestre, en decocción de sus hojas o en jugo fresco, es sedante y calma la excitación nerviosa.</li><br>
                <li>Tilo, en infusión de flores, decocción de corteza y extractos, actúa como sedante y relajante.</li><br>
                <li>Valeriana, en infusión, es un buen sedante suave que disminuye la ansiedad.</li>
                <li>Hierba Luisa, en infusión, alivia la ansiedad.</li><br>
              </ul>
              <strong> Se recomienda la preparación de los siguientes jugos que pueden ser elaborados en extractor o licuadora, puede tomarlos una o dos veces al día.</strong>
              <br>
              Prepare los siguientes numerales:
              J60, J37, J30, J40, J15
            </p>
          </div>
        </div>
      </div>     
      
       <!-- Repite la estructura para más elementos según sea necesario -->
       <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo " type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            <div class="centrar">
              Recomendaciones Ambientales
            </div>
          </button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>Manténgase fuera de lugares ruidosos, contaminados o con exceso de personas. </p>
            <p>Haga caminatas largas en áreas abiertas con una buena compañía, como parques, playas, campos, etc.</p> 

            <p>Aprenda técnicas de relajación y meditación.</p> 
            <p>Haga ejercicios frecuentemente ya sea caminando, bicicleta, nadando o aeróbicos</p>
            <p>Aprenda técnicas de respiración profunda: inhale suavemente y cuente hasta cuatro manteniendo la respiración, luego exhale suavemente contando hasta cuatro. Haga una pausa de cuatro segundos y repita esta secuencia hasta que el ataque cese</p>.
          </div>
        </div>
      </div>
      
      
       <!-- Repite la estructura para más elementos según sea necesario -->
       <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo " type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
            <div class="centrar">
              Cocina Saludable
            </div>
          </button>
        </h2>
        <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Para aprovechar beneficiosamente las recomendaciones alimenticias arriba mencionadas, intente con las siguientes recetas: R08, R10, R25, R26, R29, R36, R38, R42
          </div>
        </div>
      </div>
      
       <!-- Repite la estructura para más elementos según sea necesario -->
       <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo " type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
            <div class="centrar">
              Consideraciones Geneticas
            </div>
          </button>
        </h2>
        <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>Una predisposición a la ansiedad puede ser hereditaria, la serotonina y otros nurotransmisores cerebrales pueden estar afectados por nuestros genes, así también como nuestras actitudes, experiencias y espíritu. El riesgo de un ataque de pánico es ocho veces más alto en familiares cercanos que en el resto de la población. La vida está llena de stress y muchos de ellos pudieran no ser evitados, lo que aumenta la ansiedad en aquellos que son susceptibles. La ansiedad puede estar presente en la familia. Niños que reciben los genes afectados son más suceptibles a la ansiedad que los otros. </p>

           <p> Estudios han identificado un gen localizado en el cromosoma 17 que contribuya al neurotismo, un gen del cromosoma 22 parece estar relacionado con el trastorno obsesivo-compulsivo. Cerca de un 40% de personas con agorafobia tienen un familiar con un trastorno de ansiedad.</p>

            
            <p>Tener genes para la ansiedad no significa que es nuestro destino padecerla; factores ambientales y personalidad son importantes. Muchas personas con predisposición genética no desarrollan la enfermedad, mientras que otros que no la tienen la desarrollan. El abuso físico, emocional y sexual son factores predisponentes para la ansiedad; así como otros estudios indican que las personas con ansiedad son susceptibles a pensamientos negativos sobre emociones que expresan otros alrededor de ellos.</p>
          </div>
        </div>
      </div> 
      
      
       <!-- Repite la estructura para más elementos según sea necesario -->
       <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo " type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
            <div class="centrar">
              Baños y Aromaterapia
            </div>
          </button>
        </h2>
        <div id="collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>Hay muchas esencias oleosas que tienen efecto calmante que reducen la ansiedad. Algunas de las mejor conocidas son: bergamota, frankincense, geranio, lavanda,myrta, neroli,vetiver e ylang ylang. Algunas de estas sustancias oleosas pueden ser usadas en una gran variedad de formas que ayudan a combatir la ansiedad; estas sustancias pueden ser inhaladas directamente de la botella, agregadas en el agua de la bañera, difundidas en el extractor de aire, o usarla para masajear el cuerpo. También pude colocar una o dos gotas en un paño limpio e inhalarlo cuando sea necesario.</p>
            <p>Cuando le dé un sentimiento de ansiedad, intente fijar exactamente cual es la causa de esta sensación. Esto puede ser un poco difícil a veces, pero tenga en mente que es más fácil tratar con ideas concretas que con ideas vagas un sentimiento no definido de inquietud. Algunas veces, solo identificando la causa puede calmar la ansiedad.</p>
            <p>Si usted necesita ayuda profesional, búsquela. Hable con un terapista que haya trabajado maravillosamente con algunas personas, incluso gente que alguna vez estuvo incapacitada por la ansiedad.</p>
            <p> <strong> “Ni el ambiente, ni la herencia pueden afectar nuestra identidad”</strong></p>

          </div>
        </div>
      </div>     
            
       <!-- Repite la estructura para más elementos según sea necesario -->
       <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo " type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
            <div class="centrar">
              Recomendaciones de Suplementos Nutricionales
            </div>
          </button>
        </h2>
        <div id="collapseTen" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>Pura Vida, Calming, Herbal Tension, Depremil,
              Estaminax, Aquamarina, Flores de Bach Ansiedad, Super Potente, Té Detox
              Ansiedad (sí es mujer con problemas menstruales Formula 12 y con menopausia Gene 15).</p>
          </div>
        </div>
      </div>    
      
      
       <!-- Repite la estructura para más elementos según sea necesario -->
       <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo " type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
            <div class="centrar">
              Posibles Diagnosticos en Medicina Tradicional China
            </div>
          </button>
        </h2>
        <div id="collapseEleven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>Debilidad de corazón, Debilidad de sangre, Desbalance general del sistema del Yin (-) y Yang (+), Estancamiento o obstrucción de diferentes meridianos a diagnosticar. Excesos a diagnosticar. Mucha flema o mucosidad en el sistema por deficiencia del bazo, en algunos casos exceso del hígado produce desbalance en otros órganos produciendo tipo ansiedad o stress pero es enmascarado. En Medicina Tradicional China el "shen" es algo energético no material que puede llegar a producir ansiedad y stress en el paciente y que pudo venir de angustia o mucha tristeza.</p>

 	 
             <p> Según los síntomas que describa el paciente en consulta, como se vea la lengua, estudios del medico primario, y los pulsos que se toman en ambas muñecas se definirá el diagnóstico. Dependiendo el diagnóstico se definirá el tratamiento con acupuntura, hierbas chinas, dieta oriental y ejercicios recomendados. La clave es un buen diagnóstico. Medico oriental que ataca los síntomas para calmar se llama medico menor. El que ataca el origen de los síntomas para curar que presenta el paciente se llama Medico Mayor o Master en Medicina Tradicional China.</p>
          </div>
        </div>
      </div>    
      
      

            
                  
                        
            
            
    
    </div>
  </div>
 
  
  

    





  <footer>

    <div class="container-flex text-center bg-verde">
      <div class="container-fluid text-center">
        <div class="row">
          <div class="p-4 col-md-4">
            <img class="mx-4" src="/src/img/imagenes/logo3 1Logofooter.png" width="" alt="Logo">
          </div>
          <div class="p-4 col-md-4 offset-md-4">
            <a href="https://www.instagram.com/armozanatural1/"><img class="mx-2 img-fluid"
                src="/src/img/imagenes/Component 1redes.png" width="30" alt="Instagram"></a>
            <a href="https://www.facebook.com/armozanatural"><img class="mx-2 img-fluid" src="/src/img/imagenes/Vectorredes-1.png"
                width="30" alt="Facebook"></a>
            <a href=""><img class="mx-2 img-fluid" src="/src/img/imagenes/Vectorredes-2.png" width="30" alt="TikTok"></a>
            <a href="https://www.youtube.com/channel/UCGGaoxOt0dyOVFCRiqSrt4Q"><img class="mx-2 img-fluid"
                src="/src/img/imagenes/Vectorredes.png" width="30" alt="YouTube"></a>

          </div>
          <div>
            <h6 class="disclaimerTitulo">
              Disclaimer
            </h6>
            <p class="disclaimerTexto">Productos vitaminicos, minerales y naturales y las instrucciones
              generales sugeridas, no intentan substituir los servicios
              de un facultativo.<br>
              Si sufre de alguna enfermedad consulte con su medico.
              No pare de tomar ni cambie ningun medicamento o tratamiento
              prescripto por su medico primario o el hospital.
              Consulte con su medico primario antes de tomar vitaminas,
              productos naturales, hacer ejercicios, o cualquier otra
              sugerencia de esta pagina web.</p>
          </div>
        </div>







      </div>
  </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  </body>
</html>