<!doctype html>
<html lang="es">


<head>

    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&amp='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-MLN73LJQ');</script>
  <!-- End Google Tag Manager -->

  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XN2JZFEELT"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-XN2JZFEELT');
</script>

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="Cache-Control" content="max-age=604800, public">
  <meta name="title" content="Medicina Natural Alternativa">
  <meta name="description" content="En este sirio es donde encontraras informacion sobre enfermedades, recetas caceras, noticias y consejos para mejorar tu salud de manera natural.">
  <meta name="keywords" content="natural, enfermedad, consulta, medico, medica, medicina, naturales, recetas caceras, ultimas noticias, dr.aarmoza, cesar armoza, medicina complementaria, medicina china, estados unidos">
  <meta name="robots" content="index, follow">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="language" content="Spanish">
  <meta name="author" content="Cesar E. Armoza">
  <link rel="canonical" href="https://www.nuestramedicina.com">


  <!-- Metaetiquetas de redes sociales -->
<!-- Facebook -->
<meta property="og:title" content="armozanatural">
<meta property="og:description" content="Medicina Natural Alternativa">
<meta property="og:image" content="/src/img/imagenes/logo3 1Logofooter.png">
<meta property="og:url" content="https://www.facebook.com/armozanatural">

<!-- Instagram -->
<meta property="og:type" content="https://www.instagram.com/armozanaturalok/">

<!-- TikTok -->
<meta property="og:site_name" content="Dr.Armoza">
<meta property="og:type" content="https://www.tiktok.com/@dr.armoza">

  <title>Medicina-Natural</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="/src/css/videocall.css">
  <link rel="stylesheet" href="/src/css/main.css">
  <link rel="styles" href="/src/js/popper.min.js">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-1KHPNP784F">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-1KHPNP784F');
</script>
<script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
  <!-- Puedes agregar tamaños adicionales para compatibilidad con navegadores modernos -->
  <link rel="icon" href="/src/img/imagenes/favico.png" sizes="32x32" type="image/png">
  <link rel="icon" href="/src/img/imagenes/favico16.png" sizes="16x16" type="image/png">

</head>


<body>

  <a href="https://api.whatsapp.com/send?phone=15168156674" class="btn-wsp" target="_blank">
    <i class="fa fa-whatsapp icono"></i>
  </a>


  <!-- Logo en la esquina izquierda -->
  <div class="language-container bg-verde p-4">
    <div class="float-end bg-verde">
      <!--<a href="#" class="language-link">Cambiar Idioma</a> -->
    </div>
  </div>



  <nav class="navbar navbar-expand-lg bg-white">
    <div class="container-md p-0">
      <!-- Logo en la esquina izquierda -->
      <a class="navbar-brand mis-colores-nav p-2" href="/index.html">
        <img src="/src/img/imagenes/logo-final.png" alt="logo" class="img-fluid" style="max-width: 200px;">
      </a>

      <!-- Botón para toggle de navegación en pantallas pequeñas -->
      <button class="navbar-toggler order-2" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Enlaces centrados -->
      <div class="collapse navbar-collapse order-1 justify-content-end p-2" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="letraNav1 nav-link mis-colores-nav" href="/src/components/nav/centroDeAyuda.html">Centro de ayuda</a>
          <li class="nav-item dropdown">
            <a a class=" letraNav1 mis-colores-nav nav-link dropdown-toggle" href="#" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">Contacto</a>
            <ul class="dropdown-menu">
              <div class="container-flex m-2 me-4 text-center">
                <div class="row">
                  <div class="col-lg-2 "><img src="/src/img/imagenes/Group 6Telefono contacto.png" alt="">

                  </div>
                  <div class="text-center col-lg-2">

                    <h5>Llamar</h5>
                    <p class=" phone-numbers text-nowrap me-4 "><br>1-800-522-7099 <br> +1 (516) 815-6674 <br> +1-718-651-6677 </p>
                    <hr class="my-4 w-100">
                  </div>

                  <div class="container-flex  me-4 text-center">
                    <div class="row">
                      <div class="col-lg-2 "><img src="/src/img/imagenes/Group 7mailcontacto.png" alt="">

                      </div>
                      <div class="text-center col-lg-2">

                        <h5>Mail</h5>
                        <p class=" text-center phone-numbers text-nowrap me-4 textoNav "><br><a href="mailto:contacto@nuestramedicina.com">contacto@nuestramedicina.com</a> <br> <a href="mailto:info@nuestramedicina.com">info@nuestramedicina.com</a>
                        </p>
                        <!--<hr class="my-4 w-100">-->
                      </div>


                    </div>




            </ul>
          </li>


          <a class="letraNav1 nav-link mis-colores-nav" href="/src/components/nav/cesarArmoza.html">Cesar Armoza</a>
          <li class="nav-item dropdown">
            <a class=" letraNav1 mis-colores-nav nav-link dropdown-toggle" href="#" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Enlaces de Interes
            </a>
            <ul class="dropdown-menu">
              <li class="dropdown-item" href="/src/components/nav/consultasVirtuales.html">Consulta Virtual</li>
              <li><a class="dropdown-item" href="/src/components/nav/nuestraClinica.html">Nuestra Clinica</a></li>
              <li><a class="dropdown-item" href="/src/components/enfermedades/enfermedadesMenu.html">Enfermedades</a></li>
              <li><a class="dropdown-item" href="/src/components/nav/resetasCaseras.html">Recetas Caseras</a></li>
              <li><a class="dropdown-item" href="/src/components/nav/preguntasFrecuentes.html">Preguntas Frecuentes</a></li>
              
            </ul>
          </li>
          </ul>
        </div>
      </div>



      <!-- Botón en la esquina derecha -->
      <a href="/src/components/nav/consultasVirtuales.html" class="colorBotonesA boton-llamativo mx-3 btn btn-primary btn-lg order-4 letraBotonNav "><img width="40" src="/src/img/icons/llamada-blanco.png"
          alt=""> Consulta Ya</a>


    

    </div>
  </nav>




  <!-- Segunda barra de navegación -->

  <nav class="desaparecer navbar navbar-expand-lg navbar-light bg-light d-none d-lg-block">
    <div class="container-fluid">
      <!-- Centra los enlaces en el medio de la pantalla -->
      <ul class="navbar-nav mx-auto">
        <li class="nav-item dropdown">
          <a class="letraNav2 nav-link " href="/src/components/nav/consultasVirtuales.html">
            Consulta Virtual
          </a>
          <div class="dropdown-menu center fade ">
            <div class="d-flex ">
              <div class="col vertical-bar">
                <a class="dropdown-item text-center letraNav2" href="/src/components/servicios/acupuntura.html">Acupuntura</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/servicios/masajes.html">Masajes</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/servicios/parches.html">Parches</a>
                <a class="dropdown-item text-center letraNav2"
                  href="/nuestrosServicios/medicinaTradicionalNatural.html">Medicina Tradicional<br>Natural</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/servicios/cupping.html">Cupping</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/servicios/ventosas.html">Ventosas</a>



        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle letraNav2" href="#" role="button" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" data-bs-popper="center-start">
            Enfermedades
          </a>
          <div class="dropdown-menu dropdown-menu1 center fade ">
            <div class="d-flex ">
              <div class="col vertical-bar">
                <h5 class="dropdown-header text-center  textoNav ">A</h5>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/alergias.html">Alergias</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/anemia.html">Anemia</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/ansiedad.html">Ansiedad</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/arritmia.html">Arritmia</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/artritis.html">Artritis</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/asma.html">Asma</a>
                <h5 class="dropdown-header text-center  textoNav">B</h5>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/bronquitis.html">Bronquitis</a>
                <h5 class="dropdown-header text-center  textoNav">C</h5>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/cancer.html">Cancer</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/colesterolAlto.html">Colesterol
                  alto<br>(Hipercolesterolemia)</a>

              </div>
              <div class="col vertical-bar">
                <h5 class="dropdown-header text-center textoNav">D</h5>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/desordenesGastricos.html">Desordenes
                  Gastricos</a>
                <a class="dropdown-item text-center letraNav2"
                  href="/src/components/enfermedades/dedsordenesProstaticos.html">Desordenes Prostaticos</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/diabetesMellitus.html">Diabetes
                  Millitus</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/diarrea.html">Diarrea</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/dolorDeGarganta.html">Dolor de
                  Garganta</a>
                <h5 class="dropdown-header text-center textoNav">E</h5>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/enfermedadDeCrohn.html">Emfermedad de
                  Crohn</a>
                <a class="dropdown-item text-center letraNav2"
                  href="/src/components/enfermedades/enfermedadPeriodontal.html">Enfermedad Periodontal</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/ets.html">Enfermedad
                  de<br>Transmision Sexual</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/epilepsia.html">Epilepsia</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/estrenimiento.html">Estreñimiento</a>
              </div>

              <div class="col vertical-bar">
                <h5 class="dropdown-header text-center textoNav">H</h5>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/halitosis.html">Halitosis (Mal
                  Aliento)</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/hemorroides.html">Hemorroides</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/hepatitis.html">Hepatitis</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/herpeszoster.html">Herpes Zoster</a>
                <a class="dropdown-item text-center letraNav2"
                  href="/src/components/enfermedades/hipertiroidismo.html">Hipertiroidismo</a>
                <a class="dropdown-item text-center letraNav2"
                  href="/src/components/enfermedades/hipotiroidismo.html">Hipotiroidismo</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/sida.html">HIV Infeccion (SIDA)</a>
                <h5 class="dropdown-header text-center textoNav">I</h5>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/impotenciaSexual.html">Impotencia
                  Sexual</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/incontinencia.html">Incontinencia</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/infeccionVUrinarias.html">Infeccion
                  de las vias Urinarias</a>

              </div>
              <div class="col vertical-bar">
                <h5 class="dropdown-header text-center textoNav">L</h5>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/lupusEritematoso.html">Lupus
                  Eritematoso</a>
                <h5 class="dropdown-header text-center letraNav2 textoNav">M</h5>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/menopausia.html">Menopausia</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/migranias.html">Migraña</a>
                <h5 class="dropdown-header text-center textoNav">P</h5>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/perdidaDeCabello.html">Perdida de
                  Cabello</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/hipertension.html">Presion Arterial
                  Alta<br>Hipertension</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/psoriasis.html">Psoriasis</a>
              </div>
              <div class="col">
                <h5 class="dropdown-header text-center textoNav">S</h5>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/sinusitis.html">Sinusitis</a>
                <h5 class="dropdown-header text-center textoNav">T</h5>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/trastornoDeLaVesicula.html">Trastorno
                  de la Vesicula </a>
                <h5 class="dropdown-header text-center textoNav">V</h5>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/vitiligo.html">Vitiligo</a>

              </div>

            </div>
          </div>
        </li>
         
          <a class="nav-link letraNav2" href="/src/components/nav/nuestraClinica.html">Nuestra Clinica</a>
        
          
          <a class="nav-link letraNav2" href="/src/components/ejercicios/ejerciciosParaSuSalud.html">Ejercicios para su Salud</a>
        



        <a class="nav-link  letraNav2" href="/src/components/nav/resetasCaseras.html">
          Recetas caseras
        </a>

        
          <a class="nav-link  letraNav2" href="/src/components/nav/preguntasFrecuentes.html" >
            Preguntas frecuentes
          </a>

          



    </div>
    </li>

    </ul>
    </div>
  </nav>



  <a href="https://api.whatsapp.com/send?phone=15168156674" class="btn-wsp" target="_blank">
    <i class="fa fa-whatsapp icono"></i>
  </a>





<!--ESTE ES EL CONTENIDO DE LA PAG-->

<div class="container-fluid text-center">
  <div class="row">
    <div class="col-md-6">
      <h1 class="m-5 enferTitulo">
        Cancer
      </h1>
      <p class="enferTexto m-5">
        El cáncer no se limita a ser una simple enfermedad; es un fenómeno más complejo caracterizado por el crecimiento descontrolado de ciertas células en el cuerpo. Inicia con un sitio primario, donde las células cancerosas pueden invadir y dañar el tejido circundante. Posteriormente, el tumor primario puede romperse y diseminarse a través del sistema circulatorio y linfático, dando lugar a tumores secundarios que también pueden ser perjudiciales.
        <br>
        El cáncer puede manifestarse en cualquier parte del cuerpo. En hombres, el cáncer de próstata es el más común, seguido por el cáncer de pulmón, que, aunque no ocurre con tanta frecuencia, causa más muertes que el cáncer de próstata. Entre las mujeres, los cánceres de seno y pulmón son los más frecuentes. En ambos sexos, el cáncer colorrectal sigue al cáncer de pulmón en términos de frecuencia. Otros tipos prominentes de cáncer incluyen aquellos que afectan el tracto urinario, el aparato reproductor femenino, el páncreas y la leucemia.
      </p>
    </div>


    <div class="p-4 col-md-6">
      <img class="img-fluid my-sm-5" src="/src/components/enfermedades/img/Rectangle 32cancer.png" alt="">
    </div>

  </div>


 <!--Acordeon-->
  <div class="container-flex">
    <div class="accordion" id="accordionExample">
      <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button accordionheaderStilo align-items-center " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <div class="centrar">
              Tipos De Cancer
            </div>
          
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>
              
              Los términos médicos empleados para describir los distintos tipos de cáncer a menudo comparten la sílaba "oma", que denota masa o tumor. Las categorías fundamentales de cáncer incluyen:

              <ul>
                <li><strong>Carcinoma:</strong> Cáncer que afecta la piel, membranas mucosas, glándulas y órganos internos, siendo comúnmente clasificado como carcinoma.</li>
                <li><strong>Leucemias:</strong> Cánceres que afectan a los tejidos encargados de producir células sanguíneas, siendo referidos como cáncer de la sangre debido a la formación de células anormales.</li>
                <li><strong>Linfoma:</strong> Cánceres que afectan a los nódulos linfáticos y otros tejidos linfáticos.</li>
                <li><strong>Sarcoma:</strong> Cánceres que se originan principalmente en los huesos, músculos y tejidos conectivos.</li>
              </ul>

              </p>
            
          </div>
        </div>
      </div>
    
      <!-- Repite la estructura para los siguientes elementos -->
      
      <div class="accordion-item m-2">
        <h2 class="accordion-header ">
          <button class="accordion-button collapsed accordionheaderStilo" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <div class="centrar">
              Signos y Sintomas
            </div>
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Los signos y síntomas dependen de la localización, tipo y severidad de la enfermedad, cada cáncer tiene su conjunto de síntomas. Posible signo de cáncer incluye:

            <ul class="align-items-center">
              <li class="text-start"> Cambios o aparición de verrugas y lunares de aspecto anómalo</li>
              <li class="text-start">Tos persistente.</li>
              <li class="text-start">Cambios obvios en los hábitos vesicales e intestinales.</li>
              <li class="text-start">Engrosamiento o protuberancia en cualquier parte del cuerpo.</li>
              <li class="text-start">Sangre en la orina sin dolor al orinar.</li>
              <li class="text-start">Sangre en las heces.</li>
              <li class="text-start">Fatiga exagerada.</li>
              <li class="text-start">Febrícula persistente.</li>
              <li class="text-start">Dolor abdominal pertinaz.</li>
              <li class="text-start">Recurrentes sangrados nasales</li>
              <li class="text-start">Aparición de muchas contusiones</li>
              
  
            </ul>

          </div>
        </div>
      </div>
    
      <!-- Repite la estructura para más elementos según sea necesario -->
      <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <div class="centrar">
              Causas
            </div>
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            En realidad aún no se conoce exactamente la causa, pero existen factores de riesgo que podrían en determinado momento, junto a una predisposición familiar llegar a producir cáncer:
            <ul class="align-items-center">
              <li class="text-start">Exposición a ciertas sustancias químicas tales como benzidinas, anilinas, naftalinas</li>
              <li class="text-start">Excesivo consumo de cafeína y/o sustancias edulcorantes.</li>
              <li class="text-start">Infecciones frecuentes del tracto urinario.</li>
              <li class="text-start">Nulípara (no embarazos) hasta los 35 años.</li>
              <li class="text-start">Historia familiar de cáncer.</li>
              <li class="text-start">Consumo de bebidas alcohólicas y cigarrillo.</li>
              <li class="text-start">Dieta alta en grasas saturadas y baja en fibras.</li>
              <li class="text-start">Hay una relación entre la diabetes, la mujer añosa y el cáncer de seno.</li>
              <li class="text-start">Estrógenos y anticonceptivos orales han sido ligados al cáncer de seno.</li>
              <li class="text-start">Embarazos múltiples, o embarazos antes de los 18 años.</li>
              <li class="text-start">Historia de gonorrea o verrugas genitales.</li>
              <li class="text-start">Múltiples compañeros sexuales.</li>
              <li class="text-start">Infertilidad.</li>
              <li class="text-start">Estreñimiento y/o diarreas continuas.</li>
              <li class="text-start">Historia de pólipos intestinales.</li>
              <li class="text-start">Obesidad, hipertensión.</li>
              <li class="text-start">Infecciones virales crónicas.</li>
              <li class="text-start">Exposición a radiaciones.</li>
              <li class="text-start">Exposición a asbesto, níquel, cromo o materiales radioactivos.</li>
              <li class="text-start">Bronquitis crónica, historia de tuberculosis.</li>
              <li class="text-start">Exposición a pesticidas y herbicidas.</li>
              <li class="text-start">Historia de infecciones venéreas, infecciones prostáticas recurrentes.</li>
              <li class="text-start">Disfunción del sistema inmune.</li>
              <li class="text-start">Uso de hormonas masculinas como la testosterona, para el tratamiento de la impotencia y la vasectomía.</li>
              <li class="text-start">Sobre-exposición a los rayos ultravioleta.</li>
              <li class="text-start">Historia de lunares en áreas en contacto de roce con la ropa.</li>
              <li class="text-start">Escaras o lesiones que no cicatrizan.</li>
              <li class="text-start">Anemia perniciosa.</li>
              <li class="text-start">Gastritis crónica, hiperclorhidria.</li>
              
            </ul>
  
          </div>
        </div>
      </div>
      
      <!-- Repite la estructura para más elementos según sea necesario -->
      <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            <div class="centrar">
              Recomendaciones Generales y Consejos Caseros
            </div>
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
	
            <li class="text-start">Coma una dieta rica en fibras, granos enteros, cereales, avena, trigo, brown rice.</li>
            <li class="text-start">Ingiera abundantes vegetales crucíferos, tales como: brócoli, col de Bruselas, col, coliflor.</li>
            <li class="text-start">También consuma vegetales amarillos; zanahorias, calabazas, etc.</li>
            <li class="text-start">Coma abundantes frutas entre estas las que contienen sustancias anticancerígenas son: cerezas, toronjas, melocotones, manzanas, uvas, melones, fresas.</li>
            <li class="text-start">Coma otros vegetales, espárragos, cebollas, ajo, pepino, zucchini, arvejas, tomates, patatas, ginger, hojas de dandelión, mushrooms, espinacas, acelgas, berros y otros vegetales de hojas verdes.</li>
            <li class="text-start">Incluya en su dieta soya y todos sus derivados.</li>
            <li class="text-start">Evite las grasas saturadas e hidrogenadas, azúcares procesados, café, bebidas alcohólicas.</li>
            <li class="text-start">Evite el consumo de carnes rojas (res, cerdo, cordero).</li>
            <li class="text-start">No consuma alimentos procesados, alimentos enlatados, minimice el consumo de sal.</li><br>

            
            <p>Prepare los siguientes jugos: J01– J60 Hágalos en licuadora o extractor de jugo, se recomienda tomarlos una o dos veces al día</p>
            
            <p>Tome abundante agua pura o destilada para evitar ingerir minerales tóxicos que se encuentra en el agua potable.</p>
          </div>
        </div>
      </div>



       <!-- Repite la estructura para más elementos según sea necesario -->
       <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo " type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            <div class="centrar">
              Recomendaciones Ambientales
            </div>
          </button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>No fume y evite estar cerca de fumadores. Existe evidencia sugestiva de que el humo de los fumadores puede ser aún más peligroso que inhalar el humo de su propio cigarrillo.</p>
            
            <p>No beba agua del grifo. El cloro es el químico base para la purificación del agua potable, y está implicado en el desarrollo de diferentes tipos de cáncer.</p>
            
            <p>Si es posible, compre alimentos cultivados orgánicamente o cultívelos usted mismo. Los herbicidas y pesticidas utilizados en los productos comercialmente cultivados pueden ser carcinogénicos. Siempre lave los productos cuidadosamente antes de comerlos.</p>
            
            <p>Mantenga las recomendaciones de su médico respecto a las medidas para la detección temprana del cáncer. Algunos de los exámenes más comunes incluyen, para las mujeres, el autoexamen de seno, mamografías, examen pélvico y prueba de Papanicolaou; para los hombres, el examen de próstata y la prueba de PSA; y para ambos sexos, sigmoidoscopia, examen rectal y prueba de sangre oculta en heces.</p>
            
            <p>Protéjase contra las quemaduras solares. Se ha establecido que los casos de quemaduras solares severas aumentan el riesgo de desarrollar melanoma maligno, una forma peligrosa de cáncer de piel.</p>
            
            <p>Evite la inhalación de humos o vapores de pinturas, solventes, gasolina, pesticidas, herbicidas, removedores de laca, limpiador de hornos, pegamentos y otros químicos del hogar.</p>
            
          </div>
        </div>
      </div>
      
      
       <!-- Repite la estructura para más elementos según sea necesario -->
       <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo " type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
            <div class="centrar">
              Cocina Saludable
            </div>
          </button>
        </h2>
        <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Aquí tiene algunas sugerencias de recetas para aprovechar mejor los consejos alimenticios arriba mencionados: R08– R09– R15– R26– R27– R30– R45– R48– R49– R53– R56– R69
          </div>
        </div>
      </div>
      
       <!-- Repite la estructura para más elementos según sea necesario -->
       <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo " type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
            <div class="centrar">
              Consideraciones Geneticas
            </div>
          </button>
        </h2>
        <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>Las alteraciones que ocurren en el cáncer se producen principalmente cuando las células del cuerpo comienzan a duplicarse de manera anormal y fuera de control, formando así un tumor. Este tumor puede esparcirse e iniciar un cáncer o puede limitarse y ser benigno.</p>
            
            <p>El cáncer solo puede heredarse cuando la mutación ocurre en las líneas germinales del ADN; una mutación somática no representa ningún riesgo, ni para el individuo ni para la familia.</p>
            
            <p>Se cree que la etiología del cáncer se debe a un polimorfismo, es decir, varios genes pueden estar involucrados en el desarrollo de un cáncer, aunque actualmente no se puede asegurar que se trate únicamente de un gen expresado.</p>
            
            <p>En la genética del cáncer, con el proyecto del genoma humano que busca identificar cada uno de los genes en sus respectivos locus y determinar cuáles de ellos son causantes o no de expresión, ya sea para enfermedades o para el desarrollo de cáncer.</p>
            
            <p>Se han encontrado genes supresores de tumores, conocidos como genes bloqueadores de oncogenes. Un oncogen es aquel gen que se expresa en cáncer. Un ejemplo sencillo es el retinoblastoma, un tumor relativamente poco común en la infancia que aparece en la retina. Su incidencia es de 1 en 15,000 o 1 en 34,000, y el 80% de los casos se presentan en la edad preescolar hasta los 5 años. Puede ser unilateral en un 70% de los casos o bilateral en un 30%.</p>
            
            <p>El retinoblastoma se limita al ojo y entre el 80% y el 90% de los niños afectados con esta enfermedad se curan después de ser tratados. Ellos son portadores sanos y la enfermedad se expresa en 1 de cada 4 hijos. El retinoblastoma bilateral siempre tiene un origen hereditario.</p>
            
            <p>Lo importante es que con el descubrimiento de las técnicas de identificación del DNA y la ingeniería genética hay muchas alternativas para controlar y luchar contra el cáncer:<br>
            
              1) Expresión de genes suicidas<br>
              2) Genes que se unen a células tumorales<br>
              3) Inmunogenicidad<br>
              4) Estímulo de células antitumorales a la respuesta inmune mediada por citokinas<br>
              5) Introducción de genes supresores<br>
              6) Bloqueadores oncogenes<br>
              7) Inducción de quimioterapia resistencia en células de la médula ósea</p>
            
            <p>Gracias a una amplia gama de técnicas moleculares en genética existen prometedores y grandiosos estudios para erradicar este mal.</p>
            
          </div>
        </div>
      </div> 
      
      
       <!-- Repite la estructura para más elementos según sea necesario -->
       <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo " type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
            <div class="centrar">
              Baños y Aromaterapia
            </div>
          </button>
        </h2>
        <div id="collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>Los aceites de albahaca, elemí, geranio, pachulí, menta y vetiver tienen propiedades energizantes y se utilizan para combatir la fatiga. Úselos mediante inhalación o difúndalos en el aire.</p>
            
            <p>Los aceites esenciales de bergamota y menta ayudan a estimular un apetito inactivo, que puede ser causado tanto por el cáncer como por su tratamiento. El aceite de bergamota también ayuda a combatir la depresión. Úselos en inhalación o difúndalos en el aire.</p>
            
            <p>Eduque usted mismo sobre su tipo específico de cáncer y los tratamientos más recientes disponibles. Esto le ayudará a colaborar con su equipo médico para obtener los mejores resultados.</p>
            
          </div>
        </div>
      </div>     
            
       <!-- Repite la estructura para más elementos según sea necesario -->
       <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo " type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
            <div class="centrar">
              Recomendaciones de Suplementos Nutricionales
            </div>
          </button>
        </h2>
        <div id="collapseTen" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Gene 15, Shark Cartilage, Cellular Bio Protector, Pura Vida, CardioCircu Plus, Naturobiotic, Iperoxo.
          </div>
        </div>
      </div>    
      
      
       <!-- Repite la estructura para más elementos según sea necesario -->
       <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo " type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
            <div class="centrar">
              Posibles Diagnosticos en Medicina Tradicional China
            </div>
          </button>
        </h2>
        <div id="collapseEleven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>Trabajar en estancamiento de energía y sangre. Trabajar en estancamiento de los diferentes meridianos afectados. Trabajar en control del dolor para zonas afectadas y dolorosas. Ayudar al sistema inmunológico.</p>
            
            <strong>Según los síntomas que describa el paciente en consulta, como se vea la lengua, estudios del medico primario, y los pulsos que se toman en ambas muñecas se definirá el diagnóstico. Dependiendo el diagnóstico se definirá el tratamiento con acupuntura, hierbas chinas, dieta oriental y ejercicios recomendados. La clave es un buen diagnóstico. Medico oriental que ataca los síntomas para calmar se llama medico menor. El que ataca el origen de los síntomas para curar que presenta el paciente se llama Medico Mayor o Master en Medicina Tradicional China.</strong>
          </div>
        </div>
      </div>    
      
      

            
                  
                        
            
            
    
    </div>
  </div>
 
  
  

    




  <footer>

    <div class="container-flex text-center bg-verde">
      <div class="container-fluid text-center">
        <div class="row">
          <div class="p-4 col-md-4">
            <a href="/index.html"><img class="mx-4 img-fluid" src="/src/img/imagenes/logo3 1Logofooter.png" width="" alt="Logo"></a>
          </div>
          <div class="p-4 col-md-4 offset-md-4">
            <a href="https://www.instagram.com/armozanatural1/"><img class="mx-2 img-fluid"
                src="/src/img/imagenes/Component 1redes.png" width="30" alt="Instagram"></a>
            <a href="https://www.facebook.com/armozanatural"><img class="mx-2 img-fluid" src="/src/img/imagenes/Vectorredes-1.png"
                width="30" alt="Facebook"></a>
            <a href=""><img class="mx-2 img-fluid" src="/src/img/imagenes/Vectorredes-2.png" width="30" alt="TikTok"></a>
            <a href="https://www.youtube.com/channel/UCGGaoxOt0dyOVFCRiqSrt4Q"><img class="mx-2 img-fluid"
                src="/src/img/imagenes/Vectorredes.png" width="30" alt="YouTube"></a>
  
          </div>
          <div>
            <p>&copy; 2024 Nuestra Medicina And Family Acupunture, PLLC. All rights reserved.</p>
            <p class="enferTexto"><a href="/src/components/cards/privacy.html">Privacy Policy</a></p>
          </div>
          <div>
            <h6 class="disclaimerTitulo">
              Disclaimer
            </h6>
            <p class="disclaimerTexto">Productos vitaminicos, minerales y naturales y las instrucciones
              generales sugeridas, no intentan substituir los servicios
              de un facultativo.<br>
              Si sufre de alguna enfermedad consulte con su medico.
              No pare de tomar ni cambie ningun medicamento o tratamiento
              prescripto por su medico primario o el hospital.
              Consulte con su medico primario antes de tomar vitaminas,
              productos naturales, hacer ejercicios, o cualquier otra
              sugerencia de esta pagina web.</p>
          </div>
        </div>
  
  
  
  
  
  
  
      </div>
  </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  </body>
</html>