<!doctype html>
<html lang="es">
  

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Medicina-Natural</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="styles" href="/js/popper.min.js">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
   
    <link rel="icon" href="/img/favico.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/img/favico16.png" sizes="16x16" type="image/png">
</head>




   
  <body>
      <!-- Logo en la esquina izquierda -->
    <div class="language-container bg-verde p-4">
      <div class="float-end bg-verde">
        <!--<a href="#" class="language-link">Cambiar Idioma</a> -->
      </div>
    </div>


    
    <nav class="navbar navbar-expand-lg bg-white">
      <div class="container-md p-0">
        <!-- Logo en la esquina izquierda -->
        <a class="navbar-brand mis-colores-nav p-2" href="/index.html">
          <img src="/img/logo-final.png" alt="logo" class="img-fluid" style="max-width: 200px;">
        </a>
    
        <!-- Botón para toggle de navegación en pantallas pequeñas -->
        <button class="navbar-toggler order-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <!-- Enlaces centrados -->
        <div class="collapse navbar-collapse order-1 justify-content-end p-2" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="letraNav1 nav-link mis-colores-nav" href="/index.html">Home</a>
            <a class="letraNav1 nav-link mis-colores-nav" href="/centroDeAyuda.html">Centro de ayuda</a>
            <li class="nav-item dropdown">
              <a a class=" letraNav1 mis-colores-nav nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Contacto</a>
              <ul class="dropdown-menu">
                <div class="container-flex m-2 me-4 text-center">
                  <div class="row">
                    <div class="col-lg-2 "><img src="/img/Group 6Telefono contacto.png" alt="">
                      
                    </div>
                    <div class="text-center col-lg-7">
                      
                      <h5>Llamar</h5>
                      <p class=" phone-numbers text-nowrap me-4 "><br>1-800-522-7099 <br> 1-718-651-6677</p>
                      <hr class="my-4 w-100">
                    </div>

                    <div class="container-flex  me-4 text-center">
                      <div class="row">
                        <div class="col-lg-2 "><img src="/img/Group 7mailcontacto.png" alt="">
                          
                        </div>
                        <div class="text-center col-lg-6">
                          
                          <h5>Mail</h5>
                          <p class=" text-center phone-numbers text-nowrap me-4 "><br>1-800-522-7099 <br> 1-718-651-6677</p>
                          <!--<hr class="my-4 w-100">-->
                        </div>
                    
                    
                  </div>

                

              </ul>
            </li>


            <a class="letraNav1 nav-link mis-colores-nav" href="/cesarArmoza.html">Cesar Armoza</a>
            <li class="nav-item dropdown">
              <a class=" letraNav1 mis-colores-nav nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Enlaces de Interes
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/nuestraClinica.html">Nuestra Clinica</a></li>
                <li><a class="dropdown-item" href="/enfermedadesMenu.html">Emfermedades</a></li>
                <li><a class="dropdown-item" href="/resetasCaseras.html">Recetas Caseras</a></li>
                <li><a class="dropdown-item" href="/ejercicios/ejerciciosParaSuSalud.html">Preguntas Frecuentes</a></li>
                <li><a class="dropdown-item" href="/preguntasFrecuentes.html">Preguntas Frecuentes</a></li>
              </ul>
            </li>
          </ul>
          </div>
        </div>
    

    
        <!-- Botón en la esquina derecha -->
        <a href="/reserva.html" class="colorBotonesA mx-3 btn btn-primary btn-lg order-4 letraBotonNav "><img src="/img/calendar.png" alt=""> Reservar</a>
        
      </div>
    </nav>
    
    


<!-- Segunda barra de navegación -->

<nav class="navbar navbar-expand-lg navbar-light bg-light d-none d-sm-block">
  <div class="container">
    <!-- Centra los enlaces en el medio de la pantalla -->
    <ul class="navbar-nav mx-auto">
      <li class="nav-item dropdown">
        <a class="letraNav2 nav-link " href="/nuestraClinica.html" >
          Nuestra Clinica
        </a>
        <div class="dropdown-menu center fade ">
          <div class="d-flex ">
            <div class="col vertical-bar">
              <a class="dropdown-item text-center letraNav2" href="/nuestrosServicios/acupuntura.html">Acupuntura</a>
              <a class="dropdown-item text-center letraNav2" href="/nuestrosServicios/masajes.html">Masajes</a>
              <a class="dropdown-item text-center letraNav2" href="/nuestrosServicios/parches.html">Parches</a>
              <a class="dropdown-item text-center letraNav2" href="/nuestrosServicios/medicinaTradicionalNatural.html">Medicina Tradicional<br>Natural</a>
              <a class="dropdown-item text-center letraNav2" href="/nuestrosServicios/cupping.html">Cupping</a>
              <a class="dropdown-item text-center letraNav2" href="/nuestrosServicios/ventosas.html">Ventosas</a>
        

          
          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle letraNav2" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bs-popper="center-start" >
              Enfermedades
            </a>
            <div class="dropdown-menu dropdown-menu1 center fade ">
              <div class="d-flex ">
                <div class="col vertical-bar">
                  <h5 class="dropdown-header text-center  textoNav ">A</h5>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/alergias.html">Alergias</a>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/anemia.html">Anemia</a>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/ansiedad.html">Ansiedad</a>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/arritmia.html">Arritmia</a>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/artritis.html">Artritis</a>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/asma.html">Asma</a>
                  <h5 class="dropdown-header text-center  textoNav">B</h5>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/bronquitis.html">Bronquitis</a>
                  <h5 class="dropdown-header text-center  textoNav">C</h5>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/cancer.html">Cancer</a>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/colesterolAlto.html">Colesterol alto<br>(Hipercolesterolemia)</a>

                </div>
                <div class="col vertical-bar">
                  <h5 class="dropdown-header text-center textoNav">D</h5>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/desordenesGastricos.html">Desordenes Gastricos</a>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/dedsordenesProstaticos.html">Desordenes Prostaticos</a>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/diabetesMellitus.html">Diabetes Millitus</a>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/diarrea.html">Diarrea</a>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/dolorDeGarganta.html">Dolor de Garganta</a>
                  <h5 class="dropdown-header text-center textoNav">E</h5>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/enfermedadDeCrohn.html">Emfermedad de Crohn</a>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/enfermedadPeriodontal.html">Enfermedad Periodontal</a>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/ets.html">Enfermedad de<br>Transmision Sexual</a>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/epilepsia.html">Epilepsia</a>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/estrenimiento.html">Estreñimiento</a>
                </div>

                <div class="col vertical-bar">
                  <h5 class="dropdown-header text-center textoNav">H</h5>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/halitosis.html">Halitosis (Mal Aliento)</a>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/hemorroides.html">Hemorroides</a>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/hepatitis.html">Hepatitis</a>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/herpeszoster.html">Herpes Zoster</a>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/hipertiroidismo.html">Hipertiroidismo</a>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/hipotiroidismo.html">Hipotiroidismo</a>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/sida.html">HIV Infeccion (SIDA)</a>
                  <h5 class="dropdown-header text-center textoNav">I</h5>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/impotenciaSexual.html">Impotencia Sexual</a>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/incontinencia.html">Incontinencia</a>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/infeccionVUrinarias.html">Infeccion de las vias Urinarias</a>

                </div>
                <div class="col vertical-bar">
                  <h5 class="dropdown-header text-center textoNav">L</h5>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/lupusEritematoso.html">Lupus Eritematoso</a>
                  <h5 class="dropdown-header text-center letraNav2 textoNav">M</h5>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/menopausia.html">Menopausia</a>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/migranias.html">Migraña</a>
                  <h5 class="dropdown-header text-center textoNav">P</h5>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/perdidaDeCabello.html">Perdida de Cabello</a>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/hipertension.html">Presion Arterial Alta<br>Hipertension</a>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/psoriasis.html">Psoriasis</a>
                </div>
                <div class="col">
                  <h5 class="dropdown-header text-center textoNav">S</h5>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/sinusitis.html">Sinusitis</a>
                  <h5 class="dropdown-header text-center textoNav">T</h5>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/trastornoDeLaVesicula.html">Trastorno de la Vesicula </a>
                  <h5 class="dropdown-header text-center textoNav">V</h5>
                  <a class="dropdown-item text-center letraNav2" href="/enfermedades/vitiligo.html">Vitiligo</a>

                </div>
    
              </div>

              <li class="nav-item">
                <a class="nav-link letraNav2" href="/ejercicios/ejerciciosParaSuSalud.html">Ejercicios para su Salud</a>
              </li>


         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle letraNav2" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Recetas caseras
          </a>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle letraNav2" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Preguntas frecuentes
            </a>

          
          
        </div>
      </li>

    </ul>
  </div>
</nav>





<!--ESTE ES EL CONTENIDO DE LA PAG-->

<div class="container-fluid text-center">
  <div class="row">
    <div class="col-md-6">
      <h1 class="m-5 enferTitulo">
        Epilepsia
      </h1>
      <p class="enferTexto m-5">
        Es una respuesta a una descarga anormal en el cerebro. El término epilepsia describe varias experiencias que pueden no ser lo mismo que convulsión. Dos terceras partes de la población que experimentan un ataque nunca más vuelven a tener otros. La tercera parte tiene ataques recurrentes (una condición llamada epilepsia) <br>

        Lo que suceda durante un ataque depende de que parte del cerebro es afectada. La descarga puede envolver una pequeñísima parte del cerebro pudiendo ser desencadenada por algún tipo de aura (aviso) olor o sabor, visión, sentimiento profundo, etc.
      </p>
    </div>


    <div class="p-4 col-md-6">
      <img class="img-fluid my-sm-5" src="/enfermedades/img/Rectangle 42EPILEPSIA.png" alt="">
    </div>

  </div>


 <!--Acordeon-->
  <div class="container-flex">
    <div class="accordion" id="accordionExample">
      <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button accordionheaderStilo align-items-center " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <div class="centrar">
              Tipos De Epilepsia
            </div>
          
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
          <div class="accordion-body">

          <ul>
            <li>Crisis parciales</li>
            <li>Crisis Jacksoniana</li>
            <li>Crisis parciales complejas (psicomotoras)</li>
            <li>Crisis generalizadas</li>
            <li>Espasmos infantiles</li>
            <li>Crisis tonicoclónicas (GRAN mal)</li>
            <li>Crisis acinéticas</li>
            <li>Convulsiones febriles</li>
            <li>Status epiléptico</li>
            
          </ul>

          </div>
        </div>
      </div>
    
      <!-- Repite la estructura para los siguientes elementos -->
      
      <div class="accordion-item m-2">
        <h2 class="accordion-header ">
          <button class="accordion-button collapsed accordionheaderStilo" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <div class="centrar">
              Signos y Sintomas
            </div>
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">

            <p>
              Estos varían dependiendo del tipo de convulsión que se presente:
              <ul>
                <li>Crisis parcial: Se inicia con trastornos motores o sensitivos específicos, sin pérdida de la conciencia, precediendo una crisis generalizada o compleja.</li>
                <li>Crisis Jacksoniana: Los síntomas motores focales, se inician en una mano o en un pie y luego abarca toda la extremidad, hay pérdida de conciencia, y movimientos convulsivos generalizados.</li>
                <li>
                  Crisis parciales generalizadas:  Mayormente los pacientes tienen una pérdida de contacto de uno a dos minutos con el medio ambiente que lo rodea. Inicialmente puede tambalearse, realizar movimientos involuntarios y emitir sonidos ininteligibles. No entiende lo que se le dice y puede resistirse a la ayuda, la confusión mental continua uno a dos minutos una vez superada la crisis
                </li>
                <li>
                  Crisis generalizada: La persona experimenta pérdida temporal de la conciencia, espasmos musculares severos, sacudida de todo el cuerpo, rechinar de los dientes, sensación de dar vueltas la cabeza y pérdida del control vesical. Después de la crisis la persona queda con dolor de cabeza, confusión mental y extremadamente cansada; usualmente no recuerdan lo sucedido durante la crisis.
                </li>
                <li>
                  Crisis de ausencia (Petit mal): Se manifiestan por pérdida de conciencia de 10 a 70 segundos, con un aleteo ocular o muscular a un ritmo de tres segundos y pueden perder el tono muscular. El paciente suspende bruscamente cualquier actividad que este realizando y la reanuda después de la crisis; predomina en niños. Son frecuentes durante el ejercicio; entre una y otra convulsión el paciente es totalmente normal.
                </li>
                <li>
                  Espasmos infantiles (Crisis salutatoria): Se caracteriza por una flexión brusca de los brazos, flexión hacia delante del tronco y extensión de las piernas. Dura unos pocos segundos pero suele repetirse varias veces al día.
                </li>
                <li>
                  Crisis tonicoclónicas (GRAN mal): Pueden iniciarse con un aura parcial de malestar epigástrico, seguido de un grito, la crisis continúa con pérdida de la conciencia, caída y contracciones tónicas y luego clónicas de los músculos de las extremidades, el tronco y cabeza. Puede haber incontinencia urinaria y rectal, la crisis dura generalmente de 2 a 5 minutos. Después de la crisis el paciente puede experimentar alteraciones del estado de ánimo, sueño profundo, dolor de cabeza y muscular.
                </li>
                <li>
                  Status epiléptico: Las crisis motoras, sensitivas o psíquicas se siguen entre sí, sin que haya periodos intermedios de recuperación de la conciencia. El status epiléptico del gran mal puede persistir durante horas o días y ser mortal.
                </li>
              </ul>
            </p>
            


          </div>
        </div>
      </div>
    
      <!-- Repite la estructura para más elementos según sea necesario -->
      <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <div class="centrar">
              Causas
            </div>
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">

            <ul>
              <li>Idiopática</li>
              <li>Fiebre alta</li>
              <li>Infecciones del cerebro (malaria, meningitis, rabia, SIDA, tétanos, encefalopatías)</li>
              <li>Desórdenes metabólicos (hipoparatiroidismo, niveles bajos de azúcar, falla renal y hepática)</li>
              <li>Insuficiencia de oxígeno en el cerebro</li>
              <li>Destrucción del tejido cerebral (tumores, hemorragias, lesiones traumáticas)</li>
              <li>Otras enfermedades (eclampsia, lupus, encefalopatía hipertensiva)</li>
              <li>Exposición a sustancias o drogas tóxicas (alcohol, sobredosis de cocaína, anfetaminas)</li>
              <li>Después del retiro de drogas de uso prolongado (alcohol, somníferos, tranquilizantes)</li>
              <li>Reacciones adversas a ciertos medicamentos.</li>


            </ul>

          </div>
        </div>
      </div>
      
      <!-- Repite la estructura para más elementos según sea necesario -->
      <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            <div class="centrar">
              Recomendaciones Generales y Consejos Caseros
            </div>
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">

            <p>
              La dieta es muy importante eliminando cualquier proteína animal, excepto la leche<br>
              Coma derivados lácteos como el yogurt,
            </p>
            <p>
              Ingiera huevos, nueces, arvejas, soya, vegetales crudos y de hojas verdes como el apio, espinaca, acelga, col, brócoli, alfalfa, berro, etc. Si se cocinan las verduras beber el agua

            </p>
            <p>
              Mantener limpio el intestino de cualquier elemento tóxico
            </p>
            <p>
              Mantener una dieta alta en fibras.
            </p>
            <p>
              Haga comidas pequeñas no ingiera grandes cantidades de líquidos de una vez
            </p>
            <p>
              Tome diariamente 2 cucharadas de aceite de oliva.
            </p>
            <p>
              Evite las bebidas alcohólicas, azúcares refinados, sacarinas, chocolates, café, sodas con cafeína, frituras y toda clase de grasas.
            </p>
            <p>
              Ingiera agua pura o destilada evite el agua del grifo
            </p>
            <p>
              Prepare los siguientes jugos: J62– J15– J02– J30– J40 Hágalos en licuadora o extractor de jugo, se recomienda tomarlos una o dos veces al día.
            </p>
            
          </div>
        </div>
      </div>



      
       <!-- Repite la estructura para más elementos según sea necesario -->
       <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo " type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            <div class="centrar">
              Recomendaciones Ambientales
            </div>
          </button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>
              Usar productos o utensilios de cocina libres de aluminio, de preferencia que sean de vidrio o acero inoxidable.<br>
              Leer las etiquetas de los fármacos y productos para verificar que estén libres de aluminio.
            </p>
            <p>
              La acumulación de aluminio en el cerebro, es una de las posibles causas de convulsiones epilépticas. se ha estimado en las personas que ingieren entre 3 y 10 mgs de aluminio al día.

            </p>
            <p>
              El aluminio es utilizado para hacer recetas de cocina, medicinas (para el dolor, acidez gástrica), pasta dental, desodorantes, blanqueadores y condimentos de la dieta diaria.
            </p>
            <p>
              Manténgase lejos de los pesticidas.

            </p>
            <p>
              Evite el cigarrillo.
            </p>
            <p>
              Realice un ejercicio moderado para mejorar la circulación cerebral.
            </p>

          </div>
        </div>
      </div>
      
      
       <!-- Repite la estructura para más elementos según sea necesario -->
       <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo " type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
            <div class="centrar">
              Cocina Saludable
            </div>
          </button>
        </h2>
        <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Se recomiendan las siguientes recetas: R02– R03– R06– R08– R11– R20– R26– R48– R50– R61
          </div>
        </div>
      </div>
      

      
      
       <!-- Repite la estructura para más elementos según sea necesario -->
       <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo " type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
            <div class="centrar">
              Baños y Aromaterapia
            </div>
          </button>
        </h2>
        <div id="collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>
              Tome baños de sales de espuma dos veces por semana.
            </p>
            <p>
              Trabaje para su propio cuidado. Mantenga las dosis tan bajas como sea posible, y trabaje para estar tan libre de drogas como de convulsiones en lo que sea posible. La dieta correcta y los suplementos nutricionales adecuados son muy importantes en el control de la epilepsia.
            </p>
            
 	 
          </div>
        </div>
      </div>     
            
       <!-- Repite la estructura para más elementos según sea necesario -->
       <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo " type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
            <div class="centrar">
              Recomendaciones de Suplementos Nutricionales
            </div>
          </button>
        </h2>
        <div id="collapseTen" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            L’Tyrosine, Pura Vida, CardioCircu Plus,Optimal, Liver Formula, Prycoritza, Herbal Calm, Calming, G-Plus, Salvia, Easy Pass, Te Detox.
          </div>
        </div>
      </div>    
      
      
       <!-- Repite la estructura para más elementos según sea necesario -->
       <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo " type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
            <div class="centrar">
              Posibles Diagnosticos en Medicina Tradicional China
            </div>
          </button>
        </h2>
        <div id="collapseEleven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
           <p>
            Hígado y vesicula produciendo viento y calor en todo el sistema. Deficiencia de energía de corazón. Deficiencia de energía de riñón. En muchos casos con humedad y calor en el sistema. Puede haber deficiencia de bazo
           </p>
           <p>
            <strong>
              Según los síntomas que describa el paciente en consulta, como se vea la lengua, estudios del medico primario, y los pulsos que se toman en ambas muñecas se definirá el diagnóstico. Dependiendo el diagnóstico se definirá el tratamiento con acupuntura, hierbas chinas, dieta oriental y ejercicios recomendados. La clave es un buen diagnóstico. Medico oriental que ataca los síntomas para calmar se llama medico menor. El que ataca el origen de los síntomas para curar que presenta el paciente se llama Medico Mayor o Master en Medicina Tradicional China.
            </strong>
           </p>
          </div>
        </div>
      </div>    
      
      

            
                  
                        
            
            
    
    </div>
  </div>
 
  
  

    






  <footer>

    <div class="container-flex text-center bg-verde">
      <div class="container-fluid text-center">
        <div class="row">
          <div class="p-4 col-md-4">
            <a href="/index.html"><img class="mx-4" src="/img/logo3 1Logofooter.png" width="" alt="Logo"></a>
          </div>
          <div class="p-4 col-md-4 offset-md-4">
            <a href="https://www.instagram.com/armozanatural1/"><img class="mx-2 img-fluid" src="/img/Component 1redes.png" width="30" alt="Instagram"></a>
          <a href="https://www.facebook.com/armozanatural"><img class="mx-2 img-fluid" src="/img/Vectorredes-1.png" width="30" alt="Facebook"></a>
          <a href=""><img class="mx-2 img-fluid" src="/img/Vectorredes-2.png" width="30" alt="TikTok"></a>
          <a href="https://www.youtube.com/channel/UCGGaoxOt0dyOVFCRiqSrt4Q"><img class="mx-2 img-fluid" src="/img/Vectorredes.png" width="30" alt="YouTube"></a>
          
          </div>
          <div>
            <h6 class="disclaimerTitulo">
              Disclaimer
            </h6>
            <p class="disclaimerTexto">Productos vitaminicos, minerales y naturales y las instrucciones
              generales sugeridas, no intentan substituir los servicios
              de un facultativo.<br>
              Si sufre de alguna enfermedad consulte con su medico.
              No pare de tomar ni cambie ningun medicamento o tratamiento
              prescripto por su medico primario o el hospital.
              Consulte con su medico primario antes de tomar vitaminas,
              productos naturales, hacer ejercicios, o cualquier otra
              sugerencia de esta pagina web.</p>
          </div>
        </div>
  
  
  
  
  
    
  
    </div>
  </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  </body>
</html>