<!doctype html>
<html lang="es">


<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Medicina-Natural</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="/src/css/main.css">
  <link rel="styles" href="src/js/popper.min.js">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  <!-- Puedes agregar tamaños adicionales para compatibilidad con navegadores modernos -->
  <link rel="icon" href="/src/img/imagenes/favico.png" sizes="32x32" type="image/png">
  <link rel="icon" href="/src/img/imagenes/favico16.png" sizes="16x16" type="image/png">

</head>


<body>
  <!-- Logo en la esquina izquierda -->
  <div class="language-container bg-verde p-4">
    <div class="float-end bg-verde">
      <!--<a href="#" class="language-link">Cambiar Idioma</a> -->
    </div>
  </div>



  <nav class="navbar navbar-expand-lg bg-white">
    <div class="container-md p-0">
      <!-- Logo en la esquina izquierda -->
      <a class="navbar-brand mis-colores-nav p-2" href="index.html">
        <img src="/src/img/imagenes/logo-final.png" alt="logo" class="img-fluid" style="max-width: 200px;">
      </a>

      <!-- Botón para toggle de navegación en pantallas pequeñas -->
      <button class="navbar-toggler order-2" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Enlaces centrados -->
      <div class="collapse navbar-collapse order-1 justify-content-end p-2" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="letraNav1 nav-link mis-colores-nav" href="/src/components/nav/centroDeAyuda.html">Centro de ayuda</a>
          <li class="nav-item dropdown">
            <a a class=" letraNav1 mis-colores-nav nav-link dropdown-toggle" href="#" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">Contacto</a>
            <ul class="dropdown-menu">
              <div class="container-flex m-2 me-4 text-center">
                <div class="row">
                  <div class="col-lg-2 "><img src="/src/img/imagenes/Group 6Telefono contacto.png" alt="">

                  </div>
                  <div class="text-center col-lg-7">

                    <h5>Llamar</h5>
                    <p class=" phone-numbers text-nowrap me-4 "><br>1-800-522-7099 <br> 1-718-651-6677</p>
                    <hr class="my-4 w-100">
                  </div>

                  <div class="container-flex  me-4 text-center">
                    <div class="row">
                      <div class="col-lg-2 "><img src="/src/img/imagenes/Group 7mailcontacto.png" alt="">

                      </div>
                      <div class="text-center col-lg-6">

                        <h5>Mail</h5>
                        <p class=" text-center phone-numbers text-nowrap me-4 "><br>1-800-522-7099 <br> 1-718-651-6677
                        </p>
                        <!--<hr class="my-4 w-100">-->
                      </div>


                    </div>



            </ul>
          </li>


          <a class="letraNav1 nav-link mis-colores-nav" href="/src/components/nav/cesarArmoza.html">Cesar Armoza</a>
          <li class="nav-item dropdown">
            <a class=" letraNav1 mis-colores-nav nav-link dropdown-toggle" href="#" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Enlaces de Interes
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/src/components/nav/nuestraClinica.html">Nuestra Clinica</a></li>
              <li><a class="dropdown-item" href="/src/components/nav/enfermedadesMenu.html">Emfermedades</a></li>
              <li><a class="dropdown-item" href="/src/components/nav/resetasCaseras.html">Recetas Caseras</a></li>
              <li><a class="dropdown-item" href="#">Preguntas Frecuentes</a></li>
            </ul>
          </li>
          </ul>
        </div>
      </div>



      <!-- Botón en la esquina derecha -->
      <a href="" class="colorBotonesA mx-3 btn btn-primary btn-lg order-4 letraBotonNav "><img src="/src/img/imagenes/calendar.png"
          alt=""> Reservar</a>

    </div>
  </nav>




  <!-- Segunda barra de navegación -->

  <nav class="navbar navbar-expand-lg navbar-light bg-light d-none d-sm-block">
    <div class="container-fluid">
      <!-- Centra los enlaces en el medio de la pantalla -->
      <ul class="navbar-nav mx-auto">
        <li class="nav-item dropdown">
          <a class="letraNav2 nav-link " href="/nuestraClinica.html">
            Nuestra Clinica
          </a>
          <div class="dropdown-menu center fade ">
            <div class="d-flex ">
              <div class="col vertical-bar">
                <a class="dropdown-item text-center letraNav2" href="/src/components/servicios/acupuntura.html">Acupuntura</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/servicios/masajes.html">Masajes</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/servicios/parches.html">Parches</a>
                <a class="dropdown-item text-center letraNav2"
                  href="/nuestrosServicios/medicinaTradicionalNatural.html">Medicina Tradicional<br>Natural</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/servicios/cupping.html">Cupping</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/servicios/ventosas.html">Ventosas</a>



        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle letraNav2" href="#" role="button" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" data-bs-popper="center-start">
            Enfermedades
          </a>
          <div class="dropdown-menu dropdown-menu1 center fade ">
            <div class="d-flex ">
              <div class="col vertical-bar">
                <h5 class="dropdown-header text-center  textoNav ">A</h5>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/alergias.html">Alergias</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/anemia.html">Anemia</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/ansiedad.html">Ansiedad</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/arritmia.html">Arritmia</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/artritis.html">Artritis</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/asma.html">Asma</a>
                <h5 class="dropdown-header text-center  textoNav">B</h5>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/bronquitis.html">Bronquitis</a>
                <h5 class="dropdown-header text-center  textoNav">C</h5>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/cancer.html">Cancer</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/colesterolAlto.html">Colesterol
                  alto<br>(Hipercolesterolemia)</a>

              </div>
              <div class="col vertical-bar">
                <h5 class="dropdown-header text-center textoNav">D</h5>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/desordenesGastricos.html">Desordenes
                  Gastricos</a>
                <a class="dropdown-item text-center letraNav2"
                  href="/src/components/enfermedades/dedsordenesProstaticos.html">Desordenes Prostaticos</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/diabetesMellitus.html">Diabetes
                  Millitus</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/diarrea.html">Diarrea</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/dolorDeGarganta.html">Dolor de
                  Garganta</a>
                <h5 class="dropdown-header text-center textoNav">E</h5>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/enfermedadDeCrohn.html">Emfermedad de
                  Crohn</a>
                <a class="dropdown-item text-center letraNav2"
                  href="/src/components/enfermedades/enfermedadPeriodontal.html">Enfermedad Periodontal</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/ets.html">Enfermedad
                  de<br>Transmision Sexual</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/epilepsia.html">Epilepsia</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/estrenimiento.html">Estreñimiento</a>
              </div>

              <div class="col vertical-bar">
                <h5 class="dropdown-header text-center textoNav">H</h5>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/halitosis.html">Halitosis (Mal
                  Aliento)</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/hemorroides.html">Hemorroides</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/hepatitis.html">Hepatitis</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/herpeszoster.html">Herpes Zoster</a>
                <a class="dropdown-item text-center letraNav2"
                  href="/src/components/enfermedades/hipertiroidismo.html">Hipertiroidismo</a>
                <a class="dropdown-item text-center letraNav2"
                  href="/src/components/enfermedades/hipotiroidismo.html">Hipotiroidismo</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/sida.html">HIV Infeccion (SIDA)</a>
                <h5 class="dropdown-header text-center textoNav">I</h5>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/impotenciaSexual.html">Impotencia
                  Sexual</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/incontinencia.html">Incontinencia</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/infeccionVUrinarias.html">Infeccion
                  de las vias Urinarias</a>

              </div>
              <div class="col vertical-bar">
                <h5 class="dropdown-header text-center textoNav">L</h5>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/lupusEritematoso.html">Lupus
                  Eritematoso</a>
                <h5 class="dropdown-header text-center letraNav2 textoNav">M</h5>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/menopausia.html">Menopausia</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/migranias.html">Migraña</a>
                <h5 class="dropdown-header text-center textoNav">P</h5>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/perdidaDeCabello.html">Perdida de
                  Cabello</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/hipertension.html">Presion Arterial
                  Alta<br>Hipertension</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/psoriasis.html">Psoriasis</a>
              </div>
              <div class="col">
                <h5 class="dropdown-header text-center textoNav">S</h5>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/sinusitis.html">Sinusitis</a>
                <h5 class="dropdown-header text-center textoNav">T</h5>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/trastornoDeLaVesicula.html">Trastorno
                  de la Vesicula </a>
                <h5 class="dropdown-header text-center textoNav">V</h5>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/vitiligo.html">Vitiligo</a>

              </div>

            </div>

        <li class="nav-item">
          <a class="nav-link letraNav2" href="/ejercicios/ejerciciosParaSuSalud.html">Ejercicios para su Salud</a>
        </li>



        <a class="nav-link  letraNav2" href="/resetasCaseras.html">
          Recetas caseras
        </a>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle letraNav2" href="#" role="button" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Preguntas frecuentes
          </a>



    </div>
    </li>

    </ul>
    </div>
  </nav>


<!--ESTE ES EL CONTENIDO DE LA PAG-->

<div class="container-fluid text-center">
  <div class="row">
    <div class="col-md-6">
      <h1 class="m-5 enferTitulo">
        Psoriasis
      </h1>
      <p class="enferTexto m-5">
        La Psoriasis es un desorden epitelial común, caracterizado por parches de piel enrojecida cubierta por escamas plateadas. El nombre viene del griego Psora el cual significa comezón.
        <br>  
        Es una enfermedad en la cual las células de la piel se descarrían. Por lo regular la piel se renueva a sí misma aproximadamente cada 30 días, el tiempo aproximado para que una nueva célula de la piel se abra camino desde la capa más interna de la piel hasta la superficie; pero en la psoriasis, esta célula llega hasta arriba en solo 3 días, como si el cuerpo hubiera perdido sus frenos. El resultado zonas protuberantes de piel llamadas placas, rojas y a menudo con comezón. Después de que las células llegan a la superficie, mueren como células normales, pero hay tantas de ellas que las manchas levantadas se vuelven blancas por las células muertas que se están descamando.
        <br>
        Usualmente la psoriasis pasa por ciclos de erupciones y remisión, si bien nunca desaparece completamente, a veces desaparece durante meses o años. Y con la edad puede mejorar o empeorar.
        <br>
        La Psoriasis no afecta la salud en general, no es contagiosa ni se esparce de una parte del cuerpo a otra, o de una persona a otra. Las áreas de l cuerpo más afectadas son: las piernas, rodillas, brazos, codos, cuero cabelludo, orejas y espalda. Las uñas de los dedos pierden su brillo y desarrollan surcos y fosas.
      </p>
    </div>


    <div class="p-4 col-md-6">
      <img class="img-fluid my-sm-5" src="/enfermedades/img/Rectangle 55psiorasis.png" alt="">
    </div>

  </div>


 <!--Acordeon-->
  <div class="container-flex">
    <div class="accordion" id="accordionExample">
      <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button accordionheaderStilo align-items-center " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <div class="centrar">
              Signos y Sintomas
            </div>
          
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            
            <ul>
              <li>Una o más placas pequeñas rojas con escamas plateadas.</li>
              <li>Pequeñas protuberancias al rededor del área</li>
              <li>Uñas gruesas y deformes.</li>
              <li>Comezón</li>
              <li>Inflamación de las articulaciones (Artritis Psoriásica)</li>
            </ul>
          </div>
        </div>
      </div>
    
      <!-- Repite la estructura para los siguientes elementos -->
      
      <div class="accordion-item m-2">
        <h2 class="accordion-header ">
          <button class="accordion-button collapsed accordionheaderStilo" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <div class="centrar">
              Causas
            </div>
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">

            <p>
              La causa subyacente no es conocida pero puede resultar de:
              <ul>
                <li>Dieta alta en grasas</li>
                <li>Deficiencia del sistema inmune</li>
                <li>Componente hereditario</li>
              </ul>
            </p>

          </div>
        </div>
      </div>
    
      
      <!-- Repite la estructura para más elementos según sea necesario -->
      <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            <div class="centrar">
              Recomendaciones Generales y Consejos Caseros
            </div>
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">

            <p>
              No trate de disfrazar una lesión abierta
            </p>
            <p>
              Para codos y rodillas, se recomienda tierra de la India. El emoliente mantiene húmedas las placas, y la tierra de la India disfraza su apariencia. <br>
              Si no puede encontrar tierra de la India, busque una base cosmética con mucho pigmento

            </p>
            <p>
              Aplique aceite de pescado o aceite vegetal ya sea de soya o de oliva sobre las escamas dos veces al día. Esto ayuda a aliviar el prurito y suaviza las escamas, haciéndolas fácilmente eliminables. Después de que las escamas han sido suavizadas suficientemente, restriegue suavemente con una esponja de baño y remuévalas.
            </p>

            <p>
              Evite el stress tanto como sea posible, ya que pude empeorar las erupciones
            </p>
            <p>
              Póngase bajo una lámpara de rayos ultravioleta tipo B, para tratar la psoriasis.
            </p>
            <p>
              Aplique alquitrán de hulla o brea directamente a las placas, no lo haga directamente sobre la piel viva o abierta.
            </p>
            <p>
              Los baños y piscinas calientes son excelentes porque ayudan a aplastar las placas o reducir la descamación aunque podría empeorar el prurito.
            </p>
            <p>
              Un baño con agua fría, agregándole una taza de vinagre de sidra de manzana es magnífico contra la comezón.
              <br>
              Si tiene libras demás, piérdalas, puede ser de ayuda.
              <br>
              Evite las infecciones.
            </p>

          </div>
        </div>
      </div>


       <!-- Repite la estructura para más elementos según sea necesario -->
       <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            <div class="centrar">
              Recomendaciones Alimenticias
            </div>
          </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">

            <ul>
              <li>Coma una dieta que esté compuesta de 50% de alimentos crudos e incluya abundantes frutas, granos y vegetales, coma abundante fibra. Es importante para mantener saludable el colon. También puede seguir un programa de limpieza del colon (enemas).</li>
              <li>Las carnes rojas y ciertos productos diarios contienen ácido araquidónico, el cual es responsable de la inflamación y hace que la psoriasis empeore. Por lo tanto evítelos.</li>
              <li>Evite el alcohol ya que está asociado a malnutrición y enfermedad hepática.</li>
              <li>No consuma frutas cítricas, frituras, alimentos procesados, grasas saturadas, azúcares refinados, harinas blancas.</li>
              <li>Prepare los siguientes jugos: J61 – J30– J15– J01– J02 Hágalos en extractor o licuadora, se recomienda ingerirlos una o dos veces al día.</li>
            </ul>

          </div>
        </div>
      </div>     
      
       <!-- Repite la estructura para más elementos según sea necesario -->
       <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo " type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            <div class="centrar">
              Recomendaciones Ambientales
            </div>
          </button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>
              Tómese unas vacaciones y vaya a la playa y recuéstese en la arena por una semana, logrará mejorar.
            </p>
            <p>
              No salga a lugares donde haya maleza, podría lesionar la piel.
            </p>
            <p>
              No use calzado ajustado, correas, navajas de afeitar sin filo o productos químicos fuertes.
            </p>
            <p>
              Evite los climas húmedos y las estaciones de invierno, prefiera un clima cálido y seco.
            </p>
            <p>Tome el sol ampliamente para absorber los rayos ultravioleta, pero antes protéjase con un filtro solar.</p>
            <p>
              Instale un filtro para remover el cloro del agua del baño o la ducha. El agua municipal contiene cloro, el cual más que deshidratar la piel, contribuye a aumentar los problemas de la misma.
            </p>
            <p>
              <strong>
                FITOTERAPIA: 
              </strong>Las siguientes plantas ejercen una acción beneficiosa sobre la piel en su conjunto, y puede influir favorablemente en el curso de la enfermedad:
              <ul>
                <li><strong>Pino:</strong> Usada como alquitrán o brea vegetal, aplicado en forma de pomada; es un poderoso emoliente para la piel.</li>
                <li><strong>Ruda:</strong> Usada en compresas con la infusión, es revulsiva, útil en estos casos.</li>
                <li><strong>Aloe:</strong> Lociones con el jugo de aloe, son cicatrizantes, suavizantes y aumentan las defensas.</li>
                <li><strong>Pensamiento:</strong> La infusión con la planta seca, hacer lociones y lavados con esa misma infusión, depura la sangre de residuos tóxicos, desinflama la piel.</li>
                <li><strong>Equinacea:</strong> Se usa la decocción de raíz, extractos, compresas o lociones; con la decocción pomadas, es un buen cicatrizante, regenera los tejidos y estimula las defensas.</li>
              </ul>
            </p>

          </div>
        </div>
      </div>
      
      
       <!-- Repite la estructura para más elementos según sea necesario -->
       <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo " type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
            <div class="centrar">
              Cocina Saludable
            </div>
          </button>
        </h2>
        <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Aproveche nuestros conejos alimenticios preparando las siguientes recetas: R03 - R06 - R07 - R08 - R13 - R18 - R22 - R25 - R29 - R30 - R35 - R39 - R43 - R48
          </div>
        </div>
      </div>
      
     
      
       <!-- Repite la estructura para más elementos según sea necesario -->
       <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo " type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
            <div class="centrar">
              Baños y Aromaterapia
            </div>
          </button>
        </h2>
        <div id="collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>
              Muchas esencias oleosas tienen la capacidad de promover la cura y reducir la inflamación e irritación de la piel. Entre las cuales tenemos: caléndula, manzanilla, lavanda y rosa. Añada uno o más de estos aceites (usted puede experimentar y determinar cual trabaja mejor para usted) a un relajante baño de aromaterapia.
            </p>
            <p>
              Para áreas más pequeñas, puede usar compresas mejor que el baño si usted así le conviene más.
            </p>
            <p>
              Después del baño aplique en la piel, aceite para ablandar; un total de 12 gotas de esencia oleosa o 1 onza. De aceite de jojoba sobre las áreas afectadas ayuda a humectarlas
            </p>
            <p>
              <strong>Nota:</strong> No exponga la piel al agua por periodos prolongados, esto podría resecarla aún más. Siempre aplique un humectante o aceite sobre la piel después del baño. Sea cuidadoso no use demasiadas esencias oleosas en estos tratamientos y nunca aplique esencia oleosa pura directamente sobre su piel; dilúyala siempre primero en agua o aceite. Si resulta una irritación, reduzca la cantidad de esencia oleosa que este usando o descontinúe su uso.
            </p>
            



..


          </div>
        </div>
      </div>     
            
       <!-- Repite la estructura para más elementos según sea necesario -->
       <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo " type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
            <div class="centrar">
              Recomendaciones de Suplementos Nutricionales
            </div>
          </button>
        </h2>
        <div id="collapseTen" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Biogenol, Herbal Tension, Hepato Formula, Marine Protein, Pura Vida, Ultra Detox, Easy Pass, Flores de Bach, Evening Primerose, Zinc, Naturobiotic, Iperoxo, Te Detox para exceso de calor.
          </div>
        </div>
      </div>    
      
      
       <!-- Repite la estructura para más elementos según sea necesario -->
       <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo " type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
            <div class="centrar">
              Posibles Diagnosticos en Medicina Tradicional China
            </div>
          </button>
        </h2>
        <div id="collapseEleven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>
              Calor en la sangre; Exceso de calor y humedad en hígado y vesícula; Estancamiento de humedad y/o flema en el sistema por debilidad del bazo; Deficiencia de líquidos en el riñón.
            </p>

            <p>
              <strong>Según los síntomas que describa el paciente en consulta, como se vea la lengua, estudios del medico primario, y los pulsos que se toman en ambas muñecas se definirá el diagnóstico. Dependiendo el diagnóstico se definirá el tratamiento con acupuntura, hierbas chinas, dieta oriental y ejercicios recomendados. La clave es un buen diagnóstico. Medico oriental que ataca los síntomas para calmar se llama medico menor. El que ataca el origen de los síntomas para curar que presenta el paciente se llama Medico Mayor o Master en Medicina Tradicional China.</strong>
            </p>
            

 	 
 	

          </div>
        </div>
      </div>    
      
      

            
                  
                        
            
            
    
    </div>
  </div>
 
  
  

    






  <footer>

    <div class="container-flex text-center bg-verde">
      <div class="container-fluid text-center">
        <div class="row">
          <div class="p-4 col-md-4">
            <a href="/index.html"><img class="mx-4" src="/img/logo3 1Logofooter.png" width="" alt="Logo"></a>
          </div>
          <div class="p-4 col-md-4 offset-md-4">
            <a href="https://www.instagram.com/armozanatural1/"><img class="mx-2 img-fluid" src="/img/Component 1redes.png" width="30" alt="Instagram"></a>
          <a href="https://www.facebook.com/armozanatural"><img class="mx-2 img-fluid" src="/img/Vectorredes-1.png" width="30" alt="Facebook"></a>
          <a href=""><img class="mx-2 img-fluid" src="/img/Vectorredes-2.png" width="30" alt="TikTok"></a>
          <a href="https://www.youtube.com/channel/UCGGaoxOt0dyOVFCRiqSrt4Q"><img class="mx-2 img-fluid" src="/img/Vectorredes.png" width="30" alt="YouTube"></a>
          
          </div>
          <div>
            <h6 class="disclaimerTitulo">
              Disclaimer
            </h6>
            <p class="disclaimerTexto">Productos vitaminicos, minerales y naturales y las instrucciones
              generales sugeridas, no intentan substituir los servicios
              de un facultativo.<br>
              Si sufre de alguna enfermedad consulte con su medico.
              No pare de tomar ni cambie ningun medicamento o tratamiento
              prescripto por su medico primario o el hospital.
              Consulte con su medico primario antes de tomar vitaminas,
              productos naturales, hacer ejercicios, o cualquier otra
              sugerencia de esta pagina web.</p>
          </div>
        </div>
  
  
  
  
  
    
  
    </div>
  </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  </body>
</html>