<!doctype html>
<html lang="es">


<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Medicina-Natural</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="/src/css/main.css">
  <link rel="styles" href="src/js/popper.min.js">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  <!-- Puedes agregar tamaños adicionales para compatibilidad con navegadores modernos -->
  <link rel="icon" href="/src/img/imagenes/favico.png" sizes="32x32" type="image/png">
  <link rel="icon" href="/src/img/imagenes/favico16.png" sizes="16x16" type="image/png">

</head>


<body>
  <!-- Logo en la esquina izquierda -->
  <div class="language-container bg-verde p-4">
    <div class="float-end bg-verde">
      <!--<a href="#" class="language-link">Cambiar Idioma</a> -->
    </div>
  </div>



  <nav class="navbar navbar-expand-lg bg-white">
    <div class="container-md p-0">
      <!-- Logo en la esquina izquierda -->
      <a class="navbar-brand mis-colores-nav p-2" href="/index.html">
        <img src="/src/img/imagenes/logo-final.png" alt="logo" class="img-fluid" style="max-width: 200px;">
      </a>

      <!-- Botón para toggle de navegación en pantallas pequeñas -->
      <button class="navbar-toggler order-2" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Enlaces centrados -->
      <div class="collapse navbar-collapse order-1 justify-content-end p-2" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="letraNav1 nav-link mis-colores-nav" href="/src/components/nav/centroDeAyuda.html">Centro de ayuda</a>
          <li class="nav-item dropdown">
            <a a class=" letraNav1 mis-colores-nav nav-link dropdown-toggle" href="#" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">Contacto</a>
            <ul class="dropdown-menu">
              <div class="container-flex m-2 me-4 text-center">
                <div class="row">
                  <div class="col-lg-2 "><img src="/src/img/imagenes/Group 6Telefono contacto.png" alt="">

                  </div>
                  <div class="text-center col-lg-7">

                    <h5>Llamar</h5>
                    <p class=" phone-numbers text-nowrap me-4 "><br>1-800-522-7099 <br> 1-718-651-6677</p>
                    <hr class="my-4 w-100">
                  </div>

                  <div class="container-flex  me-4 text-center">
                    <div class="row">
                      <div class="col-lg-2 "><img src="/src/img/imagenes/Group 7mailcontacto.png" alt="">

                      </div>
                      <div class="text-center col-lg-6">

                        <h5>Mail</h5>
                        <p class=" text-center phone-numbers text-nowrap me-4 "><br>1-800-522-7099 <br> 1-718-651-6677
                        </p>
                        <!--<hr class="my-4 w-100">-->
                      </div>


                    </div>



            </ul>
          </li>


          <a class="letraNav1 nav-link mis-colores-nav" href="/src/components/nav/cesarArmoza.html">Cesar Armoza</a>
          <li class="nav-item dropdown">
            <a class=" letraNav1 mis-colores-nav nav-link dropdown-toggle" href="#" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Enlaces de Interes
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/src/components/nav/nuestraClinica.html">Nuestra Clinica</a></li>
              <li><a class="dropdown-item" href="/src/components/nav/enfermedadesMenu.html">Emfermedades</a></li>
              <li><a class="dropdown-item" href="/src/components/nav/resetasCaseras.html">Recetas Caseras</a></li>
              <li><a class="dropdown-item" href="/src/components/nav/preguntasFrecuentes.html">Preguntas Frecuentes</a></li>
            </ul>
          </li>
          </ul>
        </div>
      </div>



      <!-- Botón en la esquina derecha -->
      <a href="/src/components/nav/reserva.html" class="colorBotonesA mx-3 btn btn-primary btn-lg order-4 letraBotonNav "><img src="/src/img/imagenes/calendar.png"
          alt=""> Reservar</a>

    </div>
  </nav>




  <!-- Segunda barra de navegación -->

  <nav class="navbar navbar-expand-lg navbar-light bg-light d-none d-sm-block">
    <div class="container-fluid">
      <!-- Centra los enlaces en el medio de la pantalla -->
      <ul class="navbar-nav mx-auto">
        <li class="nav-item dropdown">
          <a class="letraNav2 nav-link " href="/src/components/nav/nuestraClinica.html">
            Nuestra Clinica
          </a>
          <div class="dropdown-menu center fade ">
            <div class="d-flex ">
              <div class="col vertical-bar">
                <a class="dropdown-item text-center letraNav2" href="/src/components/servicios/acupuntura.html">Acupuntura</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/servicios/masajes.html">Masajes</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/servicios/parches.html">Parches</a>
                <a class="dropdown-item text-center letraNav2"
                  href="/nuestrosServicios/medicinaTradicionalNatural.html">Medicina Tradicional<br>Natural</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/servicios/cupping.html">Cupping</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/servicios/ventosas.html">Ventosas</a>



        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle letraNav2" href="#" role="button" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" data-bs-popper="center-start">
            Enfermedades
          </a>
          <div class="dropdown-menu dropdown-menu1 center fade ">
            <div class="d-flex ">
              <div class="col vertical-bar">
                <h5 class="dropdown-header text-center  textoNav ">A</h5>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/alergias.html">Alergias</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/anemia.html">Anemia</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/ansiedad.html">Ansiedad</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/arritmia.html">Arritmia</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/artritis.html">Artritis</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/asma.html">Asma</a>
                <h5 class="dropdown-header text-center  textoNav">B</h5>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/bronquitis.html">Bronquitis</a>
                <h5 class="dropdown-header text-center  textoNav">C</h5>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/cancer.html">Cancer</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/colesterolAlto.html">Colesterol
                  alto<br>(Hipercolesterolemia)</a>

              </div>
              <div class="col vertical-bar">
                <h5 class="dropdown-header text-center textoNav">D</h5>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/desordenesGastricos.html">Desordenes
                  Gastricos</a>
                <a class="dropdown-item text-center letraNav2"
                  href="/src/components/enfermedades/dedsordenesProstaticos.html">Desordenes Prostaticos</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/diabetesMellitus.html">Diabetes
                  Millitus</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/diarrea.html">Diarrea</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/dolorDeGarganta.html">Dolor de
                  Garganta</a>
                <h5 class="dropdown-header text-center textoNav">E</h5>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/enfermedadDeCrohn.html">Emfermedad de
                  Crohn</a>
                <a class="dropdown-item text-center letraNav2"
                  href="/src/components/enfermedades/enfermedadPeriodontal.html">Enfermedad Periodontal</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/ets.html">Enfermedad
                  de<br>Transmision Sexual</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/epilepsia.html">Epilepsia</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/estrenimiento.html">Estreñimiento</a>
              </div>

              <div class="col vertical-bar">
                <h5 class="dropdown-header text-center textoNav">H</h5>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/halitosis.html">Halitosis (Mal
                  Aliento)</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/hemorroides.html">Hemorroides</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/hepatitis.html">Hepatitis</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/herpeszoster.html">Herpes Zoster</a>
                <a class="dropdown-item text-center letraNav2"
                  href="/src/components/enfermedades/hipertiroidismo.html">Hipertiroidismo</a>
                <a class="dropdown-item text-center letraNav2"
                  href="/src/components/enfermedades/hipotiroidismo.html">Hipotiroidismo</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/sida.html">HIV Infeccion (SIDA)</a>
                <h5 class="dropdown-header text-center textoNav">I</h5>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/impotenciaSexual.html">Impotencia
                  Sexual</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/incontinencia.html">Incontinencia</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/infeccionVUrinarias.html">Infeccion
                  de las vias Urinarias</a>

              </div>
              <div class="col vertical-bar">
                <h5 class="dropdown-header text-center textoNav">L</h5>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/lupusEritematoso.html">Lupus
                  Eritematoso</a>
                <h5 class="dropdown-header text-center letraNav2 textoNav">M</h5>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/menopausia.html">Menopausia</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/migranias.html">Migraña</a>
                <h5 class="dropdown-header text-center textoNav">P</h5>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/perdidaDeCabello.html">Perdida de
                  Cabello</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/hipertension.html">Presion Arterial
                  Alta<br>Hipertension</a>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/psoriasis.html">Psoriasis</a>
              </div>
              <div class="col">
                <h5 class="dropdown-header text-center textoNav">S</h5>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/sinusitis.html">Sinusitis</a>
                <h5 class="dropdown-header text-center textoNav">T</h5>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/trastornoDeLaVesicula.html">Trastorno
                  de la Vesicula </a>
                <h5 class="dropdown-header text-center textoNav">V</h5>
                <a class="dropdown-item text-center letraNav2" href="/src/components/enfermedades/vitiligo.html">Vitiligo</a>

              </div>

            </div>

        <li class="nav-item">
          <a class="nav-link letraNav2" href="/src/components/ejercicios/ejerciciosParaSuSalud.html">Ejercicios para su Salud</a>
        </li>



        <a class="nav-link  letraNav2" href="/src/components/nav/resetasCaseras.html">
          Recetas caseras
        </a>

        
          <a class="nav-link  letraNav2" href="/src/components/nav/preguntasFrecuentes.html" >
            Preguntas frecuentes
          </a>



    </div>
    </li>

    </ul>
    </div>
  </nav>





<!--ESTE ES EL CONTENIDO DE LA PAG-->

<div class="container-fluid text-center">
  <div class="row">
    <div class="col-md-6">
      <h1 class="m-5 enferTitulo">
        HIV Infeccion (SIDA)
      </h1>
      <p class="enferTexto m-5">

        El síndrome de inmunodeficiencia adquirida es una etapa tardía o avanzada de la infección con el VIH. Es una condición en la cual el sistema inmunológico se describe como deteriorado, comprometido o disfuncional debido a la infección con VIH.
        <br>
        El resultado del síndrome llamado SIDA incluye pérdida de células T que combaten los gérmenes, el desarrollo de infecciones oportunistas; cáncer y otras condiciones crónica-depresivas. El avanzar hasta SIDA puede tomar años. No hay dos casos de SIDA que sean iguales, y no todas las personas con VIH avanzan hasta SIDA.
        <br>

        El virus del VIH es un virus RNA humano específicos de especie, de la familia lentivirus, subfamilia retrovirus, es decir HIV-1 y HIV-2 El VIH necesita de alguna célula para poder reproducirse.
        <br>

        Se estima que 16000 personas se infectan cada día en todo el mundo.
        <br>
        El VIH tiene impacto sobre:<br>
        1) Salud física del individuo<br>
        2) Salud emocional<br>
        3) Relaciones sociales, amorosas y familiares<br>
        4) Estado económico y financiero<br>
        5) Problemas legales relacionados con seguros, inmigración, otros.<br>
        6) Uso de sustancias y adicciones<br>
        7) Espiritualidad y otros mecanismos de autoayuda.<br>


      </p>
    </div>


    <div class="p-4 col-md-6">
      <img class="img-fluid my-sm-5" src="/src/components/enfermedades/img/Rectangle 50sida.png" alt="">
    </div>

  </div>


 <!--Acordeon-->
  <div class="container-flex">
    <div class="accordion" id="accordionExample">
      <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button accordionheaderStilo align-items-center " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <div class="centrar">
              Complicaciones
            </div>
          
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>
              La inmunodeficiencia conduce al desarrollo de infecciones oportunistas, lo cual significa que ha avanzado hasta SIDA, una etapa tardía de la infección con VIH. Entre estas infecciones tenemos:
            </p>
            <ul>
              <li>Candidiasis de bronquios</li>
              <li>Cáncer cervical</li>
              <li>Coccidiodomycosis</li>
              <li>Criptococosis</li>
              <li>Crystoporidiosis</li>
              <li>Cytomegalovirus</li>
              <li>Encefalopatías</li>
              <li>Herpes simples</li>
              <li>Histoplasmosis</li>
              <li>Isosporiasis</li>
              <li>Sarcoma de Kaposis</li>
              <li>Linfoma de Burkitts</li>
              <li>Linfoma inmunodepresivo</li>
              <li>Linfoma inmunoprimario</li>
              <li>Mycobacterium avicum</li>
              <li>Mycobacterium tuberculosis</li>
              <li>Pneumocystis Carinii</li>
              <li>Neumonía</li>
              <li>Leukoencefalopatía multifocal</li>
              <li>Salmonella septicemia</li>
              <li>Toxoplasmosis cerebral</li>
              <li>Hepatitis C</li>



            </ul>
          

          </div>
        </div>
      </div>
    

    
      <!-- Repite la estructura para más elementos según sea necesario -->
      <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <div class="centrar">
              Diagnostico de SIDA
            </div>
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">

            <p>
              Exposición e infección.- La exposición es cuando desempeña un comportamiento que envuelve riesgo o ser puesto en ciertas situaciones que pueden llevarle a infectarse con el virus.
            </p>
            <p>
              La infección es cuando el VIH ha entrado al flujo sanguíneo, en células específicas. No toda exposición lleva a la infección, puede ocurrir después de una o repetidas exposiciones.
            </p>
            <ul>
              <li><strong>Periodo de incubación:</strong> Es el periodo de tiempo que ocurre desde que la persona se infecta con VIH hasta que se desarrollan síntomas serios de inmunodeficiencia. Tarda años después de que la persona se infecta en desarrollar inmunodeficiencia e infecciones oportunistas.</li>
              <li>
                <strong>Síndrome retroviral agudo:</strong> Síntomas que la persona desarrolla de 2 a 4 semanas después de infectarse, que son similares al Flu
              </li>
              <li>
                <strong>Seroconversión:</strong> Proceso de desarrollar anticuerpos contra el VIH.
              </li>
              <li>
                <strong>Periodo de ventana: </strong> Es el tiempo que ocurre desde que la persona se infecta con el VIH hasta que se producen los anticuerpos. El tiempo en que tarda en ocurrir la seroconversión
              </li>
            </ul>
            <p>
              Cuando una persona se hace una prueba de anticuerpos VIH que resulta positiva, quiere decir que la persona ha completado la seroconversión, o sea que ha desarrollado anticuerpos VIH. Los síntomas son similares al Flu, disminuyen según los anticuerpos y las células inmunológicas combaten el VIH.
            </p>
            <p>
              El departamento de salud de New York utiliza un periodo de ventana (window period) de uno a tres meses para recomendar la prueba y diagnosticar la infección con VIH.
            </p>

            <p>
              Etapa asintomática.-
              <ul>
                <li>La mayoría de las personas infectadas permanecen sin síntomas entre 2 a 15 años</li>
                <li>El sistema inmunológico continúa funcionando normalmente por muchos años en la mayoría de las personas.</li>
                <li>Las decisiones sobre el tratamiento son basadas en carga viral, conteo de células T, estado clínico y otros factores.</li>
                <li>Tratamientos médicos son utilizados para prevenir infecciones oportunistas, suprimir la reproducción del virus y preservar el funcionamiento inmunológico.</li>
              </ul>
             
            </p>
            <p>
              Etapa sintomática.
              <ul>
                <li>Estado progresivo de la infección basada en carga viral, conteo de células T, otras pruebas de laboratorio y estado clínico.</li>
                <li>El conteo de células T, pude reducir gradualmente o rápidamente.</li>
                <li>La carga viral puede permanecer alta aún con tratamiento.</li>
                <li>El tratamiento puede ayudar a prevenir más daño al sistema inmunológico</li>
                <li>En algunas personas, el daño es progresivo aún con tratamiento</li>
              </ul>
            </p>
            <p>
              Etapa avanzada de la enfermedad.
              <ul>
                <li>Puede avanzar en forma gradual o drásticamente.</li>
                <li>La carga viral permanece alta</li>
                <li>Las células T pueden seguir disminuyendo.</li>
                <li>La salud de la persona no responde al tratamiento.</li>
                <li>Las infecciones oportunistas y otras condiciones causan complicaciones serias que pueden ser fatales.</li>
                <li>Algunos síntomas en esta etapa pueden incluir células T menor de 50, demencia por VIH, diarrea líquida por más de tres semanas con marcada pérdida de peso, cáncer avanzado y otras condiciones.</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
      
      <!-- Repite la estructura para más elementos según sea necesario -->
      <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            <div class="centrar">
              Coafactores de Deterioro Progresivo
            </div>
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>
              Son los que aumentan el riesgo de que la enfermedad avance de una etapa asintomática de VIH positivo a sintomática; ejemplos:
              <ul>
                <li>Adquirir cepas de VIH que son mutantes o resistentes</li>
                <li>No responder al tratamiento médico contra el VIH</li>
                <li>Uso de bebidas alcohólicas u otras drogas</li>
                <li>Infecciones de enfermedades de transmisión sexual que no han sido atendidos</li>
                <li>Mala nutrición</li>
                <li>Predisposición genética a enfermedades</li>
              </ul>
            </p>
          </div>
        </div>
      </div>


       <!-- Repite la estructura para más elementos según sea necesario -->
       <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            <div class="centrar">
              Modos de Transmisión del VIH
            </div>
          </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <ul>
              <li>Sexo sin protección: vaginal, anal u oral</li>
              <li>Sangre a sangre: compartir jeringas, riesgo ocupacional y productos de la sangre</li>
              <li>Transmisión perinatal: durante el embarazo, durante el nacimiento y durante la lactancia.</li>
              <li>Exposición a través de mucosas: salpicaduras de sangre en la piel, párpados, vías nasales y boca.</li>
            </ul>
          </div>
        </div>
      </div>     
      
       <!-- Repite la estructura para más elementos según sea necesario -->
       <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo " type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            <div class="centrar">
              Fluidos de Transmisión
            </div>
          </button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <ul>
              <li>Sangre</li>
              <li>Semen</li>
              <li>Fluidos pre- eyaculatorios</li>
              <li>Secreciones vaginales</li>
              <li>Leche materna</li>
            </ul>
            <p>La puerta de entrada del virus es: vagina, ano, boca y cabeza del pene. La pareja que recibe está en mayor riesgo que la pareja que inserta.</p>
          </div>
        </div>
      </div>
      
      
       <!-- Repite la estructura para más elementos según sea necesario -->
       <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo " type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
            <div class="centrar">
              Recomendaciones Generales y Consejos Caseros
            </div>
          </button>
        </h2>
        <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>
              Evalúe el riesgo en el sexo: enfoque en la conducta y no en la identidad u orientación sexual, solicite y obtenga información sin hacer juicios, como por ejemplo: Ha tenido usted sexo con hombres, mujeres o ambos?, Ha penetrado recibido o ambos?, utiliza drogas y/o alcohol antes de tener sexo?
            </p>
            <p>
              Prevenga la transmisión de sangre a sangre:
              <ul>
                <li>Llene la jeringuilla con agua y agítela bien para desprender las partículas de sangre.</li>
                <li>Llene la jeringuilla con blanqueador (cloros) y agítela bien</li>
                <li>Llene la jeringuilla con agua fresca</li>
                <li>Limpie la cuchara o tapa que haya usado para cocinar la droga. Enjuáguela con clorox y agua.</li>
                <li>Reemplace los filtros de algodón.</li>
              </ul>
            </p>
            <p>
              Riesgo ocupacional. Exposición a través de la piel rota expuesta a sangre proveniente de:
              <ul>
                <li>Instrumentos afilados</li>
                <li>Recipientes de vidrio rotos conteniendo sangre</li>
                <li>Hincado de agujas</li>
              </ul>
            </p>
            <p>
              Por lo tanto prevenga la infección con VIH realizando:
              <ul>
                <li>Lavado adecuado de manos</li>
                <li>Cambios de guantes entre pacientes</li>
                <li>Gafas protectoras</li>
                <li>Batas</li>
                <li>Mascarillas</li>
                <li>Desecho cuidadoso de instrumentos afilados en envases adecuados</li>
                <li>Técnicas adecuadas de esterilización de instrumentos</li>
              </ul>
            </p>
            <p>
              Protéjase con el uso de barreras tales como:
              <ul>
                <li>Condones</li>
                <li>Condones femeninos</li>
                <li>Guantes de látex</li>
              </ul>
            </p>
            <p>
              Si usted llega a embarazarse busque tratamiento médico inmediatamente. El cuidado prenatal es importante para toda mujer embarazada y su futuro niño, pero es doblemente más importante para la mujer con HIV y su niño.
            </p>
            <p>Evite tanto como sea posible el contacto con personas que tengan alguna enfermedad contagiosa. Por ejemplo llame por teléfono antes de visitar a amigos o familiares para asegurarse de que los miembros de esa casa están sanos.</p>
            <p>El ejercicio es importante para mantenerse en forma, mejora la depresión, aumenta la oxigenación de los tejidos y agranda la inmunidad. Realice ejercicios moderados de acuerdo a sus capacidades, por su puesto.</p>
            <p>Los aspectos psicológicos que deja el VIH pueden ser tan desanimantes como los físicos. No dude en buscar ayuda en un consejero o a un miembro de un grupo de soporte. Participando en un grupo de soporte puede también ser una excelente manera de aprender sobre nuevos avances en el tratamiento de esta enfermedad.</p>

          </div>
        </div>
      </div>
      
       <!-- Repite la estructura para más elementos según sea necesario -->
       <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo " type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
            <div class="centrar">
              Recomendaciones Alimenticias
            </div>
          </button>
        </h2>
        <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>
              Incremente la ingesta de vegetales y frutas frescas. Coma una dieta consistente en 75% de alimentos crudos de crecimiento orgánico si es posible.
            </p>
            <p>
              Evite los alimentos que han sido tratados con pesticidas y otros químicos.
            </p>
            <p>
              Coma lentejas, remolachas, nueces, granos enteros y brown rice.
            </p>
            <p>
              Coma a plenitud vegetales crucíferos, tales como brócoli, col de Bruselas, col y coliflor. También consuma vegetales tales amarillos y naranja profundo tales como la zanahoria, calabazas y patatas.
            </p>
            <p>
              Beba agua pura o destilada 8 o más vasos al día. Todas las células del sistema orgánico necesitan agua. Beba agua a plenitud aún si no tiene sed.
            </p>
            <p>
              Coma mucha fruta, especialmente la piña y la papaya.
            </p>
            <p>
              Coma ajos, cebollas y hongos.
            </p>
            <p>
              Limite la ingesta de soya y sus derivados, los cuales contienen enzimas inhibidoras; pero no los elimine completamente de su dieta, son una gran fuente de proteínas.
            </p>
            <p>
              Elimine de su dieta las sodas, alimentos con aditivos y colorantes, comida chatarra, maníes, alimentos refinados procesados, grasas saturadas, sal azúcares, harinas blancas, toda proteína animal y cualquier alimento que contenga cafeína.
            </p>
            <p>
              Prepare los siguientes jugos: J62– J61– J30– J40 Hágalos en extractor o licuadora, se recomienda ingerirlos dos veces al día.
            </p>

          </div>
        </div>
      </div> 
      
   
       <!-- Repite la estructura para más elementos según sea necesario -->
       <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo " type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
            <div class="centrar">
              Recomendaciones Ambientales
            </div>
          </button>
        </h2>
        <div id="collapseTen" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>
              Evite tanto como sea posible el stress. Haga un descanso regular.
            </p>
            <p>
              Evite la exposición a pululantes y toxinas tales como el humo de los automóviles, tabaco y químicos de limpieza del hogar.
            </p>
            <p>
              Evite la exposición excesiva al sol y a las temperaturas extremas de calor o frío.
            </p>
            <p>
              Experimente técnicas de meditación y relajación.
            </p>
            <p>
              Evite pasar mucho tiempo en un medioambiente público con mucha gente.
            </p>
            <p>
              Practique una higiene personal cuidadosa, especialmente lávese frecuentemente las manos. Muchos organismos infecciosos son esparcidos a través de las manos.
            </p>

          </div>
        </div>
      </div>    
      
      
       <!-- Repite la estructura para más elementos según sea necesario -->
       <div class="accordion-item m-2">
        <h2 class="accordion-header accordionheaderStilo">
          <button class="accordion-button collapsed accordionheaderStilo " type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
            <div class="centrar">
              Prevención
            </div>
          </button>
        </h2>
        <div id="collapseEleven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>
              La forma más segura de evitar el contacto con el HIV a través del sexo es abstinencia por completo de sexo. Obviamente esto no es algo que la gente podría considerar. La próxima vez que escoja una pareja tiene que ser una relación monogámica y asegúrese de que esté libre del virus.
            </p>
            <p>
              Si usted tiene múltiples compañeros sexuales, o si usted tiene contacto sexual con alguien cuyo estado de salud no es conocido por usted, practique el sexo seguro. Use un condón de látex todo el tiempo para el sexo anal y oral tanto como el genital a genital. Para más seguridad use además un espermicida.
            </p>
            <p>
              Siempre recuerde que una persona, quien es HIV positivo puede no mostrar signos de infección y, de hecho usted no podría tener idea de que él o ella esté infectado.
            </p>
            <p>
              Nunca utilice agujas o jeringas usadas. El HIV de una persona infectada puede quedar en la aguja sin ser detectado y podría ser inyectado directamente al cuerpo de la próxima persona que la use
            </p>
            <p>
              Si usted planea perforar su oreja o realizarse un tatuaje, vaya a un profesional calificado, que use agujas descartables para cada procedimiento. Algunos procedimientos de esterilización no son completamente efectivos.
            </p>

          </div>
        </div>


      </div>    
            <!-- Repite la estructura para más elementos según sea necesario -->
            <div class="accordion-item m-2">
              <h2 class="accordion-header accordionheaderStilo">
                <button class="accordion-button collapsed accordionheaderStilo " type="button" data-bs-toggle="collapse" data-bs-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
                  <div class="centrar">
                    Cocina Saludable
                  </div>
                </button>
              </h2>
              <div id="collapse12" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Aproveche nuestros consejos alimenticios preparando las siguientes recetas: R04– R06– R08– R10– R12– R14– R18– R35– R45– R48.
                </div>
              </div>
            </div>   
      
      

            
                  
                        
            
            
    
    </div>
  </div>
 
  
  

    




  <footer>

    <div class="container-flex text-center bg-verde">
      <div class="container-fluid text-center">
        <div class="row">
          <div class="p-4 col-md-4">
            <img class="mx-4" src="/src/img/imagenes/logo3 1Logofooter.png" width="" alt="Logo">
          </div>
          <div class="p-4 col-md-4 offset-md-4">
            <a href="https://www.instagram.com/armozanatural1/"><img class="mx-2 img-fluid"
                src="/src/img/imagenes/Component 1redes.png" width="30" alt="Instagram"></a>
            <a href="https://www.facebook.com/armozanatural"><img class="mx-2 img-fluid" src="/src/img/imagenes/Vectorredes-1.png"
                width="30" alt="Facebook"></a>
            <a href=""><img class="mx-2 img-fluid" src="/src/img/imagenes/Vectorredes-2.png" width="30" alt="TikTok"></a>
            <a href="https://www.youtube.com/channel/UCGGaoxOt0dyOVFCRiqSrt4Q"><img class="mx-2 img-fluid"
                src="/src/img/imagenes/Vectorredes.png" width="30" alt="YouTube"></a>

          </div>
          <div>
            <h6 class="disclaimerTitulo">
              Disclaimer
            </h6>
            <p class="disclaimerTexto">Productos vitaminicos, minerales y naturales y las instrucciones
              generales sugeridas, no intentan substituir los servicios
              de un facultativo.<br>
              Si sufre de alguna enfermedad consulte con su medico.
              No pare de tomar ni cambie ningun medicamento o tratamiento
              prescripto por su medico primario o el hospital.
              Consulte con su medico primario antes de tomar vitaminas,
              productos naturales, hacer ejercicios, o cualquier otra
              sugerencia de esta pagina web.</p>
          </div>
        </div>







      </div>
  </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  </body>
</html>