.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 2rem; /* Espacio para las flechas */
}

#noticia {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    
    transition: transform 0.5s ease-in-out;
}

.card {
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    box-sizing: border-box;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(20px);
    }
}

.arrow {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

#flecha-izquierda {
    left: 0;
}

#flecha-derecha {
    right: 0;
}

@media (max-width: 768px) {
    #noticia {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    #noticia {
        grid-template-columns: repeat(1, 1fr);
    }

    .arrow {
        font-size: 1.5rem;
    }
}



.titulonoticia{
    color: #37474f;
    line-height: 1.3;
    font-weight: 400;
    margin-bottom: 50px;
}

.noti{
    margin-top: 15vh;
    margin-bottom: 15vh;
}


/* Aplicar animación al botón */
.animacion-divertida {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
   /*  Repetir la animación infinitamente */
   /*  Repetir la animación infinitamente */
}

.animacion-divertida:hover {
  transform: scale(1.2); /* Aumenta el factor de escala para un aumento más pronunciado */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Agrega una sombra al botón para destacar */
  animation: none; /* Detener la animación durante el hover */
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
}

.my-float{
	margin-top:16px;
}
