    /* Agrega estilos personalizados según sea necesario */
    #languageSelector {
        position:static;
        top: 0;
        left: 0;
        width: 100%;
        background: #fff;
        padding: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        display: flex;
        justify-content:center;
    }

    .language-option {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .language-option img {
        width: 30px; /* Ajusta el tamaño según sea necesario */
        margin-right: 10px;
    }