.imgsefue{

    @media screen and (max-width: 580px){
        display: none;
    }
    
}

/* Aplicar animación al botón */
.animacion-divertida {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
   /*  Repetir la animación infinitamente */
   /*  Repetir la animación infinitamente */
}

.animacion-divertida:hover {
  transform: scale(1.2); /* Aumenta el factor de escala para un aumento más pronunciado */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Agrega una sombra al botón para destacar */
  animation: none; /* Detener la animación durante el hover */
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
}

.my-float{
	margin-top:16px;
}
